@{
    Layout = null;
}
<div style="padding:20px;">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <h2><i class="fas fa-edit"></i> 표준화 & Follow-Up 등록</h2>
                </td>
                <td style="text-align: right;">
                    <button id="btnEditStandardFollowUp" class="custom-button"><i class="fas fa-plus-square"></i> 등록</button>
                    <button id="btnCancelStandardFollowUp" class="custom-button"><i class="fas fa-window-close"></i> 취소</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3 class="qmsDlgH"><i class="fas fa-caret-square-down"></i> 표준화 & Follow-Up 조치</h3>
    <table id="test" width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <colgroup>
            <col style="width:150px;" />
            <col style="width:auto;" />
            <col style="width:150px;" />
            <col style="width:auto;" />
        </colgroup>
        <tr>
            <th class="reqVal"><i class="fa fa-caret-right"></i> 범위</th>
            <th class="reqVal">반영내용</th>
            <th class="reqVal">완료일</th>
            <th class="reqVal">기술표준문서</th>
            <th class="reqVal">첨부파일</th>
        </tr>
        <tr id="EditStandardFollowUpPFMEA">
            <th class="reqVal"><i class="fa fa-caret-right"></i> P-FMEA</th>
        </tr>
        <tr id="EditStandardFollowUpDrawing">
            <th class="reqVal"><i class="fa fa-caret-right"></i> 도면</th>
        </tr>
        <tr id="EditStandardFollowUpManagePlan">
            <th class="reqVal"><i class="fa fa-caret-right"></i> 관리계획서</th>
        </tr>
        <tr id="EditStandardFollowUpWorkStd">
            <th class="reqVal"><i class="fa fa-caret-right"></i> 작업표준서</th>
        </tr>
        <tr id="EditStandardFollowUpInspect">
            <th class="reqVal"><i class="fa fa-caret-right"></i> 검사기준서</th>
        </tr>
        <tr>
            <th class="reqVal"><i class="fa fa-caret-right"></i> 회의내용</th>
            <td colspan="4">
                <input id="txtEditStandardFollowUpDesc" type="text" style="width:100%;" />
            </td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        InitEditStandardFollowUp("EditStandardFollowUpPFMEA", "PFMEA");
        InitEditStandardFollowUp("EditStandardFollowUpDrawing", "Drawing");
        InitEditStandardFollowUp("EditStandardFollowUpManagePlan", "ManagePlan");
        InitEditStandardFollowUp("EditStandardFollowUpWorkStd", "WorkStd");
        InitEditStandardFollowUp("EditStandardFollowUpInspect", "Inspect");

        var btnDlgSave$ = $("#btnEditStandardFollowUp").jqxButton();
        btnDlgSave$.on("click", function () {
            var param = {};
            param.StandardFollowUpList = [];

            var getEditStandardFollowUp = function (array, datafield) {
                var data = {};
                var dataList = $("[data-field='" + datafield+"']");

                data.ModuleOID = $(dataList[0]).attr("ModuleOID"); // ModuleOID
                data.DocSummary = $(dataList[1]).val(); // 반영내용
                data.DocCompleteDt = $(dataList[2]).val(); // 완료일
                data.DocOID = $(dataList[3]).attr("DocOID"); // 문서OID
                data.DocType = $(dataList[3]).attr("DocType"); // 문서 타입

                array.push(data);
            }

            getEditStandardFollowUp(param.StandardFollowUpList, "PFMEA");
            getEditStandardFollowUp(param.StandardFollowUpList, "Drawing");
            getEditStandardFollowUp(param.StandardFollowUpList, "ManagePlan");
            getEditStandardFollowUp(param.StandardFollowUpList, "WorkStd");
            getEditStandardFollowUp(param.StandardFollowUpList, "Inspect");

            console.log(param.StandardFollowUpList);

            $.post('/Qms/SaveStandardFollowUp', param, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }

                alert("저장되었습니다.");
                CloseDlgQuickValidation();
            }).fail(function (err) {
                alert(err.responseText);
            });
        });

        var btnDlgCancel$ = $("#btnCancelStandardFollowUp").jqxButton();
        btnDlgCancel$.on("click", function () {
            CloseDlgStandardFollowUp();
        });
    });

    function InitEditStandardFollowUp(tableTrId, datafield) {
        var innerHtml = "";
        var ModuleOID = "@Model.ModuleOID";
        var OID = "@Model.OID";

        innerHtml += "<td style='display:none;'>";
        innerHtml += "<div OID='" + OID + "' ModuleOID='" + ModuleOID + "' data-field='" + datafield + "'></div>"
        innerHtml += "</td>";
        innerHtml += "<td>";
        innerHtml += "<input type='text' style='width:\"100%\"' id='txtEditStandardFollowUpDesc_" + datafield+"' data-field='" + datafield + "'>";
        innerHtml += "</td>";
        innerHtml += "<td>";
        innerHtml += "<div id='dtEditStandardFollowUpComplete_" + datafield +"'data-field='" + datafield + "'></div>";
        innerHtml += "</td>";
        innerHtml += "<td>";
        innerHtml += "<input type='text' style='width:62%;height:32px;margin-right:5px;' id='txtEditStandardFollowUpDocument_" + datafield + "' data-field='" + datafield + "' readOnly>";
        innerHtml += "<button id='btnEditStandardFollowUpSearch_" + datafield + "' class='custom-button' onclick='EditStandardFollowUpDocumentSearch()'><i class='fas fa-search'></i> 검색</button>";
        innerHtml += "</td>";
        innerHtml += "<td>";
        innerHtml += "<input type='text' style='width:52%;height:32px;margin-right:5px;' id='txtEditStandardFollowUpFile_" + datafield + "' data-field='" + datafield + "' readOnly>";
        innerHtml += "<button id='btnEditStandardFollowUpSearchFile_" + datafield + "' class='custom-button' onclick='EditStandardFollowUpFileSearch()'><i class='fas fa-search'></i> 파일등록</button>";
        innerHtml += "</td>";


        $("#" + tableTrId).append(innerHtml);

        $("#dtEditStandardFollowUpComplete_" + datafield).jqxDateTimeInput(DateFormat);
        $("#dtEditStandardFollowUpComplete_" + datafield).val(WebUtils.GetDate(-1, "m", "-"));
        $("#dtEditStandardFollowUpComplete_" + datafield).jqxDateTimeInput({ width: 150, height: 32 });
    }

    function EditStandardFollowUpDocumentSearch() {

    }

    function EditStandardFollowUpFileSearch() {

    }
</script>

