@{
    Layout = null;
}
<div style="padding:20px;">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <h2><i class="fas fa-edit"></i> 유효성검증 등록</h2>
                </td>
                <td style="text-align: right;">
                    <button id="btnEditQuickValidation" class="custom-button"><i class="fas fa-plus-square"></i>등록</button>
                    <button id="btnCancelQuickValidation" class="custom-button"><i class="fas fa-window-close"></i>취소</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3><i class="fas fa-caret-square-down"></i> 기본정보</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <colgroup>
            <col style="width:180px;" />
            <col style="width:auto;" />
            <col style="width:180px;" />
            <col style="width:auto;" />
        </colgroup>
        <tr>
            <th><i class="fa fa-caret-right"></i> 신속대응No</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 공장</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 품번/품명</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> LOT NO</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 고객사</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 작업자</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 발생유형</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 작성일자</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 작업수량</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 불량수량</th>
            <td>
            </td>
        </tr>
    </table>
</div>

<div>
    <h3><i class="fas fa-caret-square-down"></i> 문제요약</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <colgroup>
            <col style="width:180px;" />
            <col style="width:auto;" />
            <col style="width:180px;" />
            <col style="width:auto;" />
        </colgroup>
        <tr>
            <th><i class="fa fa-caret-right"></i> 제목</th>
            <td colspan="3">
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 발생처</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 결함정도</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 귀책구문</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 귀책처</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 요약</th>
            <td>
            </td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 불량내용상세</th>
            <td>
            </td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 재발여부</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 발생장소</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 발생일자</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 책임업체/부서</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 시정판정</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 유발공정</th>
            <td>
            </td>
        </tr>
    </table>
</div>

<div>
    <h3><i class="fas fa-caret-square-down"></i> 유효성검증</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <tr>
            <th><i class="fa fa-caret-right"></i> 구분</th>
            <th><i class="fa fa-caret-right"></i> 1차 유효성검증</th>
            <th><i class="fa fa-caret-right"></i> 2차 유효성검증</th>
            <th><i class="fa fa-caret-right"></i> 3차 유효성검증</th>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 검증시작일</th>
            <td>
                <div id="dtEditQuickValidationOneConfirmSt" />
            </td>
            <td>
                <div id="dtEditQuickValidationTwoConfirmSt" />
            </td>
            <td>
                <div id="dtEditQuickValidationThreeConfirmSt" />
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 검증완료일</th>
            <td>
                <div id="dtEditQuickValidationOneConfirmEt" />
            </td>
            <td>
                <div id="dtEditQuickValidationTwoConfirmEt" />
            </td>
            <td>
                <div id="dtEditQuickValidationThreeConfirmEt" />
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 담당자</th>
            <td>
                <div id="txtEditQuickValidationOneUserNm" />
            </td>
            <td>
                <div id="txtEditQuickValidationTwoUserNm" />
            </td>
            <td>
                <div id="txtEditQuickValidationThreeUserNm" />
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 검증일</th>
            <td>
                <div id="dtEditQuickValidationOneConfirmBaseDt" />
            </td>
            <td>
                <div id="dtEditQuickValidationTwoConfirmBaseDt" />
            </td>
            <td>
                <div id="dtEditQuickValidationThreeConfirmBaseDt" />
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 판정</th>
            <td>
                <input type="radio" name="radioOneConfirm" value="1" />OK
                <input type="radio" name="radioOneConfirm" value="0" />NG
            </td>
            <td>
                <input type="radio" name="radioTwoConfirm" value="1" />OK
                <input type="radio" name="radioTwoConfirm" value="0" />NG
            </td>
            <td>
                <input type="radio" name="radioThreeConfirm" value="1" />OK
                <input type="radio" name="radioThreeConfirm" value="0" />NG
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 검증내용요약</th>
            <td>
                <input type="text" id="txtEditQuickValidationOneConfirmDesc" style="width:100%" />
            </td>
            <td>
                <input type="text" id="txtEditQuickValidationTwoConfirmDesc" style="width:100%" />
            </td>
            <td>
                <input type="text" id="txtEditQuickValidationThreeConfirmDesc" style="width:100%" />
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 종료여부</th>
            <td>
                <input type="radio" name="radioOneEnd" value="1" />지속
                <input type="radio" name="radioOneEnd" value="0" />종료
            </td>
            <td>
                <input type="radio" name="radioTwoEnd" value="1" />지속
                <input type="radio" name="radioTwoEnd" value="0" />종료
            </td>
            <td>
                <input type="radio" name="radioThreeEnd" value="1" />지속
                <input type="radio" name="radioThreeEnd" value="0" />종료
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 종료사유</th>
            <td>
                <input type="text" id="txtEditQuickValidationOneEndDesc" style="width:100%" />
            </td>
            <td>
                <input type="text" id="txtEditQuickValidationTwoEndDesc" style="width:100%" />
            </td>
            <td>
                <input type="text" id="txtEditQuickValidationThreeEndDesc" style="width:100%" />
            </td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        var dtEditQuickValidationCreateDt$ = $("#dtEditQuickValidationCreateDt");
        var dtEditQuickValidationOccurDt$ = $("#dtEditQuickValidationOccurDt");
        var dtEditQuickValidationOneConfirmSt$ = $("#dtEditQuickValidationOneConfirmSt");
        var dtEditQuickValidationTwoConfirmSt$ = $("#dtEditQuickValidationTwoConfirmSt");
        var dtEditQuickValidationThreeConfirmSt$ = $("#dtEditQuickValidationThreeConfirmSt");
        var dtEditQuickValidationOneConfirmEt$ = $("#dtEditQuickValidationOneConfirmEt");
        var dtEditQuickValidationTwoConfirmEt$ = $("#dtEditQuickValidationTwoConfirmEt");
        var dtEditQuickValidationThreeConfirmEt$ = $("#dtEditQuickValidationThreeConfirmEt");
        var dtEditQuickValidationOneConfirmBaseDt$ = $("#dtEditQuickValidationOneConfirmBaseDt");
        var dtEditQuickValidationTwoConfirmBaseDt$ = $("#dtEditQuickValidationTwoConfirmBaseDt");
        var dtEditQuickValidationThreeConfirmBaseDt$ = $("#dtEditQuickValidationThreeConfirmBaseDt");


        @*dtEditQuickValidationCreateDt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationOccurDt$.text(WebUtils.GetDate(-1, "m", "-"));*@

        // 검증 시작일
        dtEditQuickValidationOneConfirmSt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationTwoConfirmSt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationThreeConfirmSt$.text(WebUtils.GetDate(-1, "m", "-"));

        // 검증 완료일
        dtEditQuickValidationOneConfirmEt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationTwoConfirmEt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationThreeConfirmEt$.text(WebUtils.GetDate(-1, "m", "-"));

        // 검증일
        dtEditQuickValidationOneConfirmBaseDt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationTwoConfirmBaseDt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationThreeConfirmBaseDt$.text(WebUtils.GetDate(-1, "m", "-"));
    });
</script>

