@{
    Layout = null;
}
<div style="padding:20px;">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <h2><i class="fas fa-edit"></i> 작업자 교육 등록</h2>
                </td>
                <td style="text-align: right;">
                    <button id="btnEditWorkerEducation" class="custom-button"><i class="fas fa-plus-square"></i> 등록</button>
                    <button id="btnCancelWorkerEducation" class="custom-button"><i class="fas fa-window-close"></i> 취소</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3 class="qmsDlgH"><i class="fas fa-caret-square-down"></i> 작업자교육</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable qmsDlgTable">
        <tr>
            <th class="reqVal"><i class="fa fa-caret-right"></i> 교육일자</th>
            <td>
                <div id="dtEditWorkerEducationProcess" />
            </td>
            <th class="reqVal"><i class="fa fa-caret-right"></i> 교육내용</th>
            <td>
                <input id="txtEditWorkerEducationDesc" type="text" style="width:100%;"/>
            </td>
        </tr>
        <tr>
            <th class="reqVal"><i class="fa fa-caret-right"></i> 교육계획</th>
            <td>
                <input id="txtEditWorkerEducationPlan" type="text" style="width:100%;" />
            </td>
            <th class="reqVal"><i class="fa fa-caret-right"></i> 담당자</th>
            <td>
                <div style="display:flex;">
                    <input id="txtEditWorkerEducationUser" type="text" style="width:80px; margin-right:5px;" readonly/>
                    <button id="btnEditWorkerEducationUserSearch" class="custom-button"><i class="fas fa-search"></i> 검색</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<div style="margin-top:25px;">
    <h3 class="qmsDlgH"><i class="fas fa-caret-square-down"></i> 교육자료</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <tr>
            <th class="reqVal">
                <i class="fa fa-caret-right"></i>
                <button id="btnEditWorkerEducationFileSearch" class="custom-button"><i class="fas fa-plus-square"></i> 파일등록</button>
            </th>
            <td>
                <div id="txtEditWorkerEducationFileNm"></div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        var dtEditWorkerEducationProcess$ = $("#dtEditWorkerEducationProcess");

        dtEditWorkerEducationProcess$.jqxDateTimeInput(DateFormat);
        dtEditWorkerEducationProcess$.val(WebUtils.GetDate(-1, "m", "-"));
        dtEditWorkerEducationProcess$.jqxDateTimeInput({ width: 150, height: 32 });

        var btnDlgUserSearch$ = $("#btnEditWorkerEducationUserSearch").jqxButton();
        btnDlgUserSearch$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("담당자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#txtEditWorkerEducationUser").val(res[0].Name);
                $("#txtEditWorkerEducationUser").attr("EduUserOID", res[0].OID);

            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        var btnDlgSave$ = $("#btnEditWorkerEducation").jqxButton();
        btnDlgSave$.on("click", function () {
            var param = {};

            param.QuickOID = "@ViewBag.QuickOID";
            param.ModuleOID = "@ViewBag.ModuleOID";
            param.EduDetail = $("#txtEditWorkerEducationDesc").val();
            param.EduPlan = $("#txtEditWorkerEducationDesc").val();
            param.EduUserOID = $("#txtEditWorkerEducationUser").attr("EduUserOID");
            param.EduDt = dtEditWorkerEducationProcess$.val();

            if (param.EduUserOID == undefined || param.EduUserOID == null) {
                alert("담당자를 지정해주세요");
                return;
            }

            $.post('/Qms/InsWorkerEducation', param, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
                alert("저장되었습니다.");
                //CloseDlgWorkerEducation();

                PageReload();
            }).fail(function (err) {
                alert(err.responseText);
            });
        });

        @*var btnDlgCancel$ = $("#btnCancelWorkerEducation").jqxButton();
        btnDlgCancel$.on("click", function () {
            CloseDlgWorkerEducation();
        });*@
    });
</script>

