@{
    Layout = null;
}
<div style="padding:20px;">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <h2><i class="fas fa-edit"></i> 유효성검증 등록</h2>
                </td>
                <td style="text-align: right;">
                    <button id="btnEditQuickValidation" class="custom-button"><i class="fas fa-plus-square"></i> 등록</button>
                    <button id="btnCancelQuickValidation" class="custom-button"><i class="fas fa-window-close"></i> 취소</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*<div>
    <h3 class="qmsDlgH"><i class="fas fa-caret-square-down"></i> 기본정보</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <colgroup>
            <col style="width:180px;" />
            <col style="width:auto;" />
            <col style="width:180px;" />
            <col style="width:auto;" />
        </colgroup>
        <tr>
            <th><i class="fa fa-caret-right"></i> 신속대응No</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 공장</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 품번/품명</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> LOT NO</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 고객사</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 작업자</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 발생유형</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 작성일자</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 작업수량</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 불량수량</th>
            <td>
            </td>
        </tr>
    </table>
</div>

<div style="margin-top:25px;">
    <h3 class="qmsDlgH"><i class="fas fa-caret-square-down"></i> 문제요약</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <colgroup>
            <col style="width:180px;" />
            <col style="width:auto;" />
            <col style="width:180px;" />
            <col style="width:auto;" />
        </colgroup>
        <tr>
            <th><i class="fa fa-caret-right"></i> 제목</th>
            <td colspan="3">
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 발생처</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 결함정도</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 귀책구문</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 귀책처</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 요약</th>
            <td>
            </td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 불량내용상세</th>
            <td>
            </td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 재발여부</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 발생장소</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 발생일자</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 책임업체/부서</th>
            <td>
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-caret-right"></i> 시정판정</th>
            <td>
            </td>
            <th><i class="fa fa-caret-right"></i> 유발공정</th>
            <td>
            </td>
        </tr>
    </table>
</div>
*@
<div style="margin-top:25px;">
    <h3 class="qmsDlgH"><i class="fas fa-caret-square-down"></i> 유효성검증</h3>
    <table width="100%" cellpadding="0" cellspacing="0" class="createtable">
        <tr>
            <th><i class="fa fa-caret-right"></i> 구분</th>
            <th>1차 유효성검증</th>
            <th>2차 유효성검증</th>
            <th>3차 유효성검증</th>
        </tr>
        <tr id="EditQuickValidationConfirmSt">
            <th><i class="fa fa-caret-right"></i> 검증시작일</th>
        </tr>
        <tr id="EditQuickValidationConfirmEt">
            <th><i class="fa fa-caret-right"></i> 검증완료일</th>
        </tr>
        <tr id="EditQuickValidationUser">
            <th><i class="fa fa-caret-right"></i> 담당자</th>
        </tr>
        <tr id="EditQuickValidationConfirmBaseDt">
            <th><i class="fa fa-caret-right"></i> 검증일</th>
        </tr>
        <tr id="EditQuickValidationConfirmJudgment">
            <th><i class="fa fa-caret-right"></i> 판정</th>
        </tr>
        <tr id="EditQuickValidationConfirmDesc">
            <th><i class="fa fa-caret-right"></i> 검증내용요약</th>
        </tr>
        <tr id="EditQuickValidationConfirmEnd">
            <th><i class="fa fa-caret-right"></i> 종료여부</th>
        </tr>
        <tr id="EditQuickValidationEndDesc">
            <th><i class="fa fa-caret-right"></i> 종료사유</th>
        </tr>
    </table>
</div>

<script>
    var Cnt = 3; // 유효성 검증 카운트
    $(function () {
        var dtEditQuickValidationCreateDt$ = $("#dtEditQuickValidationCreateDt");
        var dtEditQuickValidationOccurDt$ = $("#dtEditQuickValidationOccurDt");

        dtEditQuickValidationCreateDt$.text(WebUtils.GetDate(-1, "m", "-"));
        dtEditQuickValidationOccurDt$.text(WebUtils.GetDate(-1, "m", "-"));

        PrintQmsCheck();

        // 저장
        var btnDlgSave$ = $("#btnEditQuickValidation").jqxButton();
        btnDlgSave$.on("click", function () {
            var param = {};
            param.QmsCheckList = [];

            for (var i = 0; i < Cnt; i++) {
                var data = {};
                var validationClass = $(".ValidationClass_" + (i + 1));

                data.ModuleOID = $(validationClass[0]).attr("ModuleOID"); // ModuleOID
                data.Cnt = $(validationClass[0]).attr("Cnt"); // N차수
                data.CheckSt = $(validationClass[1]).jqxDateTimeInput("val"); // 검증시작일
                data.CheckSt = $(validationClass[1]).jqxDateTimeInput("val"); // 검증시작일
                data.CheckEt = $(validationClass[2]).jqxDateTimeInput("val"); // 검증종료일
                data.CheckUserOID = $(validationClass[3]).attr("UserOID"); // 담당자 OID
                data.CheckDt = $(validationClass[4]).jqxDateTimeInput("val"); // 검증일
                data.CheckFl = $(validationClass[5]).val() === true ? 1 : 0; // CheckFl
                data.CheckDetail = $(validationClass[7]).val(); // 검증내용요약
                data.FinishFl = $(validationClass[8]).val() === true ? 1 : 0; // FinishFl
                data.FinishDetail = $(validationClass[10]).val(); // 종료사유

                if (data.CheckUserOID === undefined || data.CheckUserOID === null) {
                    alert("담당자를 지정 해주세요.");
                    return;
                }

                param.QmsCheckList.push(data);
            }

            console.log(param.QmsCheckList);

            $.post('/Qms/SaveQuickValidation', param, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }

                alert("저장되었습니다.");
                CloseDlgQuickValidation();
            }).fail(function (err) {
                alert(err.responseText);
            });
        });

        // 취소
        var btnDlgCancel$ = $("#btnCancelQuickValidation").jqxButton();
        btnDlgCancel$.on("click", function () {
            CloseDlgQuickValidation();
        });
    });

    /**
     * 유효성 검증 테이블 구성
     * */
    function PrintQmsCheck() {
        var innerHtml = "";
        var ValidationClassNm = "ValidationClass";
        var ModuleOID = "@ViewBag.ModuleOID";

        // 검증시작일
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<div class='ValidationClass_" + (i + 1) + "' ModuleOID='" + ModuleOID + "' style='display:none;' Cnt='" + (i + 1)+"'></div>"
            innerHtml += "<div id='dtEditQuickValidationConfirmSt_" + (i + 1) + "' class='ValidationClass_" + (i + 1)+"' data-Cnt=" + (i + 1)+"></div>";
            innerHtml += "</td>";
            $("#EditQuickValidationConfirmSt").append(innerHtml);

            $("#dtEditQuickValidationConfirmSt_" + (i + 1)).jqxDateTimeInput(DateFormat);
            $("#dtEditQuickValidationConfirmSt_" + (i + 1)).val(WebUtils.GetDate(-1, "m", "-"));
            $("#dtEditQuickValidationConfirmSt_" + (i + 1)).jqxDateTimeInput({ width: 150, height: 32 });

            innerHtml = "";
        }

        // 검증완료일
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<div id='dtEditQuickValidationConfirmEt_" + (i + 1) + "' class='ValidationClass_" + (i + 1) +"' data-Cnt=" + (i + 1) + "></div>";
            innerHtml += "</td>";
            $("#EditQuickValidationConfirmEt").append(innerHtml);

            $("#dtEditQuickValidationConfirmEt_" + (i + 1)).jqxDateTimeInput(DateFormat);
            $("#dtEditQuickValidationConfirmEt_" + (i + 1)).val(WebUtils.GetDate(-1, "m", "-"));
            $("#dtEditQuickValidationConfirmEt_" + (i + 1)).jqxDateTimeInput({ width: 150, height: 32 });

            innerHtml = "";
        }

        // 담당자
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<input type='text' id='txtEditQuickValidationUser_" + (i + 1) + "' class='ValidationClass_" + (i + 1) + "' style='width: 80px; height:32px; margin-right: 5px;' data-Cnt=" + (i + 1) + " readOnly></input>";
            innerHtml += "<button id='btnEditQuickValidationUserSearch_" + (i + 1) + "' class='custom-button'><i class='fas fa-search'></i>검색</button>"
            innerHtml += "</td>";

            $("#EditQuickValidationUser").append(innerHtml);
            innerHtml = "";

            $("#btnEditQuickValidationUserSearch_" + (i + 1)).attr("onclick", "DlgQuickValidationSelectUser(" + (i + 1) + ")");

        }

        // 검증일
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<div id='dtEditQuickValidationConfirmBaseDt_" + (i + 1) + "' class='ValidationClass_" + (i + 1) +"' data-Cnt=" + (i + 1) + "></div>";
            innerHtml += "</td>";
            $("#EditQuickValidationConfirmBaseDt").append(innerHtml);

            $("#dtEditQuickValidationConfirmBaseDt_" + (i + 1)).jqxDateTimeInput(DateFormat);
            $("#dtEditQuickValidationConfirmBaseDt_" + (i + 1)).val(WebUtils.GetDate(-1, "m", "-"));
            $("#dtEditQuickValidationConfirmBaseDt_" + (i + 1)).jqxDateTimeInput({ width: 150, height: 32 });

            innerHtml = "";
        }

        // 판정
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<div id='btnEditQuickValidationConfirmJudgment_" + (i + 1) + "' class='ValidationClass_" + (i + 1) + "' data-Cnt=" + (i + 1) + "></div>";
            innerHtml += "</td>";

            $("#EditQuickValidationConfirmJudgment").append(innerHtml);
            $('#btnEditQuickValidationConfirmJudgment_' + (i + 1)).jqxSwitchButton({ height: 30, width: 80, checked: false, onLabel: "OK", offLabel: "NG" });

            innerHtml = "";
        }

        // 검증내용요약
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<input type='text' id='txtEditQuickValidationConfirmDesc_" + (i + 1) + "' class='ValidationClass_" + (i + 1) + "' style='100%' data-Cnt=" + (i + 1) + "></input>";innerHtml += "</div>"
            innerHtml += "</td>";

            $("#EditQuickValidationConfirmDesc").append(innerHtml);
            innerHtml = "";
        }

        // 종료여부
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<div id='btnEditQuickValidationConfirm_" + (i + 1) + "' class='ValidationClass_" + (i + 1) + "' data-Cnt=" + (i + 1) + "></div>";
            innerHtml += "</td>";

            $("#EditQuickValidationConfirmEnd").append(innerHtml);
            $('#btnEditQuickValidationConfirm_' + (i + 1)).jqxSwitchButton({ height: 30, width: 80, checked: false, onLabel: "OK", offLabel: "NG" });
            innerHtml = "";
        }

        // 종료사유
        for (var i = 0; i < Cnt; i++) {
            innerHtml += "<td>";
            innerHtml += "<div style='display:flex;'>"
            innerHtml += "<input type='text' id='txtEditQuickValidationEndDesc_" + (i + 1) + "' class='ValidationClass_" + (i + 1) + "' style='width:100%' data-Cnt=" + (i + 1) + "></input>";innerHtml += "</div>"
            innerHtml += "</td>";

            $("#EditQuickValidationEndDesc").append(innerHtml);
            innerHtml = "";
        }
    }

    function DlgQuickValidationSelectUser(cnt) {
        OpenApprovalPersonDialog(function (res) {
            if (res.length > 1) {
                alert("담당자는 한명만 지정 할 수 있습니다.");
                return;
            }
            $("#txtEditQuickValidationUser_" + cnt).val(res[0].Name);
            $("#txtEditQuickValidationUser_" + cnt).attr("UserOID", res[0].OID);

        }, null, null, '/Common/ApprovalPerson', '사용자 검색');
    }
</script>

