@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4 class="cleanTitle"><i class="fas fa-exclamation-circle"></i> 이슈</h4>
        <div id="pmMyIssueGrid"></div>
    </div>
    <script type="text/javascript">
        $(function () {
            var issueSource = {
                dataType: "json",
                dataFields: [
                    //System Mandatory
                    { name: 'OID', type: 'number' },
                    { name: 'Name', type: 'string' },
                    { name: 'ProjectNm', type: 'string' },
                    { name: 'Type', type: 'string' },
                    { name: 'Description', type: 'string' },
                    { name: 'CreateUs', type: 'number' },
                    { name: 'CreateUsNm', type: 'string' },
                    { name: 'TaskNm', type: 'string' },
                    { name: 'IssueType', type: 'string' },
                    { name: 'IssueTypeNm', type: 'string' },
                    { name: 'Oem_Lib_Nm', type: 'string' },
                    { name: 'Car_Lib_Nm', type: 'string' },
                    { name: 'CreateDt', type: 'date' },
                    { name: 'EstFinDt', type: 'date' },
                    { name: 'Importance', type: 'number' },
                    { name: 'ImportanceNm', type: 'string' },
                    { name: 'BPolicy', type: 'Array' },
                    { name: 'EstDisposalDt', type: 'date' },
                    { name: 'FinDt', type: 'date' },
                    //Object Optional
                    { name: 'Description', type: 'string' },
                ],
                id: 'OID',
            }
            $('#pmMyIssueGrid').jqxGrid({
                width: '100%',
                height: 550,
                editable: false,
                columns: [
                    {
                        text: 'NO', width: "5%", cellsalign: 'center', columntype: 'number', align: 'center',
                        cellsrenderer: function (row, column, value) {
                            return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                        }
                    },
                    { text: '프로젝트명', datafield: 'ProjectNm', width: "25%", align: 'center', cellsalign: 'center', },
                    { text: 'OEM', datafield: 'Oem_Lib_Nm', width: "10%", align: 'center', cellsalign: 'center', },
                    { text: '차종', datafield: 'Car_Lib_Nm', width: "10%", align: 'center', cellsalign: 'center', },
                    { text: '작업명', datafield: 'TaskNm', width: "10%", align: 'center', cellsalign: 'center', },
                    { text: '이슈명', datafield: 'Name', width: "10%", align: 'center', cellsalign: 'center', },
                    {
                        text: '상태', datafield: 'BPolicy', width: "10%", align: 'center', cellsalign: 'center',
                        cellsrenderer: function (row, column, value) {
                            return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + value.StatusNm + "</div>";
                        },
                    },
                    { text: '중요도', datafield: 'ImportanceNm', cellsalign: 'center', align: 'center', width: '5%' },
                    { text: '작성일', datafield: 'CreateDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                    { text: '예상처리일', datafield: 'EstFinDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                    { text: '처리완료일', datafield: 'FinDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                ],
            });
             RequestData("/Pms/@ViewBag.linker", {}, function (res) {
                 PrintJqxGrid(issueSource, $('#pmMyIssueGrid'), res);
            });
        });
    </script>
</body>
</html>
