@{
    Layout = null;
}
<style>
    .jqx-kanban-item-color-status {
        width: 100%;
        height: 30px;
        /*border-top-left-radius: 3px;
        border-top-right-radius: 3px;*/
        position: relative;
        margin-top: 0px;
        top: 0px;
        overflow: hidden;
    }

    .triangle-bottomright {
        width: 0;
        height: 0;
        border-bottom: 30px solid white;
        border-left: 30px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .jqx-kanban-item-color-status > .item-status-text {
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: #555;
        font-weight: bold;
        position: absolute;
        top: 0px;
        left: 30px;
        background-color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .jqx-kanban-item {
        padding-top: 0px;
    }

    .jqx-kanban-item-avatar {
        top: 9px;
    }

    .jqx-kanban-template-icon {
        position: absolute;
        right: 3px;
        top: 12px;
    }

    .jqx-window-collapse-button-background {
        display: none;
    }

    .jqx-kanban-item-text {
        padding: 6px 10px 0;
    }

    /*.kanban-legend {
        clear: both;
        float: right;
        padding: 10px 0;
        line-height:normal;
    }

    .kanban-legend > ul > li {
        float: left;
        margin-right: 20px;
        font-size: 0.8em;
    }

    .kanban-legend .legend-color {
        width: 10px;
        height: 10px;
        display: inline-block;
    }*/

    .jqx-kanban-item {
        position: relative;
        cursor:default !important;
    }

    .jqx-kanban-item:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right:0;
        bottom: 0;
        border-top: 30px solid transparent;
        border-right: 30px solid #ddd; /*칸반 배경색*/
    }

    ul, ol, li {
        list-style: none;
    }

    .prjtTitle{
        padding-top:5px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    .taskInfo > li{
        width: 50%;
        padding-top:6px;
        float: left;
        font-size:13px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    button.button {
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        padding: 5px 12px;
        background-color:#eee;
    }

    button.button:hover {
        background-color:#fff;
    }

    .filtercolumns{
        height:24px !important;
        line-height:24px;
    }

    input[role=textbox].jqx-input-group-addon{
        border-radius:0;
        height:26px !important;
        width:260px !important;
    }

    .jqx-input-group{
        height:26px !important;
        line-height:26px;
    }

    .jqx-input-group-addon > .jqx-icon-search-kdnc{
        width:17px;
        height:17px;
    }

</style>

<div>
    <div style="display:flex; width:100%;">
        <div style="width:20%;">
            <div id="treeProjectClass"></div>
        </div>
        <div id="emptyDiv" style="width:17px;"></div>
        <div style="display: block; width: 83%;">
            <div style="line-height:40px;">
                <h3 style="display:inline;padding-left:10px;"><i class="fas fa-briefcase"></i> My Task</h3>
                <div class='kanban-legend'>
                    <ul>
                        <li>
                            <div style="background:#888888;" class="legend-color"></div>
                            <!--준비-->
                            <span>계획</span>
                        </li>
                        <li>
                            <div style="background:#008ffb;" class="legend-color"></div>
                            <!--시작-->
                            <span>진행</span>
                        </li>
                        <li>
                            <div style="background:#f44336;" class="legend-color"></div>
                            <!--초과@Common.Constant.PmsConstant.DELAY_COLOR-->
                            <span>지연</span>
                        </li>
                        <li>
                            <div style="background:#feb019;" class="legend-color"></div>
                            <!--지연@Common.Constant.PmsConstant.WARNING_COLOR-->
                            <span>지연완료</span>
                        </li>
                        <li>
                            <div style="background:#a4c953;" class="legend-color"></div>
                            <span>완료</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear:both;" id="treeProjectKanban"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var selProjectOID = "";
    var sample = [
        { id: "1161", state: "new", label: "Combine Orders", content: "TEST", hex: "#5dc3f0", resourceId: 3 },
    ];
    $(function () {
        const taskStatus = @Html.Raw(Json.Encode(ViewBag.BPolicies));
        const kanbanColumn = taskStatus.map(function (item) {
            var tmpItem = {};
            tmpItem.text = item.StatusNm;
            tmpItem.iconClassName = 'jqx-icon-plus-alt';
            tmpItem.dataField = item.OID;
            return tmpItem;
        });

        var projClassSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'ProjectOID', type: 'number' },
                { name: 'Name', type: 'string' },
                { name: 'Children', type: 'array' },
                { name: 'expanded', type: 'bool' },
            ],
            hierarchy:
            {
                root: 'Children',
            },
            id: 'OID',
        };
        var projClassdataAdapter = new $.jqx.dataAdapter(projClassSource);
        // create Tree Grid
        const projClassInfo$ = $("#treeProjectClass");
        projClassInfo$.jqxTreeGrid('render');
        projClassInfo$.jqxTreeGrid({
            theme: 'kdnc',
            width: "100%",
            height: 808,
            source: projClassdataAdapter,
            sortable: true,
            filterable: true,
            columns: [
                { text: '분류', datafield: 'Name', width: "100%", align: 'center', cellsalign: 'left', }
            ],
            pagerRenderer: function () {
                RequestData("/Pms/SelPmsClass", null, function (res) {
                    PrintJqxTreeGrid(projClassSource, projClassInfo$, res);
                });
            }
        });
        projClassInfo$.jqxTreeGrid('pagerRenderer');
        projClassInfo$.on('rowSelect',
            function (event) {
                var args = event.args;
                var row = args.row;
                selProjectOID = row.OID;

                RequestData("/Pms/SelMyTask", { ProjectOID: selProjectOID }, function (res) {
                    if (res.length < 1) {
                        res = sample;
                    }
                    PrintJqxKanban(kanbanSource, projKanban$, res);
                });

            });
       
        var kanbanSource =
        {
            localData: sample,
            dataType: "array",
            dataFields: [
                { name: "id", type: "number" },
                { name: "ProcessOID", type: "number" },
                { name: "text", map: "label", type: "string" },
                { name: "ProcessNm", type: "string" },
                { name: "status", map: "state", type: "string" },
                { name: "ProcessSt", type: "number" },
                { name: "ProcessStNm", type: "string" },
                { name: "EstStartDt", type: "string" },
                { name: "EstEndDt", type: "string" },
                { name: "ActStartDt", type: "string" },
                { name: "ActEndDt", type: "string" },
                { name: "color", map: "hex", type: "string" },
                { name: "content", type: "string" },
                { name: "resourceId", type: "number" },
            ]
        };
        var kanbanDataAdapter = new $.jqx.dataAdapter(kanbanSource);
        const projKanban$ = $('#treeProjectKanban');
        projKanban$.jqxKanban({
            template: "<div class='jqx-kanban-item' id=''>"
                + "<div class='jqx-kanban-item-color-status'></div>"
                + "<div style='display: none;' class='jqx-kanban-item-avatar'></div>"
                + "<div class='jqx-kanban-item-text'></div>"
                + "<div style='display: none;' class='jqx-kanban-item-footer'></div>"
                + "</div>",
            width: "100%",
            height: 770,
            source: kanbanDataAdapter,
            // render column headers.
            columnRenderer: function (element, collapsedElement, column) {

            },
            itemRenderer: function (element, item, resource) {
                var contentSplit = item.content.split('|');//item.content
                $(element).find(".jqx-kanban-item-color-status").html("<span class='triangle-bottomright'></span><span class='item-status-text'>"+item.text+"</span>");
                var contentTag = "<div>";
                contentTag = contentTag + "<p class='prjtTitle'>" + "프로젝트명: <strong>[" + contentSplit[0] +"]</strong></p>";
                contentTag = contentTag + "<ul class='taskInfo clearfix'><li>" + "예상시작일: " + contentSplit[1] + "</li>";
                contentTag = contentTag + "<li>" + "예상완료일: " + contentSplit[2] + "</li>";
                contentTag = contentTag + "<li>" + "실제시작일: " + contentSplit[3] + "</li>";
                contentTag = contentTag + "<li>" + "실제완료일: " + contentSplit[4] + "</li>";
                contentTag = contentTag + "<li style='text-align:right;padding-right:10px;'><button class='button' data-proj-txt='" + contentSplit[0] + "' data-txt='' data-type='PROJECT' data-proj-oid='" + item.resourceId + "' data-oid='' ><i class='fa fa-list-alt'></i> 프로젝트</button></li>";
                contentTag = contentTag + "<li style='padding-left:20px;'><button class='button' data-proj-txt='" + contentSplit[0] + "' data-txt='" + item.text + "' data-type='PROCESS' data-proj-oid='" + item.resourceId + "' data-oid='" + item.id +"'><i class='fa fa-file-o'></i> 타스크</button></li>";
                contentTag = contentTag + "</ul></div>";
                $(element).find(".jqx-kanban-item-text").html(contentTag);
            },
            columns: kanbanColumn,
        });

        $(document).on('click', 'button.button', function () {
            var vType = $(this).attr('data-type');
            var vProjOid = $(this).attr('data-proj-oid');
            var vOid = $(this).attr('data-oid');
            var vProjTxt = $(this).attr('data-proj-txt');
            var vTxt = $(this).attr('data-txt');

            if (gClickDuplication) { return; }
            gClickDuplication = true;
            const loading$ = $('#loading');
            loading$.css('display', 'block');
            setTimeout(function () {
                var procLink = '';
                var procName = '';
                if (vType == 'PROJECT') {
                    procLink = '/Pms/InfoProject?OID=' + vProjOid;
                    procName = vProjTxt;
                } else {
                    procLink = '/Pms/InfoProcess?ProjectOID=' + vProjOid + "&OID=" + vOid;
                    procName = "[" + vProjTxt + "] " + vTxt;
                }
                if ($("div[tabUrl='" + procLink + "']").length > 0) {
                    var tabDiv = $("div[tabUrl='" + procLink + "']")[0].parentNode;
                    $('#tabContent').jqxTabs('select', $(tabDiv).index());
                    gClickDuplication = false;
                    loading$.css('display', 'none');
                    return;
                }

                $('#tabContent').jqxTabs('addLast', procName, "");
                var tabLength = $('#tabContent').jqxTabs('length');

                $.ajax({
                    url: procLink,
                    type: 'get',
                    dataType: 'html',
                    async: true,
                    success: function (resHtml) {
                        var content = $('#tabContent').jqxTabs('getContentAt', tabLength - 1);
                        $(content).html("<div class='wrapPage' tabUrl='" + procLink + "'>" + resHtml + "</div>");
                    }
                });
                gClickDuplication = false;
            }, 500);
            loading$.css('display', 'none');
        });

        RequestData("/Pms/SelMyTask", { ProjectOID: selProjectOID }, function (res) {
            if (res.length < 1) {
                res = sample;
            }
            PrintJqxKanban(kanbanSource, projKanban$, res);
        });

        alert('타스크 클릭 후 업무를 진행해주세요');
    });
</script>