@{
    Layout = null;
}

<div class="dashboardTop clearfix">
    <div>
        <p>내 작업<span>16</span></p>
        <p style="color:#f00;">내 지연작업<span>2</span></p>
        <button>+</button>
    </div>
    <div>
        <p>내 프로젝트<span>3</span></p>
        <button>+</button>
    </div>
    <div>
        <p>결재중 작업<span>5</span></p>
        <button>+</button>
    </div>
    <div>
        <p>산출물<span>12</span></p>
        <button>+</button>
    </div>
    <div>
        <p>이슈<span>4</span></p>
        <button>+</button>
    </div>
    <div>
        <p>DV 현황<span>6</span></p>
        <button>+</button>
    </div>
    <div>
        <p>PV 현황<span>6</span></p>
        <button>+</button>
    </div>
</div>

<div class="dashboardGraphs clearfix">
    <div style="width:100%;">
        <div class="graphH">
            프로젝트 진행 상태
            <div class="dashboardSelBox"></div>
        </div>
        <div class="chartTopAxis">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                고객대일정
                <br />프로젝트명
            </h4>
            <div class="diagonalLine"></div>
            <table>
                <tr>
                    <td colspan="12" id="thisYear"></td>
                </tr>
                <tr id="includeMonth">
                </tr>
            </table>
            <table>
                <tr id="taskLegend">
                </tr>
            </table>
            <h4>지연일수</h4>
        </div>
        <div class="pmProjectList">
            <div id="pmTaskRate" style="width:94%;height:180px;float:left;"></div>
            <div class="pmDelayTask">
                <ul id="delaySumList">
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div class="dashboardGrids clearfix">
    <div>
        <div class="graphH">
            <i></i> 예정작업
            <button>+</button>
        </div>
        <div id="pmScheduleList"></div>
    </div>
    <div>
        <div class="graphH">
            상세지연현황
            <button>+</button>
        </div>
        <div id="pmDelayList"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $('.dashboardSelBox').jqxComboBox({
            width: 110,
            height: 32,
        });


        $('#pmScheduleList').jqxGrid({
            width: '100%',
            height: 300,
            editable: false,
            columnsHeight: 44,
            columns: [
                { text: 'NO', format: 'number', width: '4%', },
                { text: '프로젝트명', width: '18%', },
                { text: '작업명(Task)', width: '18%', },
                { text: '예상시작일', width: '14%', },
                { text: '예상완료일', width: '14%', },
                { text: '기간', width: '6%', },
                { text: '진행상태', width: '10%', },
                { text: '진행률', width: '16%', },
            ]
        });

        $('#pmDelayList').jqxGrid({
            width: '100%',
            height: 300,
            editable: false,
            showtoolbar: true,
            toolbarheight: 44,
            rendertoolbar: function (statusbar) {
                statusbar.empty();
                var container = $("<div class='lGridComponent'></div>");
                var carType = $("<div></div>").jqxComboBox({ width: 150, height: 32 });
                var item = $("<div></div>").jqxComboBox({ width: 150, height: 32 });
                var project = $("<div></div>").jqxComboBox({ width: 150, height: 32 });
                var delay = $("<input type='text' placeholder='지연일수'>");
                var btnSearch = $("<button class='custom-button'><i class='fas fa-search'></i> 검색</button>");
                var btnExport = $("<button class='custom-button'>Excel Export</button>");
                container.append(carType);
                container.append(item);
                container.append(delay);
                container.append(project);
                container.append(btnSearch);
                container.append(btnExport);
                statusbar.append(container);
            },
            columns: [
                { text: 'NO', format: 'number', width: '4%', },
                { text: '프로젝트명', width: '22%', },
                { text: '작업 NO', width: '8%', },
                { text: '작업명(Task)', width: '22%', },
                { text: '예상시작일', width: '17%', },
                { text: '예상완료일', width: '17%', },
                { text: '지연일수', width: '10%', },
            ],
        });


        var sampleTaskRateArray = [
            // 상태
            {
                name: 'RFQ접수',
                data: [{
                    x: 'project1',
                    y: [
                        new Date('2020-01-01').getTime(),
                        new Date('2020-02-04').getTime()
                    ],
                    delay: 2,
                },
                {
                    x: 'project2',
                    y: [
                        new Date('2020-01-01').getTime(),
                        new Date('2020-03-04').getTime()
                    ],
                    delay: 1,
                },
                {
                    x: 'project3',
                    y: [
                        new Date('2020-01-01').getTime(),
                        new Date('2020-03-06').getTime()
                    ],
                    delay: 0,
                },
                ],
            },
            // 상태
            {
                name: '제품설계',
                data: [{
                    x: 'project1',
                    y: [
                        new Date('2020-02-05').getTime(),
                        new Date('2020-05-04').getTime()
                    ],
                    delay: 4,
                },
                {
                    x: 'project2',
                    y: [
                        new Date('2020-03-05').getTime(),
                        new Date('2020-07-12').getTime()
                    ],
                    delay: 2,
                },
                {
                    x: 'project3',
                    y: [
                        new Date('2020-03-07').getTime(),
                        new Date('2020-05-28').getTime()
                    ],
                    delay: 6,
                }
                ]
            },
            // 상태
            {
                name: '시작개발',
                data: [{
                    x: 'project1',
                    y: [
                        new Date('2020-05-05').getTime(),
                        new Date('2020-08-04').getTime()
                    ],
                    delay: 3,
                },
                {
                    x: 'project2',
                    y: [
                        new Date('2020-07-13').getTime(),
                        new Date('2020-08-04').getTime()
                    ],
                    delay: 7,
                },
                {
                    x: 'project3',
                    y: [
                        new Date('2020-05-29').getTime(),
                        new Date('2020-08-31').getTime()
                    ],
                    delay: 1,
                }
                ]
            },
            // 상태
            {
                name: '마스터카',
                data: [{
                    x: 'project1',
                    y: [
                        new Date('2020-08-05').getTime(),
                        new Date('2020-12-04').getTime()
                    ],
                    delay: 5,
                },
                {
                    x: 'project2',
                    y: [
                        new Date('2020-08-05').getTime(),
                        new Date('2020-11-14').getTime()
                    ],
                    delay: 1,
                },
                {
                    x: 'project3',
                    y: [
                        new Date('2020-09-01').getTime(),
                        new Date('2020-11-29').getTime()
                    ],
                    delay: 7,
                }
                ]
            },
            // 상태
            {
                name: 'P1',
                data: [{
                    x: 'project1',
                    y: [
                        new Date('2020-12-05').getTime(),
                        new Date('2020-12-31').getTime()
                    ],
                    delay: 2,
                },
                {
                    x: 'project2',
                    y: [
                        new Date('2020-11-15').getTime(),
                        new Date('2020-12-31').getTime()
                    ],
                    delay: 0,
                },
                {
                    x: 'project3',
                    y: [
                        new Date('2020-11-30').getTime(),
                        new Date('2020-12-31').getTime()
                    ],
                    delay: 1,
                }
                ]
            },
        ]

        var today = new Date();

        var pmTaskRateOptions = {
            series: sampleTaskRateArray,
            chart: {
                height: 250,
                type: 'rangeBar'
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                    barHeight: '60%',
                    rangeBarGroupRows: true
                }
            },
            colors: [
                "#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0",
            ],
            fill: {
                type: 'solid'
            },
            xaxis: {
                type: 'datetime',
                position: 'top',
                min: new Date('2020-01-01').getTime(),
                max: new Date('2020-12-31').getTime(),
                labels: {
                    show: false,
                }, axisTicks: {
                    show: false,
                },
            },
            yaxis: {
                labels: {
                    show: true,
                    align: 'center',
                    minWidth: 150,
                    style: { fontSize: '16px', }
                }
            },
            legend: {
                show: false,
            },
            annotations: {
                position: 'front',
                xaxis: [{
                    x: today.getTime(),
                    strokeDashArray: 1,
                    borderColor: '#444',
                    opacity: 0.5,
                    label: {
                        borderColor: '#c2c2c2',
                        borderWidth: 1,
                        borderRadius: 2,
                        text: '현재',
                        textAnchor: 'right',
                        position: 'top',
                        orientation: 'horizontal',
                        offsetX: 5,
                        offsetY: 0,
                        style: {
                            background: 'rgba(255,255,255,0.8)',
                            color: '#777',
                            fontSize: '12px',
                            padding: {
                                left: 5,
                                right: 5,
                                top: 5,
                                bottom: 5,
                            }
                        },

                    },
                }]
            }
        };
        
        var pmTaskRateChart = new ApexCharts(document.querySelector("#pmTaskRate"), pmTaskRateOptions);
        pmTaskRateChart.render();

        function loadDelayDate() {
            const delayUl = $("#delaySumList");
            var dataLength = sampleTaskRateArray[0].data.length;
            for (i = 0; i < dataLength; i++) {
                var sum = 0;
                sampleTaskRateArray.forEach(function (e) {
                    sum += e.data[i].delay;
                });

                var li = '<li>';
                li += sum + '</li>';
                delayUl.append(li);
            };
        };
        loadDelayDate();

        function loadTopAxis() {
            $('#thisYear').append(today.getFullYear());
            for (i = 1; i < 13; i++) {
                var month = '<td>';
                month += i + '</td>';
                $('#includeMonth').append(month);
            }

            for (a = 0; a < pmTaskRateOptions.colors.length; a++) {
                var color = pmTaskRateOptions.colors[a];
                var width = 100/pmTaskRateOptions.colors.length;
                var legend = '<td style="background-color:'+ color +';width:'+ width +'%;">';
                legend += sampleTaskRateArray[a].name + '</td>';
                $('#taskLegend').append(legend);
            }
            
        };
        loadTopAxis();

    });



</script>
