<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
	xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="./bin/Config/providers.config"/>
  <!-- Database connection information -->
  <database>
    <provider name="OleDb2.0"/>
    <!--<dataSource name ="SemsPLM" connectionString="Provider=SQLOLEDB.1;Password=dnlsehdn1@;Persist Security Info=False;User ID=sa;Pass Initial Catalog=SemsPLM;Data Source=192.168.0.227; database=SemsPLM; Connection Timeout=120"></dataSource>-->
    <dataSource name ="SemsPLM" connectionString="Provider=SQLOLEDB.1;Password=dnlsehdn1@;Persist Security Info=False;User ID=sa;Pass Initial Catalog=SemsPLM;Data Source=210.91.61.37,31433; database=WooryPLM_T3; Connection Timeout=120"></dataSource>
  </database>

  <sqlMaps>
    <sqlMap resource="./SqlMap/Mssql/Comm.xml" />
    <sqlMap resource="./SqlMap/Mssql/Manage.xml" />
    <sqlMap resource="./SqlMap/Mssql/Pms.xml" />
    <sqlMap resource="./SqlMap/Mssql/Users.xml" />
    <sqlMap resource="./SqlMap/Mssql/EBom.xml" />
    <sqlMap resource="./SqlMap/Mssql/Doc.xml" />
    <sqlMap resource="./SqlMap/Mssql/Library.xml" />
    <sqlMap resource="./SqlMap/Mssql/ChangeOrder.xml" />
    <sqlMap resource="./SqlMap/Mssql/ChangeRequest.xml" />
    <sqlMap resource="./SqlMap/Mssql/EO.xml" />
    <sqlMap resource="./SqlMap/Mssql/Menu.xml" />
    <sqlMap resource="./SqlMap/Mssql/Econtents.xml" />
    <sqlMap resource="./SqlMap/Mssql/Qms.xml" />
    <sqlMap resource="./SqlMap/Mssql/DocClass.xml" />
  </sqlMaps>
  
</sqlMapConfig>