@{
    Layout = null;
}

<div style="width:100%;text-align:right;padding-right:10px;">
    <button id="btnInsRole" onclick="" style="margin-top:6px;" class="custom-button"><i class="fas fa-check"></i> 저장</button>
</div>
<div class="dlg_table">
    <table style="width:90%; margin:0 auto;">
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 이름</label></td>
            <td colspan="2"><input type="text" id="txtRoleName" value="" /></td>
        </tr>
    </table>
</div>
