@{
    Layout = null;
}

<input type="hidden" id="dlgCalendarOID" value="@ViewBag.CalendarOID" />

<div style="width:100%;text-align:right;padding-right:10px;">
    <button id="btnDlgSave" onclick="" style="margin-top:6px;" class="custom-button"><i class="fas fa-check"></i> 저장</button>
</div>
<div class="dlg_table dlgEditCalendar_table">
    <table style="width:100%; margin:0 auto;">
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 이름</label></td>
            <td colspan="3"><input type="text" id="txtCalendarName" value="" /></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 근무일수</label></td>
            <td>
                <div style='width:40%;margin-left:20%;' id='calendarFiveDay'><span style="padding-left:10px;">5일</span></div>
            </td>
            <td>
                <div style='width:30%;margin-left:10%;' id='calendarSixDay'><span style="padding-left:10px;">6일</span></div>
            </td>
            <td>
                <div style='width:30%;' id='calendarSevenDay'><span style="padding-left:10px;">7일</span></div>
            </td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 기본휴무<br />적용유무</label></td>
            <td colspan="3">
                <div id="DefaultHoliday" class="custom-checkbox">&nbsp;적용</div>
            </td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 생성일</label></td>
            <td colspan="3"><input type="text" id="txtDlgCreateDt" readonly /></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 작성자</label></td>
            <td colspan="3"><input type="text" id="txtDlgCreateUs" readonly value="@Session["UserNm"]" /></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $("#txtDlgCreateDt").val(WebUtils.GetDate(0, "m", "-"));
        $("#calendarFiveDay").jqxRadioButton({ width: 70, height: 25, });
        $("#calendarSixDay").jqxRadioButton({ width: 70, height: 25, checked: true });
        $("#calendarSevenDay").jqxRadioButton({ width: 70, height: 25, });
        $('#DefaultHoliday').jqxCheckBox({ width: 88, height: 25, checked: true });
        
        $('#btnDlgSave').on('click', function () {
            var param = {};
            param.Name = $("#txtCalendarName").val();
            param.WorkingDay = $("#calendarFiveDay").jqxRadioButton('checked') ? 5 : ($("#calendarSixDay").jqxRadioButton('checked') ? 6 : 7);
            param.DefaultHoliday = $("#DefaultHoliday").jqxCheckBox('checked') ? 1 : 0;

            if (param.Name === null || param.Name.trim() === "") {
                alert("제목을 입력해주세요.");
                return;
            }

            $.post('/Manage/InsertCalendar', param, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
                alert("저장되었습니다.");
                CloseDlgCalendarInfo();
            }).fail(function (err) {
                alert(err.responseText);
            });

        });
    });
</script>