@{
    Layout = null;
}
    <div class="searchBox" id="dlgSearchEPart_searchForm">
        <div class="searchContent" style="padding-bottom:0px;">
            <div class="searchData">
                <div class="comboBoxLabel">OEM</div>
                <div>
                    <div id="dlgSearchEPart_Oem_Lib"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">차종</div>
                <div>
                    <div id="dlgSearchEPart_Car_Lib"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">프로젝트</div>
                <div>
                    <div id="dlgSearchEPart_Pms_Lib"></div>
                </div>
            </div>
            <div class="searchData">
                <div>
                    <input type="hidden" id="parentOID" />
                    <input type="text" id="dlgSearchEPart_Name" />
                </div>
            </div>
            <div class="searchButton">
                <button id="dlgSearchEPartbtn" class="searchBtn custom-button"><i class="fas fa-search"></i> 검색</button>
            </div>
        </div>
    </div>
    <div id="dlgSearchEPart_grid"></div>

 
    <script>
    var dlgSearchEPart_OemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.oemList))');
    var dlgSearchEPart_OemLib$ = $('#dlgSearchEPart_Oem_Lib');
    var dlgSearchEPart_CarLib$ = $('#dlgSearchEPart_Car_Lib');
    var dlgSearchEPart_PmsLib$ = $('#dlgSearchEPart_Pms_Lib');
    var EPartSearch = $('#dlgSearchEPart_Name');
    var partOIDList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.partOIDList))');
    $(function () {

        var dlgSearchEPart_dataAdapterOemSource =
        {
            localdata: dlgSearchEPart_OemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                ]
        };
        var dlgSearchEPart_DataAdapter = new $.jqx.dataAdapter(dlgSearchEPart_dataAdapterOemSource);
        dlgSearchEPart_OemLib$.jqxComboBox({ source: dlgSearchEPart_DataAdapter, displayMember: "KorNm", valueMember: "OID", height: 33, });

        var dlgSearchEPart_DefaultCar = [{ KorNm: '등록 차종 없음', OID: null }];
        dlgSearchEPart_CarLib$.jqxComboBox({ source: dlgSearchEPart_DefaultCar, displayMember: "KorNm", valueMember: "OID", height: 33, });
        dlgSearchEPart_CarLib$.jqxComboBox({ selectedIndex: 0 });

        var dlgSearchEPart_DefaultPms = [{ KorNm: '등록 프로젝트 없음', OID: null }];
        dlgSearchEPart_PmsLib$.jqxComboBox({ source: dlgSearchEPart_DefaultPms, displayMember: "KorNm", valueMember: "OID", height: 33, });
        dlgSearchEPart_PmsLib$.jqxComboBox({ selectedIndex: 0 });

        dlgSearchEPart_OemLib$.on('change', function (event) {
            changedlgSearchEPartComboBox(2, dlgSearchEPart_OemLib$.jqxComboBox('getSelectedItem').value);
        });




    });

    function getEPartList(_Source, _Grid$) {
        RequestData('/EBom/SelEPart', {}, function (res) {
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }

    function changedlgSearchEPartComboBox(ID, OID) {
        var dlgSearchEPartComboBox$ = dlgSearchEPart_CarLib$
        var param = {};
        param.fromOID = OID;
        var dlgSearchEPartComboSource;
        RequestData("/Manage/SelLibrary", param, function (res) {
            if (res.length > 0) {
                dlgSearchEPartComboSource =
                {
                    localdata: res,
                    datatype: "json",
                    datafields:
                        [
                            { name: 'KorNm', type: 'string' },
                            { name: 'OID', type: 'int' },
                        ]
                };
                var dlgSearchEPartComboAdapter = new $.jqx.dataAdapter(dlgSearchEPartComboSource);
                dlgSearchEPartComboBox$.jqxComboBox({ source: dlgSearchEPartComboAdapter, displayMember: "KorNm", valueMember: "OID" });
            } else {
                CreateECOComboSource = [{ KorNm: '등록 차종 없음', OID: null }];
                var dlgSearchEPartComboAdapter = new $.jqx.dataAdapter(dlgSearchEPartComboSource);
                dlgSearchEPartComboBox$.jqxComboBox({ source: dlgSearchEPartComboAdapter, displayMember: "KorNm", valueMember: "OID" });
                dlgSearchEPartComboBox$.jqxComboBox({ selectedIndex: 0 });
            }
        });
    }

    </script>