/* mainDashboard */

.mainDashboard{
    width:100%;
    height:805px;
}

.mainDashboard h1, .mainDashboard h2, .mainDashboard h3, .mainDashboard h4, .mainDashboard h5, .mainDashboard h6, .mainDashboard p {
    font-size: unset;
    line-height: unset;
    margin: 0;
}

.mainDashboard h3{
    font-size:16px;
    line-height:40px;
    text-indent:8px;
}

.mainDashboard > div{
    width:49.5%;
    height:100%;
    float:left;
} 

.mainStatusCount > div {
    width: 24%;
    margin-right:1.3%;
    margin-bottom:20px;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 4px #aaa;
    float: left;
}

.mainStatusCount > div:last-child{
    margin-right:0 !important;
}

.mainStatusCount .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    margin: 8px;
    float: left;
}

.mainStatusCount .text{
    text-align:center;
    line-height:30px;
}

.mainStatusCount .text p>span{
    margin-right:5px;
    font-size:21px;
    font-weight:bold;
}

.mainProjectCharts > div {
    height: 310px;
    float: left;
}

.mainProjectCharts > div > div{
    width:465px;
    height:280px;
    border-radius:4px;
    box-shadow: 0 1px 4px #aaa;
}

.mainApprovalGrids{
    margin-bottom:20px;
}

.mainApprovalList > li{
    margin:5px 5px 0 5px;
    height:22px !important;
    padding-left:18px;
    border-radius:4px 4px 0 0;
}

.mainNoticeGrid {
    position: relative;
}
.mainNoticeGrid > button{
    position:absolute;
    top:8px;
    right:5px;
    font-size:14px;
    padding:3px 8px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:4px;
}

.mainNoticeGrid > button:hover{
    background:#eee;
}

.mainApprovalGrids {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 4px #aaa;
    overflow:hidden;
}

.grdNotice {
    border-radius: 4px;
    overflow: hidden;
    border: none;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 4px #aaa;
}

/**/
.dashboardTop,
.dashboardGraphs {
    margin-bottom: 20px;
}

    .dashboardTop > div,
    .dashboardGraphs > div,
    .dashboardGrids > div {
        box-shadow: 0px 1px 4px #aaa;
        overflow: hidden;
        border-radius: 4px;
        float: left;
        position: relative;
    }

    .dashboardTop > div {
        width: 13%;
        height: 100px;
        padding: 20px 1.5%;
        line-height: 60px;
        box-sizing: border-box;
        margin-right: 1.5%;
    }

        .dashboardTop > div:last-child {
            margin-right: 0;
        }

        .dashboardTop > div > button {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            background-color: #fffdc5;
            border: none;
        }

        .dashboardTop > div > p {
            width: 80%;
            position: relative;
        }

            .dashboardTop > div > p > span {
                position: absolute;
                right: 0;
                font-weight: bold;
            }

        .dashboardTop > div:first-child {
            line-height: 30px;
        }

    .dashboardGraphs > div {
        height: 320px;
        margin-right: 1.3%;
    }

        .dashboardGraphs > div:last-child {
            margin-right: 0;
        }

    .dashboardGraphs > .piechart {
        width: 20%;
        position:relative;
    }

    .dashboardGraphs > .barchart {
        width: 28%;
    }

    .piechart > .chartTotal{
        position:absolute;
        top:46%;
        left:50%;
        z-index:1000;
        width:100px;
        margin-left:-50px;
        text-align:center;
    }

    .piechart > .chartTotal > div{
        font-size:24px;
        font-weight:bold;
    }

.piechart > div:last-child, .barchart > div:last-child {
    width: 100%;
    height: 90%;
}

.dashboardGraphs .graphH, .dashboardGrids .graphH {
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    font-weight: bold;
    position: relative;
}

.dashboardGrids > div:first-child {
    margin-right: 1%;
    width: 50%;
    float: left;
}
.dashboardGrids > div:last-child {
    float: left;
    width: 49%;
}


.graphH button {
    background: transparent;
    border: none;
}

.dashboardSelBox{
    position:absolute;
    right:6px;
    top:6px;
}


.dashboardGrids .lGridComponent > div{
    float:left;
    margin-right:8px;
}

.dashboardGrids .lGridComponent > input[type=text] {
    width: 100px;
    height: 34px;
    margin-right: 8px;
}

.chartTopAxis{
    width:100%;
    position:relative;
}

.chartTopAxis >table {
    position:absolute;
    left:162px;
    text-align:center;
    width:1614px;
    box-sizing:border-box;
}

.chartTopAxis > table:first-of-type{
    top:-20px;
}

.chartTopAxis > table:nth-of-type(2){
    top:24px;
    height:24px;
    color:#fff;
}

.chartTopAxis > table:nth-of-type(2) td{
    border:2px solid #fff;
}

.chartTopAxis > table:first-of-type tr:first-child{
    border-bottom:1px solid #c5c5c5;
}

.chartTopAxis > table:first-of-type tr:nth-child(2) > td{
    width:8.3%;
    border:1px solid #ccc;
    border-bottom:none;
}


.chartTopAxis > h4:first-of-type {
    position: absolute;
    line-height: 25px;
    width: 140px;
    top: 0px;
    left: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 10px;
    font-size: 14px;
}

.chartTopAxis > h4:last-of-type {
    position:absolute;
    top:0;
    right:10px;
    width:105px;
    text-align:center;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #e0e0e0;
}

.diagonalLine{
    position:absolute;
    top:27px;
    left:10px;
    width:145px;
    height:1px;
    background-color:#ccc;
    transform:rotate(18deg);
}


.pmDelayTask {
    width: 5%;
    margin-left:1%;
    padding-right: 10px;
    box-sizing: border-box;
    height: 90%;
    float: left;
    text-align: center;
}


.pmDelayTask > ul{
    width:100%;
    line-height:68px;
    border-top:20px solid transparent;
}

.apexcharts-menu-icon{
    opacity:0 !important;
}

.pmProjectList {
    width:100%;
    padding-left:5px;
    margin-top: 50px;
    overflow-y:scroll;
    height:210px;
}

.pmProjectList::-webkit-scrollbar{
    width:5px;
    background-color:#fff;
}

.pmProjectList::-webkit-scrollbar-thumb{
    background-color:#ddd;
}



/* ResourceDashBoard */
.resourceDashboard {
    width: 1900px;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .resourceDashboard label {
        margin-bottom: 0 !important;
    }

input[name=rscRadio] {
    display: none;
}

    input[name=rscRadio]:checked + label {
        background-color: #3798ae !important;
        color: #fff !important;
    }

    input[name=rscRadio] + label {
        display: inline-block;
        width: 177px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #eee;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
    }

.resourceInfo {
    padding-top: 5px;
    position: relative;
}

    .resourceInfo, .resourceInfo > div {
        width: 100%;
        height: 775px;
    }

        .resourceInfo .rscComboBox {
            position: absolute;
            top: -36px;
            right: 0;
        }

.rscList {
    float: left;
}

.rscContent {
    width: 1530px;
    margin-left: 10px;
    float: left;
}

.rscTopInfo {
    width: 100%;
    height: 160px;
    margin-bottom: 12px;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    padding: 24px 50px;
}

    .rscTopInfo > table {
        width: 100%;
        text-align: center;
    }

        .rscTopInfo > table td {
            line-height: 36px;
        }

        .rscTopInfo > table label {
            width: 60px;
            border-right: 2px solid #aaa;
            line-height: 16px;
            margin: 5px 10px 0 0;
        }

        .rscTopInfo > table td > b {
            line-height: 50px;
            font-size: 24px;
        }

.rscProjectState {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    float: left;
    margin: 21px;
}

.rscProjectName {
    font-size: 20px;
    line-height: 45px;
}

.rscProgress {
    margin: 10px auto;
    width: 60%;
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #eee inset;
    overflow: hidden;
    border-radius: 4px;
}

    .rscProgress > .gauge {
        height: 100%;
        background-color: #3798ae;
    }

.rscPeopleImg {
    text-align: left;
}

    .rscPeopleImg > img {
        width: 96px;
        height: 96px;
    }

.rscPieChart {
    margin-left: 40px;
    width: 110px;
    height: 110px;
}

.rscGridChart > div {
    float: left;
}

    .rscGridChart > div:first-child {
        margin-right: 10px;
    }

    .rscGridChart > div:last-child {
        width: 608px;
        height: 603px;
    }

.tblChart {
    border-color: transparent !important;
}
