@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    vertical-align: sub;
}


input[readonly] {
    background-color: #ddd !important;
}

.floatL{
    float:left;
}

body {
    background-color: #fff;
    color: #444;
    font-family: "Malgun Gothic", "Arial";
    font-size: 16px;
}

header {
    min-width: 1920px;
    z-index: 999;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 15px 8px 10px 8px;
    box-shadow: 0 0px 3px #555;
    background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgba(238,238,238,1) 100%);
}

    header::after {
        content: "";
        display: block;
        clear: both;
    }

h1 {
    float: left;
    margin-right: 5px;
    height: 55px;
    margin-top:0;
    margin-bottom:0;
    transform:translateY(-6px);
}

.lnb {
    float: right;
    padding-top: 8px;
}

input[type=text]{
    border:1px solid #bbb;
    border-radius:3px;
}

button, .menu_h, .btn_icon, .sub > li {
    cursor: pointer !important;
}

.btn_icon {
    display: inline-block;
    width: 32px;
}

    .btn_icon > img {
        width: 100%;
    }

nav {
    float: left;
    height: 48px;
    transition: .4s;
}


.gnb > li {
    float: left;
    width: 158px;
    padding:0 2px;
    text-align: center;
}

    .gnb > li:hover > .menu_h {
        color: #d11e1e;
    }

        .gnb > li:hover > .menu_h::after {
            width: 100%;
        }


.menu_h {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    display: block;
    float:left;
    line-height: 55px;
    height: 55px;
    position: relative;
    width:100%;
    text-align:center;
}

    .menu_h::after {
        content: "";
        position: absolute;
        height: 100%;
        margin: auto;
        border-bottom: 3px solid #d11e1e;
        width: 0;
        top: 0;
        left: 0;
        transition: .3s;
    }

.sub {
    display: none;
    position: absolute;
    width: 154px;
    top: 70px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(238,238,238,1) 100%);
}

.sub > li {
    font-size:14px;
    line-height:18px;
    padding: 15px 5px;
    /*border-bottom:1px solid #ccc;*/
}

.sub > li:last-child{
    border-bottom:0;
}

    .sub > li:hover {
        font-weight:bold;
        text-decoration: underline;
        background-color:rgba(0,0,0,.1);
    }

.search {
    float: left;
    padding: 5px 10px 0;
    position: relative;
}

    .search > input {
        width: 150px;
        height: 24px;
        text-indent: 4px;
        border: 1px solid #c7c7c7;
        font-size: 12px;
    }

    .search > button {
        position: absolute;
        top: 6px;
        right: 12px;
        background-color: transparent;
        border: none;
    }

#wrapContent, #loading {
    position: absolute;
    top: 80px;
}

#wrapContent {
    width:1900px;
    border-top: 10px solid #77787b;
}

#wrapContent .jqx-tabs-content-element {
    padding: 10px;
    box-sizing: border-box;
}

#loading {
    width: 100%;
    background-color: rgba(255,255,255,.5);
    z-index: 9999;
    height: 880px;
    padding-top:100px;
    text-align:center;
    -ms-overflow-style:none;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: #000;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.custom-button{
    border: 1px solid #aaa;
    background:#fff;
    padding:6px 12px;
    text-align:center;
    margin:0;
    cursor:pointer;
    font-size:16px;
    border-radius:3px;
    text-indent:0 !important;
}

.custom-button:hover {
    background: #efefef;
}

.custom-checkbox{
    display:inline-block;
    vertical-align:sub;
}

button > .fas{
    font-size:0.9em;
    transform:translateY(-1px);
    opacity:0.8;
}


.dlg_table{
    margin:10px;
}


.dlg_table > table{
    width:100%;
}

.dlg_table  tr > td{
    padding:16px 10px 16px 0px;
    border-bottom:1px solid #ccc;
}

.dlg_table tr:last-child > td{
    border-bottom:none !important;
}

.lbText {
    display:inline-block;
    width: 100%;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0 !important;
    padding-left: 10px;
}

.dlg_table input[type=text] {
    width: 90%;
    height:30px;
    text-indent:8px;
    border: 1px solid #c7c7c7;
}


.dlgEditCalendar_table {
    width: 370px;
    padding-top: 50px;
}
.dlgEditCalendar_table tr > td:first-child {
    width: 30%;
    padding-left:10px;
}

.dlgEditCalendar_table .lbText{
    padding-left:0 !important;
}

.dlgEditCalendar_table input[type=text]{
    margin-left:10%;
}


.dlgCreateProject_table tr > td:nth-child(2n-1) {
    width: 20%;
    padding-left:10px;
}

.dlgCreateProject_table tr > td:nth-child(2n) {
    width: 30%;
}


.dlgLibraryManip_table tr > td:first-child {
    width: 30%;
}

.dlgLibraryManip_table input[type=text], .dlgEditPerson_table input[type=text] {
    width: 100% !important;
}

.dlgEditDepartment_table input, .dlgEditDepartment_table textarea{
    margin-left:10%;
}

.dlgEditPerson_table #txtDlgLoginPw {
    width:100%;
    height: 30px;
    text-indent: 8px;
    border: 1px solid #c7c7c7;
    border-radius:3px;
}

.dlgEditPerson_table td[rowspan='9']{
    width:270px;
    vertical-align:top;
    border-bottom:none;
    text-align:center;
}

.dlgCodeLibraryManip_table input[type=text]{
    width:100%;
}


.imgPerson, .signPerson {
    width: 180px;
    margin: 15px auto 25px;
    position: relative;
}

.imgPerson > button, .signPerson > button{
    position:absolute;
    left:34px;
    bottom:0;
}

.imgPerson {
    height:280px;
}

.signPerson{
    height:160px;
}

.inputImg, .showImg, .inputSign, .showSign{
    border: 1px solid #c5c5c5;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    text-align:center;
    vertical-align:middle;
}

.inputImg, .showImg{
    height:240px;
}

.inputSign, .showSign{
    height:120px;
}

.inputSign > span, .inputImg > span {
    width: 100%;
    z-index: 0;
    color: #bbb;
}

.inputSign > span {
    line-height: 120px;
}

.inputImg > span {
    line-height: 240px;
}

#hideShowPw_toggleBtn {
    position:absolute;
    right:18px;
    top:22px;
}

#btnDlgPwReset{
    position:absolute;
    left:10px;
}
/* searchBox */
.searchBox {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 -40px 80px #ddd inset;
    margin-bottom: 10px;
    border-radius: 3px;
}

.searchTitle{
    font-size:1.1em;
    line-height:56px;
    height:48px;
    text-indent:4px;
    margin:0 10px;
    border-bottom: 1px dotted #ccc;
}

.searchContent{
    padding:15px 0 15px 20px;
}

.searchContent::after{
    content:"";
    display:block;
    clear:both;
}

.searchData {
    float: left;
    margin-right: 30px;
}

.searchButton{
    float:left;
}

.searchData > div {
    display: inline-block;
}

.searchData input[type=text]{
    height:33px;
    line-height:33px;
    width:150px;
    margin-left:5px;
    margin-bottom:14px;
    text-indent:5px;
    background-color:#fff;
}

.searchData .jqx-combobox, .searchData .jqx-datetimeinput{
    margin-bottom:11px;
}

.searchData > .comboBoxLabel {
    transform: translateY(-23px);
}

.searchData > .checkBoxLabel{
    transform:translateY(-5px);
}


/* Grid Component */

.rGridComponent{
    text-align:right;
    padding:5px 5px 0 0 !important;
}

.rGridComponent > button{
    margin-right:10px;
}

.rGridComponent > button:last-child{
    margin-right: 0 !important;
}

.lGridComponent {
    text-align: left;
    padding: 5px 0 0 5px !important;
}

    .lGridComponent > button {
        margin-right: 10px;
    }


/* Project Information */


.project_content, .EPart_content, .doc_content {
    float: left;
    position: absolute;
    top: 0px;
    left: 210px;
    width: 1690px;
    height: 820px;
}

.changeOrder_content{
    float: left;
    position: absolute;
    top: 0;
    left: 260px;
    width:1640px;
    height:820px;
}

.info_project {
    position: relative;
}

.info_menubar {
    width: 200px;
    height: 820px;
    float: left;
    background-color: #eee;
    box-shadow: 0px -10px 40px #ccc inset;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

    .info_menubar > ul > li {
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
        border-radius: 8px;
        margin: 10px;
        cursor:pointer;
    }

    .info_menubar i {
        width: 40px;
        text-align: center;
        font-size: 1.5em;
        line-height:48px;
        padding-bottom:2px;
        transform:translateY(2px);
    }

    .info_menubar > ul > li:hover{
        background-color: #fff;
        box-shadow:0 1px 4px #aaa;
    }

    .info_focus {
        background-color: #fff;
        box-shadow: 0 1px 4px #aaa;
    }

.project_basic {
    width: 100%;
    padding: 20px 0;
    border: 1px solid #c5c5c5;
    background: linear-gradient(0deg, #eee, #fff);
    box-shadow: 0 0 1px #eee;
    margin-bottom: 10px;
}

.basic_info, .basic_image, .basic_status{
    height:100px;
    float:left;
    padding-left:50px;
}

.basic_info{
    width:26%;
}

.basic_info, .basic_image{
    border-right:1px dotted #bbb;
}

.basic_info > h3{
    margin:20px 0 10px;
    font-size:24px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.basic_image{
    width:28%;
    padding-top:5px;
}

.basic_image > div, .basic_image > ul{
    float:left;
}

.image_inputbox{
    width:90px;
    height:90px;
    border-radius:3px;
    border:1px dashed #3798ae;
    text-align:center;
    line-height:90px;
    color:#3798ae;
}

.file_inputbox {
    width: 300px;
    height: 60px;
    border-radius: 3px;
    border: 1px dashed #3798ae;
    text-align: center;
    line-height: 60px;
    color: #3798ae;
}

.image_thumbnail{
    width:180px;
    height:90px;
    margin-left:50px;
}

.image_thumbnail > li{
    height:100%;
    position:relative;
}

.image_thumbnail > li > img{
    max-width:160px;
    max-height:100%;
    position:absolute;
    top:0;
    left:0;
}

.image_thumbnail > li > i{
    position:absolute;
    top:0;
    cursor:pointer;
    background-color:#fff;
    z-index:9999;
}

.showbigimage{
    width:auto;
    height:auto;
    max-width:600px !important;
    max-height:unset !important;
    z-index:999;
}

.changeOrderImg, .ChangeRequestImg {
    width: 90%;
    margin-left: 5%;
    position: relative;
    border-right: none !important;
}

    .changeOrderImg > .image_inputbox, .changeOrderImg > .image_thumbnail, .ChangeRequestImg > .image_inputbox, .ChangeRequestImg > .image_thumbnail{
        width: 100%;
        height: 180px;
        border: 1px solid #c5c5c5;
        position: absolute;
        top: 10px;
        left: 0;
        line-height: 180px;
        text-align: center;
        margin-left: 0;
        color: #ccc !important;
    }

.changeOrderImg > .image_inputbox{
    z-index:100;
}


.pointer_wrap{
    margin-left:30px;
}

.pointer_wrap:after , .basic_image:after{
    clear: both;
    display: block;
    content: "";
}

.pointer{
    width:150px;
    height:60px;
    margin-left:-30px;
    float:left;
    background-image:url('/images/status_w.png');
}


.pointer > .project_status{
    width:100px;
    overflow: hidden;
    margin:20px 0px 0px 25px;
    font-size:15px;
    text-align: center;
}

.pointer_focus {
    background-image: url('/images/status_h.png') !important;
    color: #fff !important;
}

    .pointer_focus:before {
        border-left: 25px solid #3798ae !important;
    }

.infoTable {
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}

.infoTable th{
    background-color:#eee;
}

    .infoTable td, .infoTable th {
        border: 1px solid #c5c5c5;
        padding:3px 10px;
        /*line-height:30px;*/
        height:40px;
    }

.infoTable input{
    width:100%;
    border:none;
    background-color:#fff;
}
.infoTable input[readonly=readonly]{
    background-color:#fff !important;
    border:none;
}

.infoTable .ModifiableEditCustomBox{
    line-height:0;
}

.tr_tall{
    vertical-align:initial;
    height:96px;
}

.infoH3{
    margin-top:14px;
    font-size:14px;
    line-height:22px;
}

.memberImg{
    width:35px;
    height:35px;
    position:absolute;
    top:-23px;
    left:5px;
    overflow:hidden;
    border-radius:50%;
    border:1px solid #c5c5c5;
}

.memberImg_s{
    width:25px !important;
    height:25px !important;
    top:-18px !important;
    left:12px !important;
}

.memberImg > img {
    width:100%;
    height:auto;
}

.import_excel td{
    padding:5px 0;
}

/* createtable */
.createtable {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}

.createtable tr{
    height:40px;
    border-bottom:1px solid #ccc;
}

.createtable tr:last-child{
    border-bottom:none;
}

.createtable th, .createtable td{
    padding:10px 20px;
}

.createtable input[type=text], .createtable select{
    height:30px;
    width:100%;
}

.createtable select{
    border:1px solid #c5c5c5;
    border-radius:3px;
}

.createtable textarea{
    width:100%;
    height:300px;
}

.doc_create th{
    width:11%;
}

.doc_create td {
    width: 22%;
}

.epart_create th{
    width:15%;
}

.epart_create td{
    width:35%;
}

.epart_create .image_inputbox, .epart_create .image_thumbnail {
    height: 90px;
    float:left;
    margin-right:30px;
}

.ebomImg{
    margin:0 auto;
    max-width:100%;
    max-height:100px;
}

.ebomImg > img{
    max-width:100%;
    max-height:100%;
}

.createChangeOrder_table {
    margin-bottom: 50px;
}

.createChangeOrder_table > h3{
    text-indent:10px;
    line-height:40px;
    border-bottom:3px double #ddd;
}

.createChangeOrder_table > .createtable tr:last-child{
    border-bottom: 1px solid #ccc;
}

.createChangeOrder_table > .createtable th{
    width:12%;
}

.createChangeOrder_table > .createtable td {
    width: 38%;
}

/* UserManage */
.user_tree, .user_list {
    height: 800px;
    float: left;
}

.user_tree {
    width: 24%;
    margin-right: 1%;
}

.user_tree .jqx-tree-item-li{
    line-height:20px;
}

.treeButtonWrap {
    width:100.5%;
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-bottom:none;
    box-shadow: 0 -20px 40px #ddd inset;
    border-radius: 3px 3px 0 0;
}

.treeButtonWrap > h3{
    display:inline-block;
    line-height:34px;
}

.user_list{
    width:75%;
}


/* AuthorityManage */

.authUserList, .authSetting {
    height: 820px;
    float:left;
}

.authUserList{
    width:30%;
    margin-right:1%;
}

.authSetting {
    width: 69%;
}

.authSetting > h3{
    width:100%;
    height:54px;
    margin-bottom:5px;
    position:relative;
    box-sizing:border-box;
    padding:14px;
    font-weight:normal;
    border:1px solid #c5c5c5;
}

.authSetting > h3 > span{
    margin-left:10px;
}

.authSetting > h3 > button{
    position:absolute;
    right:10px;
    top:10px;
}

.authSetting > div{
    height:92%;
    float:left;
}

.authSetting > .authRoleList, .authSetting > .moduleList{
    width:25%;
    margin-right:1%;
}

.authSetting > .subList{
    width:48%;
}

.authTitle {
    height: 40px;
    line-height: 40px;
    background-color: #eee;
    border: 1px solid #c5c5c5;
    border-bottom: none ;
    text-indent: 8px;
}

.manageObject{
    width:100%;
    height:8%;
    border:1px solid #c5c5c5;
    margin-bottom:2%;
}

.authobjCheckbox{
    float:left;
    margin:20px 4% !important;
    line-height:20px;
}


/* ptDetailGateView */
.gateColumn {
    float: left;
    text-align: right;
    height: 100%;
    padding: 0 20px 45px 40px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

    .gateColumn > li {
        padding: 10px 0;
    }

    .gateColumn > .gateTop {
        padding: 25px 0 !important;
    }

    .gateColumn h2 {
        height: 30px;
    }

.gates {
    width: 160px;
    padding: 0 10px;
    float: left;
    text-align: center;
    border-left:none;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

    .gates:before {
        clear: both;
        content: "";
        display: block;
    }

.gateName > span {
    font-size: 0.8em;
    display: block;
    font-weight: normal;
    margin:2px 0 18px;
}

.gatestatus {
    border: 1px solid #aaa;
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
}

.progress {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.level {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background-color: #17ffc9;
}

.gateDates {
    margin: 18px 0;
}

    .gateDates img {
        margin: 0 4px;
        cursor: pointer;
    }

/* ApprovalLine, dlgApprovalPerson */

.approvalLine, .approvalTopBtn{
    width:100%;
}

.approvalTopBtn{
    padding-bottom:10px;
    text-align:right;
}

.approvalLine > div{
    float:left;
}
.approvalLine > .wholeUserList{
    width:36%;
}
.approvalLine > .selectedUserList{
    width:53%;
}

.approvalList, .approvalOrder{
    height:310px;
    border: 1px solid #c5c5c5;
    margin-bottom:4px;
    overflow-y:scroll;
}

.approvalList > table, .approvalOrder > table{
    width:100%;
}

.approvalList > table tr, .approvalOrder > table tr{
    border-bottom:1px solid #c5c5c5;
    background-color:#fff;
    overflow:hidden;
    vertical-align:top;
}

.approvalList > table tr > th, .approvalOrder > table tr > th{
    background-color:#eee;
    border-right:1px solid #c5c5c5;
    text-align:center;
    line-height:40px;
}

.approvalList > table tr > td:first-of-type, .approvalOrder > table tr > td:first-of-type{
    border-right:1px solid #c5c5c5;
    text-align:center;
    line-height:40px;
}

.approvalList > table tr > td:last-of-type{
    position:relative;
    padding-right:30px;
}

.approvalList > table i.fa-window-close {
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 12px;
    z-index: 100;
    color:#aaa;
}

.approver{
    display:inline-block;
    background-color:#eee;
    border-radius:4px;
    margin:5px 0 5px 8px;
    padding:5px 8px;
}

.approver > small{
    font-size:11px;
    color:#888;
}

.approver > i{
    cursor:pointer;
    font-size:0.8em;
    transform:translateY(-1px);
    margin-left:10px;
}

.agreeTd ul{
    /*height:0;*/
    overflow:hidden;
    margin-bottom:0 !important;
}

.agreeTd > ul > li{
    float:left;
    margin-right:10px;
}

#organiListGridApr .jqx-tree-item{
    font-size:15px !important;
}

.selectedAgree {
    background-color: #fffcd7 !important;
}


.approvalLine h4 {
    width: 100%;
    background-color: #eee;
    line-height: 39px;
    border: 1px solid #c5c5c5;
    text-indent: 5px;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    position: relative;
}

.savedLine {
    padding: 3px;
    background-color: #eee;
    border: 1px solid #c5c5c5;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.savedLine > div{
    display:inline-block;
    vertical-align:top;
}

.orderedList > .connectedList {
    width: 50%;
    height: 257px;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    float: left;
}

.connectedList > li{
    padding: 6px 0 6px 40px;
    border-bottom:1px solid #c5c5c5;
    position:relative;
}

.connectedList > li::before{
    position:absolute;
    top:0;
    left:0;
    background-color:#eee;
    width:28px;
    height:31px;
    border-right:1px solid #c5c5c5;
    text-align:center;
    line-height:31px;
}

.connectedList > li > i {
    position:absolute;
    right: 8px;
    top:8px;
    cursor:pointer;
}


.selectedUserList > .distList {
    border: 1px solid #c5c5c5;
    height: 80px;
    overflow-y: scroll;
}

.doc_editor {
    width: 100%;
}

.doc_editor > h4 > span{
    margin:0 7px 0 6px;
}
.doc_editor > h4 > input{
    width:690px;
    height:27px;
    line-height:27px;
    border-radius:unset !important;
    font-weight:normal;
}

.approvalButtonBox {
    padding-top: 15%;
    width: 11%;
    text-align: center;
}

.approvalButtonBox > button{
    margin-bottom:5px;
}

.dlgApprovalPerson > div {
    height: 600px;
    float: left;
}

.dlgApprovalPerson h4 {
    width: 100%;
    background-color: #eee;
    padding: 7px;
    border: 1px solid #c5c5c5;
    text-indent: 5px;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    position: relative;
}

.dlgApprovalPerson h4 > button{
    position:absolute;
    top:0px;
    right:0px;
}

.dlgApprovalPerson > .wholeUserList {
    width: 50%;
    margin-right: 2%;
}
.selectedUserList{
    width:48%;
}

.selectedUserList > ul > li{
    height:32px;
    line-height:32px;
    text-indent:10px;
    position:relative;
    border-bottom:1px solid #c5c5c5;
}

.selectedUserList > ul > li > i{
    position:absolute;
    top:7px;
    right:8px;
    cursor:pointer;
}

.findPerson {
    width: 316.5px;
    height: 33px;
    text-indent: 8px;
    border-radius: unset !important;
    border-bottom: none !important;
    font-size:15px;
}

.findPerson + button.custom-button{
    border-radius:unset !important;
    border-top:1px solid #c5c5c5;
    border-right:1px solid #c5c5c5;
    border-left:1px solid transparent;
    border-bottom:1px solid transparent;
}

.selectedUserList > ul {
    border: 1px solid #c5c5c5;
    height:94%;
}

.dective {
    display: none;
}

.buttonSeparator {
    border-left: 1px solid #bbb;
    margin: 0 15px 0 5px;
    font-size: 140%;
    vertical-align: middle;
}

.approvalState {
    color: #d11e1e;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: rgb(232, 232, 232);
}


.approvalContents{
    float:left;
    margin-left:10px;
    width:436px;
}

.approvalContents > .infoTable{
    height:355px;
    line-height:44px;
    margin-bottom:10px;
}

.approvalContents > .infoTable th{
    width:15%;
}

.approverInfo {
    width: 100px;
    box-sizing: border-box;
    float: left;
    border:1px solid #ddd;
}

.approverInfo > div {
    width: 100%;
    height: 36px;
    text-align:center;
    line-height: 20px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.05);
}

.approverInfo > div:nth-child(2){
    height:60px;
    background-color:#fff;
}

.approverInfo > div:nth-child(2) > img{
    max-width:84px;
    max-height:44px;
}

.approverInfo > div:last-child{
    font-size:11px;
}

.approvalComment{
    width:100%;
    height:336px;
}

.approvalComment tr:first-child {
    height: 43px;
    line-height:43px;
    text-indent:8px;
    background-color: rgb(232,232,232);
}

.approvalComment tr:last-child{
    height:42px;
}

.approvalComment td{
    border:1px solid #c5c5c5;
}

.approvalComment .opinion div {
    width:434px;
    height:241px;
    overflow-y:scroll;
    vertical-align:sub;
}

.approvalComment .opinion p{
    width:416px;
    line-height:36px;
    text-indent:8px;
    border-bottom:1px solid #ddd;
}

.approvalComment .opinion p > span{
    font-weight:bold;
    margin-right:10px;
}

.approvalComment textarea{
    width:360px;
    height:100%;
    border-radius:0;
    border:none;
    resize:none;
    padding:5px;
    float:left;
    display:block;
}

.approvalComment button{
    display:block;
    float:left;
    width:74px;
    height:100%;
    border-left:1px solid #c5c5c5;
    border-right:none;
    border-top:none;
    border-bottom:none;
}

/* ResourceDashBoard */
.resourceDashboard {
    width: 1900px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.resourceDashboard label{
    margin-bottom:0 !important;
}

input[name=rscRadio] {
    display: none;
}

input[name=rscRadio]:checked + label{
    background-color:#3798ae !important;
    color:#fff !important;
}

input[name=rscRadio] + label{
    display:inline-block;
    width:177px;
    height:40px;
    line-height:40px;
    text-align:center;
    background-color:#eee;
    border-radius:5px 5px 0 0;
    cursor:pointer;
}

.resourceInfo{
    padding-top:5px;
    position:relative;
}

.resourceInfo, .resourceInfo > div {
    width: 100%;
    height:775px;
}

.resourceInfo .rscComboBox{
    position:absolute;
    top:-36px;
    right:0;
}

.rscList {
    float: left;
}

.rscContent{
    width:1530px;
    margin-left:10px;
    float:left;
}

.rscTopInfo{
    width:100%;
    height:160px;
    margin-bottom:12px;
    border:1px solid #c5c5c5;
    box-sizing:border-box;
    padding:24px 50px;
}

.rscTopInfo > table{
    width:100%;
    text-align:center;
}

.rscTopInfo > table td{
    line-height:36px;
}

.rscTopInfo > table label{
    width:60px;
    border-right:2px solid #aaa;
    line-height:16px;
    margin:5px 10px 0 0;
}

.rscTopInfo > table td > b{
    line-height:50px;
    font-size:24px;
}

.rscProjectState{
    width:36px;
    height:36px;
    border-radius:50%;
    float:left;
    margin:21px;
}

.rscProjectName{
    font-size:20px;
    line-height:45px;
}

.rscProgress{
    margin: 10px auto;
    width:60%;
    height:30px;
    border:1px solid #ccc;
    box-shadow:1px 1px 3px #eee inset;
    overflow:hidden;
    border-radius:4px;
}

.rscProgress > .gauge{
    height:100%;
    background-color:#3798ae;
}

.rscPeopleImg{
    text-align:left;
}

.rscPeopleImg > img{
    width:96px;
    height:96px;
}

.rscPieChart{
    margin-left:40px;
    width:110px;
    height:110px;
}

.rscGridChart > div {
    float: left;
}

.rscGridChart > div:first-child{
    margin-right:10px;
}

.rscGridChart > div:last-child{
    width:608px;
    height:603px;
}

.tblChart{
    border-color: transparent !important;
}

/* CreateProblemsLibrary */
.fixedCreateTop {
    width: 1883px;
    padding: 30px 20px 0;
    position: fixed;
    height:90px;
    top: 123px;
    left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

/* CreateOptimalDesign */

.optimalDesignTable{
    width:100%;
}

/* QuickResponse */

.qmsDlgTable > label{
    line-height:24px;
    font-size:14px;
    text-indent:5px;
    margin-top:15px;
}

.qmsDlgTable > label:first-child{
    margin-top:0 !important;
}

.qmsDlgTable input[type=text]{
    height:32px;
    border:1px solid #c5c5c5;
}

.qmsDlgH{
    text-indent:10px;
    font-size:15px;
    border-bottom:1px solid #c5c5c5;
    padding-bottom:8px;
    transform:translateY(10px);
}

table[TableType=Why] th, table[TableType=Why] td {
    border: none !important;
}

/* etc */
.editableCell {
    position: relative;
    width: 100%;
    height: 13px;
    margin-left: -4px;
    margin-top: -14px;
}

.editableCell > div {
    top:0;
    left:0;
    width: 0;
    height: 0;
    border-top: 10px solid red;
    border-right: 10px solid transparent;
}

.modifyTag{
    width:0;
    height:0;
    position:absolute;
    top:0;
    left:0;
    border-top:10px solid red;
    border-right:10px solid transparent;
}

.chkbox{
    display:inline-block;
    transform:translateY(-6px);
    margin-left:4px !important;
}

.jqx-tree-item-li > .jqx-tree-item {
    margin-left:8px !important;
}

.jqx-listbox .jqx-fill-state-pressed{
    border-color:transparent;
}

table.tableTopButtonBox {
    width: 100%;
    height:43px;
    border-top:1px solid #c5c5c5;
    border-left:1px solid #c5c5c5;
    border-right:1px solid #c5c5c5;
}

table.tableTopButtonBox td {
    background-color: rgb(232,232,232);
    padding:5px;
}

table.tableTopButtonBox input[type=text]{
    height:33px;
    line-height:33px;
    width:250px;
    text-indent:5px;
}


/* IE6,7,8 */
@media \0screen\,screen\9 {
    .searchBox > .searchContent .jqx-datetimeinput .jqx-input-content {
        margin-left: -3px;
        margin-top: -1px;
    }
}

/* IE9,10 */
@media screen and (min-width:0\0){
    .searchBox > .searchContent .jqx-datetimeinput .jqx-input-content {
        margin-left: -3px;
        margin-top: -1px;
    }
}