@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

img{
    vertical-align:baseline;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    vertical-align: sub;
}


input[readonly] {
    background-color: #ddd !important;
}

.floatL{
    float:left;
}

body {
    background-color: #fff;
    color: #444;
    font-family: "Malgun Gothic", "Arial";
    font-size: 16px;
}

header {
    min-width: 1920px;
    z-index: 999;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 15px 8px 10px 8px;
    box-shadow: 0 0px 3px #555;
    background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgba(238,238,238,1) 100%);
}

    header::after {
        content: "";
        display: block;
        clear: both;
    }

h1 {
    float: left;
    margin-right: 5px;
    height: 55px;
    margin-top:0;
    margin-bottom:0;
    transform:translateY(-6px);
}

.lnb {
    float: right;
    padding-top: 8px;
}

input[type=text], input[type=number], input[type=password]{
    border:1px solid #bbb;
    border-radius:3px;
}

button, .menu_h, .btn_icon, .btn_user, .sub > li {
    cursor: pointer !important;
}

.btn_icon {
    display: inline-block;
    width: 32px;
}

.btn_user {
    display: inline-block;
    margin-right:15px;
}

.btn_user > .img{
    display: inline-block;
    border:2px solid #888;
    width:30px;
    height:30px;
    border-radius:50%;
    overflow:hidden;
    margin-right:4px;
}

.btn_user i{
    font-size:21px;
    transform:translate(4px,2px);
    color:#888;
}

.btn_user > span{
    display:inline-block;
    transform:translateY(-9px);
}

    .btn_icon > img, .btn_user img {
        width: 100%;
    }

nav {
    float: left;
    height: 48px;
    transition: .4s;
}


.gnb > li {
    float: left;
    width: 158px;
    padding:0 2px;
    text-align: center;
}

    .gnb > li:hover > .menu_h {
        color: #d11e1e;
    }

        .gnb > li:hover > .menu_h::after {
            width: 100%;
        }


.menu_h {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    display: block;
    float:left;
    line-height: 55px;
    height: 55px;
    position: relative;
    width:100%;
    text-align:center;
}

    .menu_h::after {
        content: "";
        position: absolute;
        height: 100%;
        margin: auto;
        border-bottom: 3px solid #d11e1e;
        width: 0;
        top: 0;
        left: 0;
        transition: .3s;
    }

.sub {
    display: none;
    position: absolute;
    width: 154px;
    top: 70px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(238,238,238,1) 100%);
}

.sub > li {
    font-size:14px;
    line-height:18px;
    padding: 15px 5px;
    /*border-bottom:1px solid #ccc;*/
}

.sub > li:last-child{
    border-bottom:0;
}

    .sub > li:hover {
        font-weight:bold;
        text-decoration: underline;
        background-color:rgba(0,0,0,.1);
    }

.search {
    float: left;
    padding: 5px 10px 0;
    position: relative;
}

    .search > input {
        width: 150px;
        height: 24px;
        text-indent: 4px;
        border: 1px solid #c7c7c7;
        font-size: 12px;
    }

    .search > button {
        position: absolute;
        top: 6px;
        right: 12px;
        background-color: transparent;
        border: none;
    }

#wrapContent, #loading {
    position: absolute;
}

#wrapContent {
    width: 1900px;
    border-top: 10px solid #77787b;
    top: 80px;
}

#wrapContent .jqx-tabs-content-element {
    padding: 10px;
    box-sizing: border-box;
}

#loading {
    width: 100%;
    /*background-color: rgba(255,255,255,.5);*/
    z-index: 9999;
    height: 880px;
    padding-top: 200px;
    text-align: center;
    -ms-overflow-style: none;
    top: 0px;
}

.loader-inner{
    margin:0 auto;
}

@-webkit-keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.3;
    }
}

@keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.3;
    }
}

@keyframes center-pulse {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.3;
    }

    75% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0;
    }
}


.ball-grid-pulse {
    width: 57px;
}

    .ball-grid-pulse > div:nth-child(1) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(2) {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(3) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(4) {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(5) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-duration: 2.4s;
        animation-duration: 2.4s;
        animation-name: center-pulse !important;
    }

    .ball-grid-pulse > div:nth-child(6) {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(7) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(8) {
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div:nth-child(9) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }

    .ball-grid-pulse > div {
        width: 15px;
        height: 15px;
        box-shadow: 1px 1px 20px #fff;
        border-radius: 100%;
        margin: 2px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: inline-block;
        float: left;
        -webkit-animation-name: ball-grid-pulse;
        animation-name: ball-grid-pulse;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-delay: 0;
        animation-delay: 0;
    }


/* scroll design */

.scrollX{
    overflow-x: auto;
}

.scrollX::-webkit-scrollbar{
    height:4px;
    background-color:#eee;
}

.scrollX::-webkit-scrollbar-thumb{
    background-color:#c5c5c5;
    
}

.scrollY {
    overflow-y: auto;
}

.scrollY::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}

.scrollY::-webkit-scrollbar-thumb {
    background-color: #c5c5c5; 
    width: 2px;
}



.custom-button{
    border: 1px solid #aaa;
    background:#fff;
    padding:6px 12px;
    text-align:center;
    margin:0;
    cursor:pointer;
    font-size:16px;
    border-radius:3px;
    text-indent:0 !important;
    box-shadow:#ccc -1px -1px 2px inset;
}

.custom-button:hover {
    background: #efefef;
}

.custom-checkbox{
    display:inline-block;
    vertical-align:sub;
}

button > .fas{
    font-size:0.9em;
    transform:translateY(-1px);
    opacity:0.8;
}


.kanban-legend {
    clear: both;
    float: right;
    padding: 10px 0;
    line-height: normal;
}

    .kanban-legend > ul > li {
        float: left;
        margin-right: 20px;
        font-size: 0.8em;
    }

    .kanban-legend .legend-color {
        width: 10px;
        height: 10px;
        display: inline-block;
    }


.dlg_table{
    margin:10px;
}


.dlg_table > table{
    width:100%;
}

.dlg_table  tr > td{
    padding:16px 10px 16px 0px;
    border-bottom:1px solid #ccc;
}

.dlg_table tr:last-child > td{
    border-bottom:none !important;
}

.lbText {
    display:inline-block;
    width: 100%;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0 !important;
    padding-left: 10px;
}

.dlg_table input[type=text] {
    width: 90%;
    height:30px;
    text-indent:8px;
    border: 1px solid #c7c7c7;
}


.dlgEditCalendar_table {
    width: 370px;
    padding-top: 50px;
}
.dlgEditCalendar_table tr > td:first-child {
    width: 30%;
    padding-left:10px;
}

.dlgEditCalendar_table .lbText{
    padding-left:0 !important;
}

.dlgEditCalendar_table input[type=text]{
    margin-left:10%;
}


.dlgCreateProject_table tr > td:nth-child(2n-1) {
    width: 20%;
    padding-left:10px;
}

.dlgCreateProject_table tr > td:nth-child(2n) {
    width: 30%;
}


.dlgLibraryManip_table tr > td:first-child {
    width: 30%;
}

.dlgLibraryManip_table input[type=text], .dlgEditPerson_table input[type=text] {
    width: 100% !important;
}

.dlgEditDepartment_table input, .dlgEditDepartment_table textarea{
    margin-left:10%;
}

.dlgEditPerson_table #txtDlgLoginPw {
    width:100%;
    height: 30px;
    text-indent: 8px;
    border: 1px solid #c7c7c7;
    border-radius:3px;
}

.dlgEditPerson_table td[rowspan='9']{
    width:270px;
    vertical-align:top;
    border-bottom:none;
    text-align:center;
}

.dlgCodeLibraryManip_table input[type=text]{
    width:100%;
}


.imgPerson, .signPerson {
    width: 180px;
    margin: 15px auto 25px;
    position: relative;
}

.imgPerson > button, .signPerson > button{
    position:absolute;
    left:34px;
    bottom:0;
}

.imgPerson {
    height:280px;
}

.signPerson{
    height:160px;
}

.inputImg, .showImg, .inputSign, .showSign{
    border: 1px solid #c5c5c5;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    text-align:center;
    vertical-align:middle;
}

.inputImg, .showImg{
    height:240px;
}

.inputSign, .showSign{
    height:120px;
}

.inputSign > span, .inputImg > span {
    width: 100%;
    z-index: 0;
    color: #bbb;
}

.inputSign > span {
    line-height: 120px;
}

.inputImg > span {
    line-height: 240px;
}

#hideShowPw_toggleBtn {
    position:absolute;
    right:18px;
    top:22px;
}

.pwInput{
    width:110px;
    height:33px;
    text-indent:8px;
}

#btnDlgSave {
    position: absolute;
    right: 10px;
}
/*#btnDlgPwReset {
    position: absolute;
    left: 10px;
}*/
/* searchBox */
.searchBox {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 -40px 80px #ddd inset;
    margin-bottom: 10px;
    border-radius: 3px;
}

.searchTitle{
    font-size:1.1em;
    line-height:56px;
    height:48px;
    text-indent:4px;
    margin:0 10px;
    border-bottom: 1px dotted #ccc;
}

.searchContent{
    padding:15px 0 15px 20px;
}

.searchContent::after{
    content:"";
    display:block;
    clear:both;
}

.searchData {
    float: left;
    margin-right: 30px;
    padding-bottom:15px;
}

.searchButton{
    float:left;
}

.searchData > div {
    display: inline-block;
    float:left;
}

.searchData input[type=text]{
    height:32px;
    line-height:32px;
    width:150px;
    margin-left:5px;
    text-indent:5px;
    background-color:#fff;
}

.searchData > div:first-child{
    line-height:32px;
    padding-right:8px;
}


/* Grid Component */

.rGridComponent{
    text-align:right;
    padding:5px 5px 0 0 !important;
}

.rGridComponent > button{
    margin-right:10px;
}

.rGridComponent > button:last-child{
    margin-right: 0 !important;
}

.lGridComponent {
    text-align: left;
    padding: 5px 0 0 5px !important;
}

    .lGridComponent > button {
        margin-right: 10px;
    }


/* Project Information */


.project_content, .EPart_content, .doc_content {
    float: left;
    position: absolute;
    top: 0px;
    left: 210px;
    width: 1690px;
    height: 820px;
}

.doc_content .basic_grid > label{
    margin:10px 0;
}

.changeOrder_content, .eBomChangeContents{
    float: left;
    position: absolute;
    top: 0;
    left: 260px;
    width:1640px;
    height:820px;
}

.info_project {
    position: relative;
}

.info_menubar {
    width: 200px;
    height: 820px;
    float: left;
    background-color: #eee;
    box-shadow: 0px -10px 40px #ccc inset;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

    .info_menubar > ul > li {
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
        border-radius: 8px;
        margin: 10px;
        cursor:pointer;
    }

    .info_menubar i {
        width: 40px;
        text-align: center;
        font-size: 1.5em;
        line-height:48px;
        padding-bottom:2px;
        transform:translateY(2px);
    }

    .info_menubar > ul > li:hover{
        background-color: #fff;
        box-shadow:0 1px 4px #aaa;
    }

    .info_focus {
        background-color: #fff;
        box-shadow: 0 1px 4px #aaa;
    }

.project_basic {
    width: 100%;
    padding: 20px 0;
    border: 1px solid #c5c5c5;
    background: linear-gradient(0deg, #eee, #fff);
    box-shadow: 0 0 1px #eee;
    margin-bottom: 10px;
}

.basic_info, .basic_image, .basic_status{
    height:100px;
    float:left;
    padding-left:50px;
}

.basic_info{
    width:26%;
}

.basic_info, .basic_image{
    border-right:1px dotted #bbb;
}

.basic_info > h3{
    margin:20px 0 10px;
    font-size:24px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.basic_image{
    width:28%;
    padding-top:5px;
}

.basic_image > div, .basic_image > ul{
    float:left;
}

.image_inputbox{
    width:90px;
    height:90px;
    border-radius:3px;
    border:1px dashed #3798ae;
    text-align:center;
    line-height:90px;
    color:#3798ae;
}

.file_inputbox {
    width: 300px;
    height: 60px;
    border-radius: 3px;
    border: 1px dashed #3798ae;
    text-align: center;
    line-height: 60px;
    color: #3798ae;
}

.image_thumbnail{
    width:180px;
    height:90px;
    margin-left:50px;
}

.image_thumbnail > li{
    height:100%;
    position:relative;
}

.image_thumbnail > li > img{
    max-width:160px;
    max-height:100%;
    position:absolute;
    top:0;
    left:0;
}

.image_thumbnail > li > i{
    position:absolute;
    top:0;
    cursor:pointer;
    background-color:#fff;
    z-index:9999;
}

.showbigimage{
    width:auto;
    height:auto;
    max-width:600px !important;
    max-height:unset !important;
    z-index:999;
}

.changeOrderImg, .ChangeRequestImg {
    width: 90%;
    margin-left: 5%;
    position: relative;
    border-right: none !important;
}

    .changeOrderImg > .image_inputbox, .changeOrderImg > .image_thumbnail, .ChangeRequestImg > .image_inputbox, .ChangeRequestImg > .image_thumbnail{
        width: 100%;
        height: 180px;
        border: 1px solid #c5c5c5;
        position: absolute;
        top: 10px;
        left: 0;
        line-height: 180px;
        text-align: center;
        margin-left: 0;
        color: #ccc !important;
    }

    .changeOrderImg > .image_inputbox, .ChangeRequestImg > .image_inputbox {
        z-index: 100;
    }


.pointer_wrap{
    margin-left:30px;
}

.pointer_wrap:after , .basic_image:after{
    clear: both;
    display: block;
    content: "";
}

.pointer{
    width:150px;
    height:60px;
    margin-left:-30px;
    float:left;
    background-image:url('/images/status_w.png');
}


.pointer > .project_status{
    width:100px;
    overflow: hidden;
    margin:20px 0px 0px 25px;
    font-size:15px;
    text-align: center;
}

.pointer_focus {
    background-image: url('/images/status_h.png') !important;
    color: #fff !important;
}

    .pointer_focus:before {
        border-left: 25px solid #3798ae !important;
    }

.infoTable {
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}

.infoTable th{
    background-color:#eee;
}

    .infoTable td, .infoTable th {
        border: 1px solid #c5c5c5;
        padding:3px 10px;
        /*line-height:30px;*/
        height:40px;
    }

.infoTable input{
    width:100%;
    border:none;
    background-color:#fff;
}
.infoTable input[readonly=readonly]{
    background-color:#fff !important;
    border:none;
}

.infoTable .ModifiableEditCustomBox{
    line-height:0;
}

.infoTable td > div, .infoTable td > div > div{
    float:left;
}

.infoTable textarea{
    width:100%;
}

.tr_tall{
    vertical-align:initial;
    height:96px;
}

.tr_tall > th{
    line-height:40px;
}

.infoH3{
    margin-top:14px;
    font-size:14px;
    line-height:22px;
}

.wbsMember {
    position: relative;
    width:90px;
    height:21px;
    padding-left:32px;
    float:left;
    white-space:nowrap;
    text-overflow:ellipsis;

}

.wbsMember:first-child ~ .wbsMember::before{
    content:",";
    padding-right:32px;
    margin-left:-42px;
}

.wbsDlgMember {
    position: relative;
    width: 100%;
    line-height:45px;
    padding-left:50px;
}

.pmsMember {
    position: relative;
    width: 70%;
    line-height: 24px;
    padding-left: 50px;
    display:inline-block;
}

.memberImg{
    width:35px;
    height:35px;
    position:absolute;
    top:5px;
    left:5px;
    overflow:hidden;
    border-radius:50%;
    border:1px solid #c5c5c5;
    float:left;
}

.wbsMember .memberImg {
    width: 20px;
    height: 20px;
    top:0px;
    left: 8px;
    float: left;
    margin-right:5px;
}

.pmsMember .memberImg{
    top:-5px !important;
}

.wbsDlgMember .memberImg > img {
    width: 35px;
    height: auto;
}

.wbsDlgMember .memberImg > i, .pmsMember .memberImg > i{
    font-size: 34px;
    transform: translateY(-1px);
}

.wbsMember .memberImg > img {
    width: 20px;
    height: auto;
}

.wbsMember .memberImg > i {
    font-size: 18px;
}


.import_excel td{
    padding:5px 0;
}

.checkExportData {
    margin: 5px 0 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.checkExportData > li{
    float:left;
}

.checkExportData > li > div.requiredData{
    background:transparent !important;
    cursor:default !important;
}

.checkExportMember {
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom:0;
    position:relative;
    padding:9px;
}

.checkExportMember > button{
    position:absolute;
    top:2px;
    right:2px;
}

.checkExportMember + div{
    width:100%;
    height:200px;
}

.checkMemberListTable{
    width:100%;
}

.checkMemberListTable td{
    border:1px solid #ddd;
    height:28px;
    text-align:center;
}

.checkMemberListTable thead{
    background-color:#eee;
}

/* dlgGateSignOffReport */
.dlgGateReportTab {
    height: 40px;
    box-sizing: border-box;
    padding: 5px 0 0 5px;
    background-color: #888;
}

.dlgGateReportTab > input[type=radio]{
    display:none;
}

input[name=gateReportRadio] + label {
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #aaa;
    cursor: pointer;
}

input[name=gateReportRadio]:checked + label {
    background-color: #fff !important;
}

.dlgGateReportContent{
    overflow-y:hidden;
    overflow-x:hidden;
}

.dlgGateReportContent .dlgTopInfo{
    position:relative;
    width:100%;
    border-bottom:1px solid #ddd;
    height:42px;
    padding:8px 5px;
    margin-bottom:8px;
}

.dlgGateReportContent .dlgTopInfo > label{
    margin-top:4px;
    padding:0 10px 0 0;
    border-right:1px solid #ccc;
}

.dlgGateReportContent .dlgTopInfo > span{
    margin-top:4px;
    margin-right:50px;
    padding-left:5px;
    color:#d11e1e;
}

.dlgGateReportContent .dlgTopInfo > button{
    position:absolute;
    top:4px;
    right:5px;
}

.dlgGateReportContent h4{
    font-size:14px;
    line-height:30px;
}

.dlgGateReportTable{
    width:100%;
    height:60px;
    margin-bottom:10px;
}

.dlgGateReportTable td{
    border:1px solid #aaa;
    text-align:center;
}

.dlgGateReportTable thead td{
    background-color:#e8e8e8;
    text-align:center;
    height:30px;
}

.dlgGateReportTable .remark{
    min-width:240px !important;
}

.grSchedule td{
    width:100px;
}

.dlgGateReportTable input[type=text]{
    width:98%;
    margin:0 1%;
    text-indent:5px;
    border:none;
    border-bottom:2px solid #c5c5c5;
    border-radius:unset;
}

.oemSchedule td{
    width:100px;
}

.issueStatusPointer{
    position:absolute;
    top:1px;
    left:49%;
    clear:both;
}

.issueStatusPointer > div{
    float:left;
    width:100px;
    height:30px;
    line-height:30px;
    background-color:#ddd;
    margin-right:3px;
    text-align:center;
    text-indent:15px;
    position:relative;
    font-size:15px;
}

    .issueStatusPointer > div:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 15px solid white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .issueStatusPointer > div:before {
        content: "";
        position: absolute;
        right: -15px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 15px solid #ddd;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

.issueStatusPointer > .crtStatus{
    background-color:#3798ae !important;
    color:#fff !important;
    font-weight:bold;
}

.issueStatusPointer > .crtStatus:before{
    border-left:15px solid #3798ae !important;
}




/* createtable */
.createtable {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}

.createtable tr{
    height:40px;
    border-bottom:1px solid #ccc;
}

.createtable tr:last-child{
    border-bottom:none;
}

.createtable th, .createtable td{
    padding:10px 20px;
}

.createtable input[type=text], .createtable select{
    height:30px;
    width:100%;
}

.createtable select{
    border:1px solid #c5c5c5;
    border-radius:3px;
}

.createtable textarea{
    width:100%;
    height:200px;
}

.doc_create th{
    width:11%;
}

.doc_create td {
    width: 22%;
}

.epart_create th{
    width:15%;
}

.epart_create td{
    width:35%;
}

.epart_create .image_inputbox, .epart_create .image_thumbnail {
    height: 90px;
    float:left;
    margin-right:30px;
}

.ebomImg{
    margin:0 auto;
    max-width:100%;
    max-height:100px;
}

.ebomImg > img{
    max-width:100%;
    max-height:100%;
}

.createChangeOrder_table {
    margin-bottom: 50px;
}

.createChangeOrder_table > h3{
    text-indent:10px;
    line-height:40px;
    border-bottom:3px double #ddd;
}

.createChangeOrder_table > .createtable tr:last-child{
    border-bottom: 1px solid #ccc;
}

.createChangeOrder_table > .createtable th{
    width:12%;
}

.createChangeOrder_table > .createtable td {
    width: 38%;
}

.createtable .issueRadioBtn, .createtable .issueCheckBox {
    float: left;
    margin-right: 8px;
}

/* UserManage */
.user_tree, .user_list {
    height: 800px;
    float: left;
}

.user_tree {
    width: 24%;
    margin-right: 1%;
}

.user_tree .jqx-tree-item-li{
    line-height:20px;
}

.treeButtonWrap {
    width:100.5%;
    padding: 10px 18px;
    position: relative;
    border: 1px solid #ccc;
    border-bottom:none;
    box-shadow: 0 -20px 40px #ddd inset;
    border-radius: 3px 3px 0 0;
}

.treeButtonWrap > h3{
    display:inline-block;
    line-height:34px;
}

.user_list{
    width:75%;
}


/* AuthorityManage */

.authUserList, .authSetting {
    float:left;
}

.authUserList{
    width:30%;
    margin-right:1%;
}

.authSetting {
    width: 69%;
}

.authSetting > h3{
    width:100%;
    height:54px;
    margin-bottom:5px;
    position:relative;
    box-sizing:border-box;
    padding:14px;
    font-weight:normal;
    border:1px solid #c5c5c5;
}

.authSetting > h3 > span{
    margin-left:10px;
}

.authSetting > h3 > button{
    position:absolute;
    right:10px;
    top:10px;
}

.authSetting > div{
    height:92%;
    float:left;
}

.authSetting > .authRoleList, .authSetting > .moduleList{
    width:25%;
    margin-right:1%;
}

.authSetting > .subList{
    width:48%;
}

.authTitle {
    height: 40px;
    line-height: 40px;
    background-color: #eee;
    border: 1px solid #c5c5c5;
    border-bottom: none ;
    text-indent: 8px;
}

.manageObject{
    width:100%;
    height:60px;
    border:1px solid #c5c5c5;
    margin-bottom:7px;
}

.authobjCheckbox{
    float:left;
    margin:20px 4% !important;
    line-height:20px;
}


/* ptDetailGateView */
.gateColumn {
    float: left;
    text-align: right;
    height: 560px;
    padding: 0 20px 0 40px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

    .gateColumn > li {
        padding: 10px 0;
    }

    .gateColumn > .gateTop {
        padding: 25px 0 !important;
    }

    .gateColumn h2 {
        height: 30px;
    }

.gates {
    width: 200px;
    height:560px;
    padding: 0 5px;
    float: left;
    text-align: center;
    border-left:none;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

    .gates:before {
        clear: both;
        content: "";
        display: block;
    }

.gateName {
    width:100%;
    font-size:16px;
    line-height:21px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.gateType {
    line-height:20px;
    display: block;
    font-size: 14px;
    margin:2px 0 18px;
}

.gatestatus {
    width:80%;
    border: 1px solid #aaa;
    margin-left:10%;
    margin-top: 20px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
}

.gatestatus .progress {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color:transparent;
}

.level {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background-color: #87edbe;
}

.gateDates {
    margin: 19px 0;
    line-height:20px;
}

    .gateDates img {
        margin: 0 4px;
        cursor: pointer;
    }

.gateicons > button {
    width: 85%;
    font-size: 12px;
    line-height: 22px;
    border: none;
    background-color: #fff;
    padding-bottom: 3px;
    text-align:left;
}

.gateicons > button:hover{
    background-color:#eee;
}

.gateicons > button > img{
    transform:translateY(5px);
    margin:0 8px 0 12px;
}


/* CreateProblemsLibrary */
.fixedCreateTop {
    width: 1883px;
    padding: 30px 20px 0;
    position: fixed;
    height:90px;
    top: 123px;
    left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.problemsLibraryDetailBox{
    height:150px;
    overflow:hidden;
}

.problemsLibraryDetailBox > textarea{
    width:40%;
    height:100%;
    resize:none;
    margin-right:10px;
    float:left;
}

.problemsLibraryDetailBox > img{
    width:auto;
    height:auto;
    max-width:40%;
    max-height:100%;
}

    .problemsLibraryDetailBox .image_thumbnail {
        width: unset;
        height: 90px;
        margin-left: 10px;
    }

        .problemsLibraryDetailBox .image_thumbnail > li {
            width:auto;
            max-width: 160px;
            height: 100%;
            position: relative;
        }

/* CreateOptimalDesign */
.optimalDesignTable {
    width: 100%;
    table-layout: fixed;
    text-align:center;
    margin-bottom:10px;
}

.optimalDesignTable td>div{
    margin:0 auto;
}

.optimalDesignTable input[type=text]{
    width:130px;
    height:32px;
}

/* QuickResponse */

.qmsDlgTable > label{
    line-height:24px;
    font-size:14px;
    text-indent:5px;
    margin-top:15px;
}

.qmsDlgTable > label:first-child{
    margin-top:0 !important;
}

.qmsDlgTable input[type=text]{
    height:32px;
    border:1px solid #c5c5c5;
}

.qmsDlgH{
    text-indent:10px;
    font-size:15px;
    border-bottom:1px solid #c5c5c5;
    padding-bottom:8px;
    transform:translateY(10px);
}

table[TableType=Why] th, table[TableType=Why] td {
    border: none !important;
}

.eBomChangeContents > div {
    width: 100%;
}

.eBomChangeContents > .eBomChangeTitle{
    height:50px;
    position:relative;
}

.eBomChangeTitle > button{
    position:absolute;
    right:0;
    top:8px;
}

.eBomChangeTitle > h2{
    line-height:50px;
    font-size:21px;
    text-indent:4px;
}

.eBomChangeContents h3 {
    line-height: 50px;
    text-indent: 4px;
    font-size:18px;
}

.eBomChangeContents table{
    margin-bottom:10px;
}

.eBomChangeContents table textarea{
    width:100%;
    height:100px;
}

.eBomChangeContents table input[type=text]{
    border-bottom:2px solid #c5c5c5;
    height:32px;
    border-radius:unset;
}

.effectAssessList {
    width: 100%;
    table-layout:fixed;
}

.effectAssessList td{
    width:50%;
    overflow:hidden;
    vertical-align:top;
    border:1px solid #c5c5c5;
}

.effectAssessList td > div{
    overflow-x:hidden;
    height:180px;
}

.effectAssessList td > div > div{
    border:0px solid transparent !important;
    border:none !important;
}

.effectAssessList h4{
    line-height:40px;
    text-indent:8px;
    background-color:#eee;
    border-bottom:1px solid #c5c5c5;
    position:relative;
}

.effectAssessList h4 > div{
    line-height:1.16;
    font-weight:normal;
    position:absolute;
    right:5px;
    top:4px;
}

.effectAssessList h4 > div> input[type=text]{
    height:32px;
}

.effectAssessList .chkbox{
    transform:unset !important;
}

.eBomChangeContents table td > div{
    float:left;
}


/* TotalProjMngt */
.cleanTitle {
    height: 45px;
    line-height: 45px;
    text-indent: 5px;
}

.partnerChartBox{
    width:100%;
    height:755px;
}

.partnerChartBox > div{
    width:24%;
    height:360px;
    margin-right:1%;
    float:left;
    background:#eee;
}

.partnerChartBox > div:nth-child(4n){
    margin-right:0 !important;
}


/* etc */
.editableCell {
    position: relative;
    width: 100%;
    height: 13px;
    margin-left: -4px;
    margin-top: -14px;
}

.editableCell > div {
    top:0;
    left:0;
    width: 0;
    height: 0;
    border-top: 10px solid red;
    border-right: 10px solid transparent;
}

.modifyTag{
    width:0;
    height:0;
    position:absolute;
    top:0;
    left:0;
    border-top:10px solid red;
    border-right:10px solid transparent;
}

.tskStartBtn{
    padding:3px 6px !important;
}

.tskStartBtn > i{
    color:#d11e1e;
    font-size:16px;
}

.chkbox {
    display: inline-block;
    transform: translateY(-6px);
    margin-left: 4px !important;
}

.jqx-tree-item-li > .jqx-tree-item {
    margin-left: 8px !important;
}

.jqx-listbox .jqx-fill-state-pressed{
    border-color:transparent;
}

table.tableTopButtonBox {
    width: 100%;
    height:43px;
    border-top:1px solid #c5c5c5;
    border-left:1px solid #c5c5c5;
    border-right:1px solid #c5c5c5;
}

table.tableTopButtonBox td {
    background-color: rgb(232,232,232);
    padding:5px;
}

table.tableTopButtonBox input[type=text]{
    height:33px;
    line-height:33px;
    width:250px;
    text-indent:5px;
}

.jqx-listitem-element .jqx-fill-state-disabled{
    color:inherit;
    opacity:unset;
    background:inherit;
    filter:unset;
}

div[role=columnheader]{
    font-weight:bold;
}

.issueRadioBtn {
    color: inherit !important;
    opacity: unset !important;
    background: inherit !important;
    filter: unset !important;
}

#resource .jqx-tree-grid-checkbox {
    transform: translateY(3px);
}

.effectAssessList .jqx-listbox > div > div > div {
    width: 100% !important;
}


.effectAssessList .jqx-listbox > div > div > div > div {
    width: 100% !important;
    z-index:10;
}

.effectAssessList .jqx-scrollbar-state-normal{
    right:0 !important;
    left:auto !important;
}

.effectAssessList .jqx-listbox-bottomright{
    display:none !important;
}

.effectAssessList .jqx-fill-state-disabled{
    background-color: transparent !important;
}

.mailAlert{
    width:270px;
    height:160px;
    background:#fff;
    text-align:center;
    box-shadow:-2px 6px 6px rgba(0,0,0,.3);
    border-radius:0 0 5px 5px;
    z-index:1;
    position:fixed;
    top:-160px;
    right:0;
}

.mailAlert > i.fa-times{
    position:absolute;
    top:15px;
    right:15px;
    cursor:pointer;
    color:#999;
}

.mailAlert > div {
    margin:18px auto;
    width:80px;
    height:80px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 5px 10px #ccc;
}

.mailAlert > div > i {
    color:#d11e1e;
    font-size:48px;
    line-height:80px;
}

.mailAlert > p{
    font-weight:bold;
}

.modalBack {
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
}

.modalDiv {
    width: 400px;
    height: 120px;
    z-index: 1000;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #aaa;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
}

.modalDiv > p{
    margin-bottom:20px;
}

.modalDiv > p > i{
    margin-right:10px;
}

.shakeModal{
    animation: shake 0.5s;
    animation-iteration-count:3;
}

@-webkit-keyframes shake{
    0% {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

/* IE6,7,8 */
@media \0screen\,screen\9 {
    .searchBox > .searchContent .jqx-datetimeinput .jqx-input-content {
        margin-left: -3px;
        margin-top: -1px;
    }
}

/* IE9,10 */
@media screen and (min-width:0\0){
    .searchBox > .searchContent .jqx-datetimeinput .jqx-input-content {
        margin-left: -3px;
        margin-top: -1px;
    }
}