@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #444;
}


body {
    font-family: "Malgun Gothic", "Arial";
    font-size: 14px;
    color: #444;
    overflow:hidden;
}


.login {
    width:300px;
    height:250px;
    position:absolute;
    top:600px;
    left:50%;
    margin-left:-150px;
    z-index:100;
}

.login>div{
    float:right;
    width:280px;
    text-align:center;
}

.login >div> input {
    height: 40px;
    border-radius: 5px;
    border: none;
}

.login >div> input[type=text], .login >div> input[type=password] {
    width: 280px;
    text-indent: 8px;
    border:1px solid #ccc;
    margin-top: 5px;
}

.login >div> input[type=button] {
    width: 280px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    background-color:rgba(255,255,255,0.7);
    transition:.4s;
}

.login >div> input[type=button]:hover {
    background-color:#fff;
    color:#555;
}

/*bxSilder*/

.visual .bx-wrapper{
    box-shadow: unset !important;
    border:unset !important;
}

.bx-controls{
    display:none;
}

.roll > li{
    width:100%;
    height:800px;
}

div.bg {
    width: 100%;
    height: 800px;
}

div.slogan {
    position:absolute;
    top: 50%;
    left: 0;
    z-index: 200;
    width: 100%;
    margin-top: -81px;
}

.slogan  > .text{
    text-align:center;
}

.text > strong {
    font-size: 62px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1em;
    position: relative;
}

.text > span {
    font-size: 62px;
    color: #fff;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1em;
    position: relative;
}

.text .underline {
    display: inline-block;
    clear: both;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    background: #fff;
}
