
@{
    Layout = null;
}

    <div style="padding:20px;">
        <table width="100%">
            <tbody>
                <tr>
                    <td>
                        <h2><i class="fas fa-edit"></i> 고가저 문제 반영 작성</h2>
                    </td>
                    <td style="text-align: right;">
                        <button id="" class="custom-button"><i class="fas fa-file"></i> 임시 저장</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<table class="optimalDesignTable">
    <tr>
        <td>고객사</td>
        <td>차종</td>
        <td>제품</td>
        <td>구분</td>
        <td>반영단계</td>
        <td>반영(건)</td>
        <td>미반영(건)</td>
        <td>합계(건)</td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <td>순서</td>
            <td>NO</td>
            <td>과거차 문제</td>
            <td>과거차 문제 개선 대책</td>
            <td>구분</td>
            <td>반영</td>
            <td>미반영</td>
            <td>사유</td>
            <td>첨부파일</td>
        </tr>
    </thead>
    <tbody>
        <!--동적으로 생성-->
    </tbody>
</table>
<script type="text/javascript">
</script>