
@{
    Layout = null;
}


<div style="width:100%; margin-right:20px;">
    <!--검색창-->
    <div class="searchBox">
        <div class="searchTitle">
            <label><i class="fas fa-folder-open"></i> &nbsp;E-BOM 검색</label>
        </div>
        <div class="searchContent">
            <div class="searchData">
                <div class="comboBoxLabel">고객사</div>
                <div>
                    <div id="SearchEPartOEM" class="searchEpartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">차종</div>
                <div>
                    <div id="SearchEPartCar" class="searchEpartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">프로젝트</div>
                <div>
                    <div id="SearchEPartPms" class="searchEpartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">프로젝트 라이브러리</div>
                <div>
                    <div id="" class="searchEpartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div>품번</div>
                <div><input id="SearchEPartName" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div>S/ON 품번</div>
                <div><input id="SearchEPartRepPartNo" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div>대체 품번</div>
                <div><input id="SearchEPartRepPartNo2" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div>품명</div>
                <div><input id="SearchEPartTitle" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">재질</div>
                <div>
                    <div id="" class="searchEpartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div>EO No</div>
                <div><input id="SearchEPartEoNo" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">EO 일자</div>
                <div>
                    <div id="SearchEPartEoNoHistory" class="searchEpartDateTimeInput"></div>
                </div>
            </div>
            <div class="searchData">
                <div>고객사 EO</div>
                <div>
                    <input id="SearchEPartSelEo" type="text" class="txtBox" value="" />
                </div>
            </div>
            <div class="searchData">
                <div class="checkBoxLabel">타입</div>
                <div>
                    <div id="SearchEPartTypeAssy" class="custom-checkbox">
                        Assy
                    </div>
                    <div id="SearchEPartTypeSAssy" class="custom-checkbox">
                        S/Assy
                    </div>
                    <div id="SearchEPartTypeDetail" class="custom-checkbox">
                        Detail
                    </div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">작성일</div>
                <div><div id="SearchEPartCreateDt" class="searchEpartDateTimeInput"></div></div>
            </div>
            <div class="searchData">
                <div class="checkBoxLabel">별납품</div>
                <div><div id="searchEpart_isSeperate" class="custom-checkbox"></div></div>
            </div>
            <div class="searchButton" >
                <button id="SearchEPartbtn" class="searchBtn custom-button"><i class="fas fa-search"></i> 검색</button>
            </div>
        </div>
    </div>
</div>

<div id="SearchEPartGrid"></div>
        
<script type="text/javascript">

    $(function () {
        //const CreEPartEoAppDate$ = $('#CreateEPartEo_No_ApplyDate');
        //
        //CreEPartEoAppDate$.jqxDateTimeInput(DateFormat);
        //CreEPartEoAppDate$.val(WebUtils.GetDate(-1, "m", "-"));
        //CreEPartEoAppDate$.jqxDateTimeInput({ width: "98%", height: 32 });
        //
        //const CreEPartSelEoDate$ = $('#CreateEPartSel_Eo_Date');
        //
        //CreEPartSelEoDate$.jqxDateTimeInput(DateFormat);
        //CreEPartSelEoDate$.val(WebUtils.GetDate(-1, "m", "-"));
        //CreEPartSelEoDate$.jqxDateTimeInput({ width: "98%", height: 32 });

        var SearchEPartOemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.oemList))');
        var SearchEPartOemLib$ = $('#SearchEPartOEM');
        var SearchEPartCarLib$ = $('#SearchEPartCar');
        var SearchEPartPmsLib$ = $('#SearchEPartPms');

        var OEMSource =
        {
            localdata: SearchEPartOemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                ]
        };
        var OEMdataAdapter = new $.jqx.dataAdapter(OEMSource);
        SearchEPartOemLib$.jqxComboBox({ source: OEMdataAdapter, displayMember: "KorNm", valueMember: "OID", });

        $(document).on('change', '#SearchEPartOEM', function () {
            SearchChangeEPartLib($('#SearchEPartOEM').jqxComboBox('getSelectedItem').value, $('#SearchEPartCar'));
            //SearchChangeEPartLib(SearchEPartOemLib$.jqxComboBox('getSelectedItem').value, SearchEPartCarLib$);
        });

        $('#SearchEPartTypeAssy').jqxRadioButton({ width: 100, height: 30, checked: true });
        $('#SearchEPartTypeSAssy').jqxRadioButton({ width: 120, height: 30, checked: false });
        $('#SearchEPartTypeDetail').jqxRadioButton({ width: 120, height: 30, checked: false });
        $('#searchEpart_isSeperate').jqxCheckBox({width:25, height:30, checked:false });
        $('.searchEpartComboBox').jqxComboBox({ width: 180, height: 33 });
        $('.searchEpartDateTimeInput').jqxDateTimeInput({ width: 250, height: 33, selectionMode: 'range', formatString: 'yyyy/MM/dd' });

        var SearchEPartSource = {
            datatype: 'json',
            datafields: [
                { name: 'OID' },
                { name: 'Name' },
                { name: 'BPolicyOID' },
                { name: 'BPolicy'},
                { name: 'CreateUsNm' },
                { name: 'CreateDt', type: 'date' },
                { name: 'Description' },
                { name: 'Title' },
                { name: 'Car_Lib_OID' },
                { name: 'Car_Lib_NM'},
                { name: 'Rep_Part_No' },
                { name: 'Rep_Part_No2' },
                { name: 'Eo_No' },
                { name: 'Eo_No_ApplyDt', type: 'date' },
                { name: 'Etc' },
                { name: 'EPartType' },
                { name: 'Sel_Eo' },
                { name: 'Sel_Eo_Dt', type: 'date' },
                { name: 'Spec' },
                { name: 'Thumbnail' },
                { name: 'Revision' },
                { name: 'Surface' }
            ],
        }

        const SearchEPartGrid$ = $('#SearchEPartGrid');
        SearchEPartGrid$.jqxGrid({
            theme: "kdnc",
            width: "100%",
            height: 580,
            rowsheight: 28,
            columnsheight: 30,
            //source: SearchEPartSource,
            sortable: false,
            pageable: false,
            columns: [
                {
                    text: 'NO', width: "3%", cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: '차종', datafield: 'Car_Lib_NM', width: "7%", align: 'center', cellsalign: 'center', },
                { text: '품번', datafield: 'Name', width: "12%", align: 'center', cellsalign: 'center', },
                { text: 'S/NO 품번', datafield: 'Rep_Part_No', width: "12%", align: 'center', cellsalign: 'center', },
                { text: '품명', datafield: 'Title', width: "12%", align: 'center', cellsalign: 'center', },
                { text: '재질', datafield: 'Spec', width: "7%", align: 'center', cellsalign: 'center', },
                { text: '표면처리', datafield: 'Surface', width: "7%", align: 'center', cellsalign: 'center', },
                { text: 'EO NO', datafield: 'Eo_No', width: "7%", align: 'center', cellsalign: 'center', },
                { text: 'EO 일자', datafield: 'Eo_No_ApplyDt', width: "7%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd',},
                { text: 'C/N', datafield: 'Revision', width: "5%", align: 'center', cellsalign: 'center', },
                { text: '작성일', datafield: 'CreateDt', width: "7%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '작성자', datafield: 'CreateUsNm', width: "7%", align: 'center', cellsalign: 'center', },
                {
                    text: '상태', datafield: 'BPolicy', width: "7%", align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + value.StatusNm + "</div>";
                    }
                },
                //{ text: '2D', datafield: 'Thumbnail', width: "7%", align: 'center', cellsalign: 'center', },
                //{ text: '3D', datafield: 'Description', width: "7%", align: 'center', cellsalign: 'center', }
            ],
            showtoolbar: true,
            toolbarheight: 45,
            rendertoolbar: function (statusbar) {
            }
        });

        SearchEPartGrid$.on('celldoubleclick', function (e) {
            const linkUrl = '/EBom/InfoEPart?OID=' + e.args.row.bounddata.OID;
            if ($("div[tabUrl='" + linkUrl + "']").length > 0) {
                var tabDiv = $("div[tabUrl='" + linkUrl + "']")[0].parentNode;
                $('#tabContent').jqxTabs('select', $(tabDiv).index());
                return;
            }

            const loading$ = $('#loading');
            const tabContent$ = $('#tabContent');
            loading$.css('display', 'block');
            var linkName = e.args.row.bounddata.Name;
            tabContent$.jqxTabs('addLast', linkName, "");
            var tabLength = tabContent$.jqxTabs('length');
            $.ajax({
                url: linkUrl,
                type: 'get',
                dataType: 'html',
                async: true,
                success: function (resHtml) {
                    var content = tabContent$.jqxTabs('getContentAt', tabLength - 1);
                    $(content).html("<div class='wrapPage' tabUrl='" + linkUrl + "'>" + resHtml + "</div>");
                }, error: function (res) {
                    if (res.status === 404) {
                        alert("현재 개발중인 화면입니다.");
                        return false;
                    }
                    alert(res.responseText);
                }
                , complete: function () {
                    loading$.css('display', 'none');
                }
            });
        });

        //$('#projType').jqxComboBox({ source: ['', '선행', '양산'], selectedIndex: 0, width: 170, height: 33, });
        getSearchEPartList(SearchEPartSource, SearchEPartGrid$, {});


        $('#SearchEPartbtn').on('click', function () {
            var param = {};
           
            param.Oem_Lib_OID = $("#SearchEPartOEM").jqxComboBox('val');
            param.Car_Lib_OID = $("#SearchEPartCar").jqxComboBox('val');
            param.Pms_OID = SearchEPartPms.value;

            param.Name = SearchEPartName.value;

            param.Rep_Part_No = SearchEPartRepPartNo.value;
            param.Rep_Part_No2 = SearchEPartRepPartNo2.value;
            param.Title = SearchEPartTitle.value;
            param.Eo_No = SearchEPartEoNo.value;
            param.Eo_No_History = SearchEPartEoNoHistory.value;
            param.Sel_Eo = SearchEPartSelEo.value;
            //param.Name = SearchEPartTypeAssy.value;
            //param.Name = SearchEPartTypeAssy.value;
            //param.Name = SearchEPartTypeAssy.value;
            //param.Name = searchEpart_isSeperate.value;
            param.CreateDt = SearchEPartCreateDt.value;


            getSearchEPartList(SearchEPartSource, SearchEPartGrid$, param);
            //RequestData("/Ebom/SelEPart", null, function (res) {
            //    PrintJqxGrid(SearchEPartSource, SearchEPartGrid$, res);
            //});
        });
    });

    function getSearchEPartList(_Source, _Grid$, param) {
        RequestData("/Ebom/SelEPart", param, function (res) {
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }


    function SearchChangeEPartLib(OID, ID) {
        var comboBox$ = ID;
        var param = {};
        param.fromOID = OID;
        var comboSource;
        RequestData("/Manage/SelLibrary", param, function (res) {
            if (res.length > 0) {
                comboSource =
                {
                    localdata: res,
                    datatype: "json",
                    datafields:
                        [
                            { name: 'KorNm', type: 'string' },
                            { name: 'OID', type: 'int' },
                        ]
                };
                var comboAdapter = new $.jqx.dataAdapter(comboSource);
                comboBox$.jqxComboBox({ source: comboAdapter, displayMember: "KorNm", valueMember: "OID"});
            }
        });
    }
</script>
