@{
    Layout = null;
}

<div>
    <div style="text-align:right;padding:0 0 10px;">
        <button class="custom-button" id="btnApprovComment"><i class="fas fa-check"></i> 완료</button>
    </div>
    <textarea style="width:100%;height:200px;padding:5px;" id="txtApprovComment" placeholder="내용을 입력하세요"></textarea>
</div>
