@{
    Layout = null;
}
<div id="listView">
    <div style="width:100%; margin-right:20px;">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;OpenIssue 현황</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div>프로젝트</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Project" style="width:130px;" readonly/>
                        <button id="SearchOpenIssueList_btnProject" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="searchData">
                    <div>프로젝트 단계</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Process" style="width:130px;" readonly/>
                        <button id="SearchOpenIssueList_btnProcess" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="searchData">
                    <div>고객사</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Customer" style="width:130px;" readonly/>
                        <button id="SearchOpenIssueList_btnCustomer" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="searchData">
                    <div>차종</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_CarType" style="width:130px;" readonly/>
                        <button id="SearchOpenIssueList_btnCarType" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="searchData">
                    <div>제품</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Product" style="width:130px;" readonly/>
                        <button id="SearchOpenIssueList_btnProduct" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="searchData">
                    <div>작성자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_User" style="width:130px;" readonly />
                        <button id="SearchOpenIssueList_btnUser" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i></button>
                    </div>
                </div>
                @*<div class="searchData">
                    <div>작성일</div>
                    <div>
                        <div style="display:flex;">
                            <div id="dtOpenIssueCreateSDt"></div>
                            <span style="margin-left:5px; margin-right:5px; text-align:center; line-height:1.835em;">~</span>
                            <div id="dtOpenIssueCreateEDt"></div>
                        </div>
                    </div>
                </div>*@
                <div class="searchButton">
                    <button id="SearchOpenIssueList_btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                    <button id="SearchOpenIssueList_btnRefresh" class="searchBtn custom-button" onclick=""> 초기화</button>
                </div>
            </div>
        </div>
    </div>
    <div id="SearchOpenIssue_Grid"></div>
</div>
<script>
    var OpenIssueSource =
    {
        dataType: "json",
        dataFields: [
            { name: 'OID', type: 'number' },
            { name: 'Name', type: 'string' },
            { name: 'ProjectOID', type: 'number' },
            { name: 'ProjectNm', type: 'string' },
            { name: 'ProcessOID', type: 'number' },
            { name: 'ProcessNm', type: 'string' },
            { name: 'CustomerOID', type: 'number' },
            { name: 'CustomerNm', type: 'string' },
            { name: 'CarTypeOID', type: 'number' },
            { name: 'CarTypeNm', type: 'string' },
            { name: 'ProductOID', type: 'number' },
            { name: 'ProductNm', type: 'string' },
            { name: 'CreateUs', type: 'number' },
            { name: 'CreateUsNm', type: 'string' },
            { name: 'CreateDt', type: 'date' }
        ],
        type: "POST",
        @* url: "/Qms/SelOpenIssueListGridList" *@
    };

    $(function () {
        // 프로젝트 검색
        const btnSearchProject$ = $("#SearchOpenIssueList_btnProject").jqxButton();
        btnSearchProject$.on("click", function () {
            // 검색
        });

        // 프로젝트 단계 검색
        const btnSearchProcess$ = $("#SearchOpenIssueList_btnProcess").jqxButton();
        btnSearchProcess$.on("click", function () {
            // 검색
        });

        // 고객사 검색
        const btnSearchCustomer$ = $("#SearchOpenIssueList_btnCustomer").jqxButton();
        btnSearchCustomer$.on("click", function () {
            // 검색
        });

        // 차종 검색
        const btnSearchCarType$ = $("#SearchOpenIssueList_btnCarType").jqxButton();
        btnSearchCarType$.on("click", function () {
            // 검색
        });

        // 제품 검색
        const btnSearchProduct$ = $("#SearchOpenIssueList_btnProduct").jqxButton();
        btnSearchProduct$.on("click", function () {
            // 검색
        });

        // 작성자 검색
        const btnSearchUser$ = $("#SearchOpenIssueList_btnUser").jqxButton();
        btnSearchUser$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("작성자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#SearchOpenIssueList_User").val(res[0].Name);
                $("#SearchOpenIssueList_User").attr("UserOID", res[0].OID);
            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        const btnSearch$ = $("#SearchOpenIssueList_btnSearch").jqxButton();
        btnSearch$.on("click", function () {
            // 검색
        });

        // 초기화
        const btnRefresh$ = $("#SearchOpenIssueList_btnRefresh").jqxButton();
        btnRefresh$.on("click", function () {
            var RefreshFunc = function (inputType, nodeId, removeAttrs) {
                const node$ = $("#" + nodeId);
                if (inputType === "txt") {
                    node$.val(null);
                } else if (inputType === "combo") {
                    node$.jqxComboBox('clearSelection');
                } else if (inputType === "num") {
                    node$.val(null);
                } else if (inputType === "date") {
                    // allowNullDate: true로 설정 하면 null 값 허용 가능
                    node$.jqxDateTimeInput({ value: null });
                }

                if (removeAttrs !== undefined && removeAttrs !== null && removeAttrs.length > 0) {
                    removeAttrs.forEach(function (v) {
                        node$.removeAttr(v);
                    });
                }
            }

            var removeAttrs = [];
            removeAttrs.push("UserOID");

            RefreshFunc("txt", "SearchOpenIssueList_User", removeAttrs);
        });

        @*// 작성일
        const dtOpenIssueCreateSDt$ = $("#dtOpenIssueCreateSDt")
        dtOpenIssueCreateSDt$.jqxDateTimeInput(DateFormat);
        dtOpenIssueCreateSDt$.val(WebUtils.GetDate(-1, "m", "-"));
        dtOpenIssueCreateSDt$.jqxDateTimeInput({ width: 150, height: 33, allowNullDate: true });

        const dtOpenIssueCreateEDt$ = $("#dtOpenIssueCreateEDt")
        dtOpenIssueCreateEDt$.jqxDateTimeInput(DateFormat);
        dtOpenIssueCreateEDt$.val(WebUtils.GetDate(+1, "m", "-"));
        dtOpenIssueCreateEDt$.jqxDateTimeInput({ width: 150, height: 33, allowNullDate: true });*@

        // OpenIssue List
        const openIssueList$ = $('#SearchOpenIssue_Grid');
        openIssueList$.jqxGrid({
            theme: "kdnc",
            width: '100%',
            height: 680,
            rowsheight: 28,
            columnsheight: 30,
            source: new $.jqx.dataAdapter(OpenIssueSource),
            sortable: false,
            pageable: false,
            selectionmode: 'singlerow',
            showtoolbar: true,
            toolbarheight: 45,
            columns: [
                {
                    text: 'NO', width: '5%', cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: '고객사', dataField: 'CustomerNm', width: '15%', align: 'center', cellsalign: 'center', },
                { text: '차종', dataField: 'CarTypeNm', width: '15%', align: 'center', cellsalign: 'center', },
                { text: '제품', dataField: 'DocumentType', width: '13%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '프로젝트', dataField: 'ProductNm', width: '22%', align: 'center', cellsalign: 'center', },
                { text: '프로젝트 단계', dataField: 'ProcessNm', width: '20%', align: 'center', cellsalign: 'center', },
                { text: '작성자', dataField: 'CreateUsNm', width: '10%', align: 'center', cellsalign: 'center', },
                @*{ text: '작성일', dataField: 'CreateDt', columnsresize:true, align: 'center', cellsalign: 'center', }*@
            ],
            rendertoolbar: function (toolBar) {
                var container = $("<div class='lGridComponent' ></div>");
                var addOpenIssueButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 등록</button>").jqxButton();
                var deleteButton = $("<button class='custom-button'><i class='fas fa-minus'></i> 삭제</button>").jqxButton();

                container.append(addOpenIssueButton);
                container.append(deleteButton);

                addOpenIssueButton.on('click', function () {
                    OpenDlgOpenIssue(null, null, null);
                });

                deleteButton.on('click', function () {

                });

                toolBar.append(container);
            }
        });
    });

    function OpenDlgOpenIssue(OpenIssueOID, ProjectOID, ProcessOID) {
        var popTitle = "";
        popTitle = "Open Issue 등록";

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditOpenIssue";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = OpenIssueOID;
        param.ProjectOID = ProjectOID;
        param.ProcessOID = ProcessOID;

        $(dlgDivView).load("/Qms/EditOpenIssue", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            $(dlgDivWrap).jqxWindow('modalDestory');
        });
    }

    function CloseDlgOpenIssue() {
        $("#dlgEditOpenIssue").jqxWindow("close");
    }
</script>

