@{
    Layout = null;
}
<div id="listView">
    <div style="width:100%; margin-right:20px;">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;OpenIssue 현황</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div>프로젝트</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Project" style="width:150px;"/>
                    </div>
                </div>
                <div class="searchData">
                    <div>프로젝트 단계</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Process" style="width:150px;"/>
                    </div>
                </div>
                <div class="searchData">
                    <div>고객사</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Customer" style="width:150px;"/>
                    </div>
                </div>
                <div class="searchData">
                    <div>차종</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_CarType" style="width:150px;"/>
                    </div>
                </div>
                <div class="searchData">
                    <div>제품</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_Product" style="width:150px;"/>
                    </div>
                </div>
                <div class="searchData">
                    <div>작성자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchOpenIssueList_User" style="width:150px;" />
                    </div>
                </div>
                @*<div class="searchData">
                    <div>작성일</div>
                    <div>
                        <div style="display:flex;">
                            <div id="dtOpenIssueCreateSDt"></div>
                            <span style="margin-left:5px; margin-right:5px; text-align:center; line-height:1.835em;">~</span>
                            <div id="dtOpenIssueCreateEDt"></div>
                        </div>
                    </div>
                </div>*@
                <div class="searchButton">
                    <button id="SearchOpenIssueList_btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                    <button id="SearchOpenIssueList_btnRefresh" class="searchBtn custom-button" onclick=""> 초기화</button>
                </div>
            </div>
        </div>
    </div>
    <div id="SearchOpenIssue_Grid"></div>
</div>
<script>
    var OpenIssueSource =
    {
        dataType: "json",
        dataFields: [
            { name: 'OID', type: 'number' },
            { name: 'Name', type: 'string' },
            { name: 'ProjectOID', type: 'number' },
            { name: 'ProjectNm', type: 'string' },
            { name: 'OemLibOID', type: 'number' },
            { name: 'OemLibNm', type: 'string' },
            { name: 'CustomerLibOID', type: 'number' },
            { name: 'CustomerLibNm', type: 'string' },
            { name: 'CarLibOID', type: 'number' },
            { name: 'CarLibNm', type: 'string' },
            { name: 'CreateDt', type: 'date' }
        ],
        type: "POST",
        url: "/Qms/SelOpenIssues",
        data: {

        }
    };

    $(function () {       
        const btnSearch$ = $("#SearchOpenIssueList_btnSearch").jqxButton();
        btnSearch$.on("click", function () {
            // 검색
        });

        // 초기화
        const btnRefresh$ = $("#SearchOpenIssueList_btnRefresh").jqxButton();
        btnRefresh$.on("click", function () {
            var RefreshFunc = function (inputType, nodeId, removeAttrs) {
                const node$ = $("#" + nodeId);
                if (inputType === "txt") {
                    node$.val(null);
                } else if (inputType === "combo") {
                    node$.jqxComboBox('clearSelection');
                } else if (inputType === "num") {
                    node$.val(null);
                } else if (inputType === "date") {
                    // allowNullDate: true로 설정 하면 null 값 허용 가능
                    node$.jqxDateTimeInput({ value: null });
                }

                if (removeAttrs !== undefined && removeAttrs !== null && removeAttrs.length > 0) {
                    removeAttrs.forEach(function (v) {
                        node$.removeAttr(v);
                    });
                }
            }

            var removeAttrs = [];
            removeAttrs.push("UserOID");

            RefreshFunc("txt", "SearchOpenIssueList_User", removeAttrs);
        });

        @*// 작성일
        const dtOpenIssueCreateSDt$ = $("#dtOpenIssueCreateSDt")
        dtOpenIssueCreateSDt$.jqxDateTimeInput(DateFormat);
        dtOpenIssueCreateSDt$.val(WebUtils.GetDate(-1, "m", "-"));
        dtOpenIssueCreateSDt$.jqxDateTimeInput({ width: 150, height: 33, allowNullDate: true });

        const dtOpenIssueCreateEDt$ = $("#dtOpenIssueCreateEDt")
        dtOpenIssueCreateEDt$.jqxDateTimeInput(DateFormat);
        dtOpenIssueCreateEDt$.val(WebUtils.GetDate(+1, "m", "-"));
        dtOpenIssueCreateEDt$.jqxDateTimeInput({ width: 150, height: 33, allowNullDate: true });*@

        // OpenIssue List
        const openIssueList$ = $('#SearchOpenIssue_Grid');
        openIssueList$.jqxGrid({
            theme: "kdnc",
            width: '100%',
            height: 675,
            rowsheight: 28,
            columnsheight: 30,
            source: new $.jqx.dataAdapter(OpenIssueSource),
            sortable: false,
            pageable: false,
            selectionmode: 'singlerow',
            showtoolbar: false,
            toolbarheight: 45,
            columns: [
                {
                    text: 'NO', width: '5%', cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: 'OEM', dataField: 'OemLibNm', width: '20%', align: 'center', cellsalign: 'center', },
                { text: '차종', dataField: 'CarLibNm', width: '20%', align: 'center', cellsalign: 'center', },
                { text: '고객사', dataField: 'CustomerLibNm', width: '20%', align: 'center', cellsalign: 'center', },
                { text: '프로젝트', dataField: 'ProjectNm', width: '20%', align: 'center', cellsalign: 'center', },
                { text: '작성일', dataField: 'CreateDt', width: '15%',align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd' }
            ],
            rendertoolbar: function (toolBar) {
                var container = $("<div class='lGridComponent' ></div>");
                var addOpenIssueButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 등록</button>").jqxButton();
                var deleteButton = $("<button class='custom-button'><i class='fas fa-minus'></i> 삭제</button>").jqxButton();

                container.append(addOpenIssueButton);
                container.append(deleteButton);

                addOpenIssueButton.on('click', function () {
                    var linkName = "Open Issue 등록";
                    var linkUrl = '/Qms/EditOpenIssue';

                    TabPageLoad(linkUrl, linkName);
                });

                deleteButton.on('click', function () {

                });

                toolBar.append(container);
            }
        });

        openIssueList$.on("rowdoubleclick", function (event) {
            var clickData = event.args.row.bounddata;
            var linkName = "[" + clickData.ProjectNm + "] 오픈이슈";
            var linkUrl = '/Qms/InfoOpenIssue?OID=' + clickData.OID;

            TabPageLoad(linkUrl, linkName);
        });
    });
</script>

