@{
    Layout = null;
}
<div id="listView">
    <div style="width:100%; margin-right:20px;">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;내처리문서현황</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div style="transform:translateY(-20px);">작업영역</div>
                    <div>
                        <div id="SearchMyProcessDocument_WorkType" style="margin-left:5px;"></div>
                    </div>
                </div>
                <div class="searchData">
                    <div>담당자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchMyProcessDocument_UserNm" />
                    </div>
                </div>
                <div class="searchData">
                    <div>문서단계</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchMyProcessDocument_DocumentType" />
                    </div>
                </div>
                <div class="searchData">
                    <div>작성자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchMyProcessDocument_CreatUs" />
                    </div>
                </div>
                <div class="searchData">
                    <div>부가정보</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchMyProcessDocument_Desc" />
                    </div>
                </div>
                <div class="searchData">
                    <div style="transform:translateY(-10px);">처리여부</div>
                    <div>
                        <div id="SearchMyProcessDocument_isProcess"></div>
                    </div>
                </div>
                <div class="searchButton">
                    <button id="SearchMyProcessDocument_btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                </div>
            </div>
        </div>
    </div>
    <div id="SearchMyProcessDocument_Grid"></div>
</div>
<script>
    var MyProcessDocumentSource =
    {
        dataType: "json",
        dataFields: [
            { name: 'OID', type: 'number' },
            { name: 'Name', type: 'string' },
            { name: 'WorkType', type: 'string' },
            { name: 'UserOID', type: 'number' },
            { name: 'UserNm', type: 'string' },
            { name: 'DocumentType', type: 'string' },
            { name: 'isProcess', type: 'number' },
            { name: 'CreateUsNm', type: 'string' },
            { name: 'Description', type: 'string' }
        ],
        type: "POST",
        @*url: "/Qms/SelMyProcessDocumentGridList"*@
    };

    $(function () {
        var myProcessDocumentWorkType$ = $('#SearchMyProcessDocument_WorkType');
        var myProcessDocumentList$ = $('#SearchMyProcessDocument_Grid');
        var myProcessDocumentisProcess$ = $('#SearchMyProcessDocument_isProcess');

        myProcessDocumentWorkType$.jqxComboBox({ source: null, width: 200, height: 32 });
        myProcessDocumentisProcess$.jqxCheckBox({ width: 80, height: 32, checked:false });
        myProcessDocumentList$.jqxGrid({
            theme: "kdnc",
            width: '100%',
            height: 680,
            rowsheight: 28,
            columnsheight: 30,
            source: new $.jqx.dataAdapter(MyProcessDocumentSource),
            sortable: false,
            pageable: false,
            selectionmode: 'singlerow',
            showtoolbar: true,
            toolbarheight: 45,
            columns: [
                {
                    text: 'NO', width: '5%', cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: '작업영역', dataField: 'WorkType', width: '15%', align: 'center', cellsalign: 'center', },
                { text: '담당자', dataField: 'Name', width: '15%', align: 'center', cellsalign: 'center', },
                { text: '문서단계', dataField: 'DocumentType', width: '13%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '처리여부', dataField: 'isProcess', width: '10%', align: 'center', cellsalign: 'center', },
                { text: '작성자', dataField: 'CreateUsNm', width: '10%', align: 'center', cellsalign: 'center', },
                { text: '부가정보', dataField: 'Description', columnsresize:true, align: 'center', cellsalign: 'center', }
            ],
            rendertoolbar: function (toolBar) {
                var container = $("<div class='lGridComponent' ></div>");
                var addWorkerEducationButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 작업자교육 등록</button>").jqxButton();
                var addQuickValidationButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 유효성검증 등록</button>").jqxButton();
                var addStandardFollowUpButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 표준화&Follow-Up 등록</button>").jqxButton();
                var addBlockadeButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 봉쇄조치 등록</button>").jqxButton();
                var addOccurrenceCauseButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 발생원인 등록</button>").jqxButton();
                var addImproveCounterMeasureButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 개선대책</button>").jqxButton();
                var deleteButton = $("<button class='custom-button'><i class='fas fa-minus'></i> 삭제</button>").jqxButton();
                container.append(addWorkerEducationButton);
                container.append(addQuickValidationButton);
                container.append(addStandardFollowUpButton);
                container.append(addBlockadeButton);
                container.append(addOccurrenceCauseButton);
                container.append(addImproveCounterMeasureButton);
                
                container.append(deleteButton);

                addWorkerEducationButton.on('click', function () {
                    OpenDlgWorkerEducation(null);
                });

                addQuickValidationButton.on('click', function () {
                    OpenDlgQuickValidation(null);
                });

                addStandardFollowUpButton.on('click', function () {
                    OpenDlgStandardFollowUp(null);
                });

                deleteButton.on('click', function () {

                });

                addBlockadeButton.on("click", function () {
                    OpenDlgBlockade(625, 626);
                })

                addOccurrenceCauseButton.on("click", function () {
                    OpenDlgOccurrenceCause(625, 633);
                });

                addImproveCounterMeasureButton.on("click", function () {
                    OpenImproveCounterMeasure(625, 633);
                })
                toolBar.append(container);
            }
        });
    });

    function OpenDlgWorkerEducation(WorkerEducationOID) {
        var popTitle = "";
        if (WorkerEducationOID === null) {
            popTitle = "신규 작업자교육 등록";
        } else {
            popTitle = "선택 작업자교육 수정";
        }

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditWorkerEducation";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = WorkerEducationOID;

        $(dlgDivView).load("/Qms/EditWorkerEducation", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgWorkerEducation() {
        $("#dlgEditWorkerEducation").jqxWindow("close");
    }

    function OpenDlgQuickValidation(QuickValidationOID) {
        var popTitle = "";
        if (QuickValidationOID === null) {
            popTitle = "신규 유효성검증 등록";
        } else {
            popTitle = "선택 유효성검증 수정";
        }

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditQuickValidation";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = QuickValidationOID;

        $(dlgDivView).load("/Qms/EditQuickValidation", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgQuickValidation() {
        $("#dlgEditQuickValidation").jqxWindow("close");
    }

    function OpenDlgStandardFollowUp(StandardFollowUpOID) {
        var popTitle = "";
        if (StandardFollowUpOID === null) {
            popTitle = "신규 표준화&Follow-Up 등록";
        } else {
            popTitle = "선택 표준화&Follow-Up 수정";
        }

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditStandardFollowUp";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = StandardFollowUpOID;

        $(dlgDivView).load("/Qms/EditStandardFollowUp", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgStandardFollowUp() {
        $("#dlgEditStandardFollowUp").jqxWindow("close");
    }


    function OpenDlgBlockade(QuickOID, ModuleOID) {
        var popTitle = "봉쇄조치 등록";       

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditBlockade";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = ModuleOID;
        param.QuickOID = QuickOID;

        $(dlgDivView).load("/Qms/EditQuickBlockade", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgBlockade() {
        $("#dlgEditBlockade").jqxWindow("close");
    }

    function OpenDlgOccurrenceCause(QuickOID, ModuleOID) {
        var popTitle = "원인분석 등록";  

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditOccurrenceCausee";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = ModuleOID;
        param.QuickOID = QuickOID;

        $(dlgDivView).load("/Qms/EditQuickOccurrenceCause", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgOccurrenceCause() {
        $("#dlgEditOccurrenceCausee").jqxWindow("close");
    }

    function OpenImproveCounterMeasure(QuickOID, ModuleOID) {
        var popTitle = "개선대책 등록";  

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditImproveCounterMeasure";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = ModuleOID;
        param.QuickOID = QuickOID;

        $(dlgDivView).load("/Qms/EditQuickImproveCounterMeasure", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();

            var posX = (winWidth / 2) - (1100 / 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({
                width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgImproveCounterMeasure() {
        $("#dlgEditImproveCounterMeasure").jqxWindow("close");
    }
</script>

