@{
    Layout = null;
}

<div id="listView">
    <div style="width:100%; margin-right:20px;">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;신속대응 검색</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div>발생유형</div>
                    <div>
                        <div id="SearchQuick_cbOccurrence" style="margin-left:5px;"></div>
                    </div>
                </div>

                <div class="searchData">
                    <div>OEM</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchQuick_OEM" />
                    </div>
                </div>
                <div class="searchData">
                    <div>차종</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchQuick_CarCode" />
                    </div>
                </div>
                <div class="searchData">
                    <div>품목</div>
                    <div>
                        <div id="SearchQuick_ItemNo" style="margin-left:5px;"></div>
                    </div>
                </div>

                <div class="searchData">
                    <div>품번</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchQuick_PartNo" />
                    </div>
                </div>

                <div class="searchData">
                    <div>품명</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchQuick_PartNm" />
                    </div>
                </div>

                <div class="searchData">
                    <div>일정계획담당자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchQuick_PlanUsNm" />
                    </div>
                </div>

                <div class="searchData">
                    <div>상태</div>
                    <div>
                        <div id="SearchQuick_Status" style="margin-left:5px;"></div>
                    </div>
                </div>

                <div class="searchData">
                    <div>작성자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchQuick_CreateUsNm" />
                    </div>
                </div>

                <div class="searchData">
                    <div>발생일자</div>
                    <div style="display:flex;">
                        <div id="SearchQuick_sDt"></div>
                        <span style="margin-left:5px; margin-right:5px; text-align:center; line-height:1.835em;">~</span>
                        <div id="SearchQuick_eDt"></div>
                    </div>
                </div>

                <div class="searchData">
                    <div>작성일</div>
                    <div>
                        <div style="display:flex;">
                            <div id="SearchQuick_CreateSDt"></div>
                            <span style="margin-left:5px; margin-right:5px; text-align:center; line-height:1.835em;">~</span>
                            <div id="SearchQuick_CreateEDt"></div>
                        </div>
                    </div>
                </div>

                <div class="searchButton">
                    <button id="SearchQuick_btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                </div>
            </div>         
        </div>
    </div>
    <div id="SearchQuickResponse_Grid"></div>
</div>

<script type="text/javascript">
    var QuickResponseSource =
    {
        dataType: "json",
        dataFields: [
            { name: 'OID', type: 'number' },
            { name: 'Name', type: 'string' },
            { name: 'Title', type: 'string' },
            { name: 'OccurrenceDt', type: 'date' },
            { name: 'PartNo', type: 'string' },
            { name: 'PartNm', type: 'string' },
            { name: 'CarCode', type: 'string' },
            { name: 'OemLibOID', type: 'number' },
            { name: 'OemNm', type: 'string' },
            { name: 'OccurrenceLibOID', type: 'number' },
            { name: 'OccurrenceNm', type: 'string' },
            { name: 'OccurrenceAreaLibOID', type: 'number' },
            { name: 'OccurrenceAreaNm', type: 'string' },
            { name: 'OccurrencePlace', type: 'string' },
            { name: 'LotNo', type: 'string' },
            { name: 'PoorCnt', type: 'string' },
            { name: 'WorkUserNm', type: 'string' },
            { name: 'EnrollmentLibOID', type: 'string' },
            { name: 'EnrollmentLibNm', type: 'string' },
            { name: 'ImputeLibOID', type: 'string' },
            { name: 'ImputeNm', type: 'string' },
            { name: 'PartGrpNm', type: 'string' },
            { name: 'Summary', type: 'string' },
            { name: 'CreateUsNm', type: 'string' },
            { name: 'PlanUserNm', type: 'string' },
            { name: 'StatusNm', type: 'string' },
            { name: 'FinishDt', type: 'date' },
            { name: 'CreateDt', type: 'date' },

            { name: 'ModuleBlockadeOID', type: 'number' },
            { name: 'ModuleBlockadeStatusNm', type: 'string' },
            { name: 'ModuleBlockadeFl', type: 'bool' },
            { name: 'ModuleBlockadeChargeUserOID', type: 'number' },
            { name: 'ModuleBlockadeChargeUserNm', type: 'string' },
            { name: 'ModuleBlockadeEstEndDt', type: 'string' },

            { name: 'ModuleOccurrenceCauseOID', type: 'number' },
            { name: 'ModuleOccurrenceCauseStatusNm', type: 'string' },
            { name: 'ModuleOccurrenceCauseFl', type: 'bool' },
            { name: 'ModuleOccurrenceCauseChargeUserOID', type: 'number' },
            { name: 'ModuleOccurrenceCauseChargeUserNm', type: 'string' },
            { name: 'ModuleOccurrenceCauseEstEndDt', type: 'string' },

            { name: 'ModuleImproveCountermeasureOID', type: 'number' },
            { name: 'ModuleImproveCountermeasureStatusNm', type: 'string' },
            { name: 'ModuleImproveCountermeasureFl', type: 'bool' },
            { name: 'ModuleImproveCountermeasureChargeUserOID', type: 'number' },
            { name: 'ModuleImproveCountermeasureChargeUserNm', type: 'string' },
            { name: 'ModuleImproveCountermeasureEstEndDt', type: 'string' },

            { name: 'ModuleErrorProofOID', type: 'number' },
            { name: 'ModuleErrorProofStatusNm', type: 'string' },
            { name: 'ModuleErrorProofFl', type: 'bool' },
            { name: 'ModuleErrorProofChargeUserOID', type: 'number' },
            { name: 'ModuleErrorProofChargeUserNm', type: 'string' },
            { name: 'ModuleErrorProofEstEndDt', type: 'string' },

            { name: 'ModuleLpaOID', type: 'number' },
            { name: 'ModuleLpaStatusNm', type: 'string' },
            { name: 'ModuleLpaFl', type: 'bool' },
            { name: 'ModuleLpaChargeUserOID', type: 'number' },
            { name: 'ModuleLpaChargeUserNm', type: 'string' },
            { name: 'ModuleLpaEstEndDt', type: 'string' },

            { name: 'ModuleCheckOID', type: 'number' },
            { name: 'ModuleCheckStatusNm', type: 'string' },
            { name: 'ModuleCheckFl', type: 'bool' },
            { name: 'ModuleCheckChargeUserOID', type: 'number' },
            { name: 'ModuleCheckChargeUserNm', type: 'string' },
            { name: 'ModuleCheckEstEndDt', type: 'string' },

            { name: 'ModuleStandardOID', type: 'number' },
            { name: 'ModuleStandardStatusNm', type: 'string' },
            { name: 'ModuleStandardFl', type: 'bool' },
            { name: 'ModuleStandardChargeUserOID', type: 'number' },
            { name: 'ModuleStandardChargeUserNm', type: 'string' },
            { name: 'ModuleStandardEstEndDt', type: 'string' },

            { name: 'ModuleWorkerEduOID', type: 'number' },
            { name: 'ModuleWorkerEduStatusNm', type: 'string' },
            { name: 'ModuleWorkerEduFl', type: 'bool' },
            { name: 'ModuleWorkerEduChargeUserOID', type: 'number' },
            { name: 'ModuleWorkerEduChargeUserNm', type: 'string' },
            { name: 'ModuleWorkerEduEstEndDt', type: 'string' }

        ],
        localdata: null
        //type: "POST",
        //url: "/Qms/SelQuickResponseGridList",
        //data : {
        //    SearchOccurrenceLibOID : $("#SearchQuick_cbOccurrence").val(),
        //    SearchOccurrenceSDt : $("#SearchQuick_sDt").jqxDateTimeInput('val'),
        //    SearchOccurrenceEDt : $("#SearchQuick_eDt").jqxDateTimeInput('val'),
        //    SearchOemNm: $("#SearchQuick_OEM").val(),
        //    SearchCarCode: $("#SearchQuick_CarCode").val(),
        //    SearchPartNo: $("#SearchQuick_PartNo").val(),
        //    SearchCreateUsNm : $("#SearchQuick_CreateUsNm").val(),
        //}
    };

    var nowDate = new Date();

    $(document).ready(function () {
        $("#SearchQuick_cbOccurrence").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.occurrenceList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#SearchQuick_Status").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.Status)), "OID", "StatusNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#SearchQuick_ItemNo").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.ItemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 250, height: 30 });

        $("#SearchQuick_sDt").jqxDateTimeInput(DateFormat);
        $("#SearchQuick_sDt").val(WebUtils.GetDate(-1, "m", "-"));
        $("#SearchQuick_sDt").jqxDateTimeInput({ width: 180, height: 32 });

        $("#SearchQuick_eDt").jqxDateTimeInput(DateFormat);
        $("#SearchQuick_eDt").val(WebUtils.GetDate(0, "d", "-"));
        $("#SearchQuick_eDt").jqxDateTimeInput({ width: 180, height: 32 });

        // 작성일
        $("#SearchQuick_CreateSDt").jqxDateTimeInput(DateFormat);
        $("#SearchQuick_CreateSDt").val(WebUtils.GetDate(-1, "m", "-"));
        $("#SearchQuick_CreateSDt").jqxDateTimeInput({ width: 180, height: 32 });

        $("#SearchQuick_CreateEDt").jqxDateTimeInput(DateFormat);
        $("#SearchQuick_CreateEDt").val(WebUtils.GetDate(0, "d", "-"));
        $("#SearchQuick_CreateEDt").jqxDateTimeInput({ width: 180, height: 32 });

        $("#SearchQuick_btnSearch").on("click", function () {
            initQuickResponseList();
        });

        var quickResponseList$ = $('#SearchQuickResponse_Grid');
        quickResponseList$.jqxGrid({
            theme: "kdnc",
            width: '100%',
            height: 625,
            rowsheight: 40,
            columnsheight: 45,
            source :  new $.jqx.dataAdapter(QuickResponseSource),
            sortable: false,
            pageable: false,
            selectionmode: 'singlerow',
            showtoolbar: false,
            toolbarheight: 45,
            columns: [
                {
                    text: 'NO', dataField: 'NO', width: '2.5%', cellsalign: 'center', columntype: 'number', align: 'center', pinned:true,
                    cellsrenderer: function (row, column, value, defaulthtml, columnproperties, rowData) {
                        return "<div style='display:flex;justify-content:center;align-items:center;width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'><a href='javascript:OpenQuickResponseDetail(\"#SearchQuickResponse_Grid\"," + rowData.uid + ")'>" + (value + 1) + "</a></div></div>";
                    }
                },
                {
                    text: '신속대응NO', dataField: 'Name', width: '11%', align: 'center', cellsalign: 'center', pinned: true,
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        return "<div style='display:flex;align-items:center;width:100%;height:100%;'><div style='width:calc(100%- 10px);margin-left:5px;'><a href='javascript:OpenQuickResonse(\"#SearchQuickResponse_Grid\"," + rowData.uid + ")'>" + (value) + "</a></div></div>";
                    }
                },
                { text: '품목', dataField: 'ItemGroup', width: '6%', align: 'center', cellsalign: 'center', pinned: true },
                { text: '고객사', dataField: 'OemNm', width: '6%', align: 'center', cellsalign: 'center', pinned: true },
                { text: '품번', dataField: 'PartNo', width: '7%', align: 'center', cellsalign: 'center', pinned: true },
                { text: '품명', dataField: 'PartNm', width: '7%', align: 'center', cellsalign: 'center', pinned: true },
                { text: '차종', dataField: 'CarCode', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '발생유형', dataField: 'OccurrenceNm', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '발생처', dataField: 'OccurrenceAreaNm', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '발생장소', dataField: 'OccurrencePlace', width: '6%', align: 'center', cellsalign: 'center' },
                { text: 'Lot No', dataField: 'LotNo', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '발생수량', dataField: 'PoorCnt', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '접수자', dataField: 'WorkUserNm', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '발생일자', dataField: 'OccurrenceDt', width: '6%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd' },
                { text: '등록구분', dataField: 'EnrollmentLibNm', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '귀책구분', dataField: 'ImputeNm', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '불량내용(문제점 요약)', dataField: 'Title', width: '11%', align: 'center', cellsalign: 'center' },
                { text: '신속대응등록자', dataField: 'CreateUsNm', width: '7%', align: 'center', cellsalign: 'center' },
                { text: '일정계획담당자', dataField: 'PlanUserNm', width: '7%', align: 'center', cellsalign: 'center' },
                { text: '상태', dataField: 'StatusNm', width: '5%', align: 'center', cellsalign: 'center' },
                { text: '종결일자', dataField: 'FinishDt', width: '6%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd' },
                {
                    text: '', dataField: '', width: '80px', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        var btnHistory = "<div><button id='btnPlanDate' class='btnGridBtn' style='width:77px;height:38px;text-align:center;line-height:0.5;padding:4px 5px;' title='일정관리' onclick='javascript:OpenDlgQuickResponsePlan(" + rowData.OID + ");'>일정관리</button></div>";

                        return "<div style='width:auto;display:flex;flex-direction:column;justify-content:center;align-content:center;padding:0px;margin-top:1px;margin-left:2px;'>" + btnHistory + "</div>";
                    }
                },
                {
                    text: '봉쇄조치(24H)', dataField: 'Blockade', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleBlockadeOID === null || rowData.ModuleBlockadeEstEndDt === null) {
                           return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleBlockadeFl, rowData.ModuleBlockadeStatusNm, rowData.ModuleBlockadeEstEndDt, rowData.ModuleBlockadeChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenBlockade(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '원인분석(7D)', dataField: 'OccurrenceCause', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                       if (rowData.ModuleOccurrenceCauseOID === null || rowData.ModuleOccurrenceCauseEstEndDt === null) {
                            return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleOccurrenceCauseFl, rowData.ModuleOccurrenceCauseStatusNm, rowData.ModuleOccurrenceCauseEstEndDt, rowData.ModuleOccurrenceCauseChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenOccurrenceCause(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '개선대책(14D)', dataField: 'ImproveCountermeasure', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleImproveCountermeasureOID === null || rowData.ModuleImproveCountermeasureEstEndDt === null) {
                            return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleImproveCountermeasureFl, rowData.ModuleImproveCountermeasureStatusNm, rowData.ModuleImproveCountermeasureEstEndDt, rowData.ModuleImproveCountermeasureChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenImproveCountermeasure(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: 'Error Proof', dataField: 'ErrorProof', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleErrorProofOID === null || rowData.ModuleErrorProofEstEndDt === null) {
                           return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleErrorProofFl, rowData.ModuleErrorProofStatusNm, rowData.ModuleErrorProofEstEndDt, rowData.ModuleErrorProofChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenErrorProof(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: 'LPA 감사', dataField: 'LpaUnfit', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleLpaOID === null || rowData.ModuleLpaEstEndDt === null) {
                            return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleLpaFl, rowData.ModuleLpaStatusNm, rowData.ModuleLpaEstEndDt, rowData.ModuleLpaChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenLpaUnfit(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '유효성 검증(34D)', dataField: 'Check', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                       if (rowData.ModuleCheckOID === null || rowData.ModuleCheckEstEndDt === null) {
                            return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleCheckFl, rowData.ModuleCheckStatusNm, rowData.ModuleCheckEstEndDt, rowData.ModuleCheckChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenQuickValidation(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '표준F/U(35D)', dataField: 'Standard', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleStandardOID === null || rowData.ModuleStandardEstEndDt === null) {
                            return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleStandardFl, rowData.ModuleStandardStatusNm, rowData.ModuleStandardEstEndDt, rowData.ModuleStandardChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenStandardFollowUp(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '작업자교육(40D)', dataField: 'WorkerEdu', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleWorkerEduOID === null || rowData.ModuleWorkerEduEstEndDt === null) {
                            return "<div></div>";
                        }

                        var status = GridStatus(rowData.ModuleWorkerEduFl, rowData.ModuleWorkerEduStatusNm, rowData.ModuleWorkerEduEstEndDt, rowData.ModuleWorkerEduChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenWorkerEducation(\"#SearchQuickResponse_Grid\"," + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                { text: '작성일', dataField: 'CreateDt', width: '6%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd' },
            ],
            rendertoolbar: function (toolBar) {
                var container = $("<div class='lGridComponent' ></div>");
                var addButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 추가</button>").jqxButton();
                var deleteButton = $("<button class='custom-button'><i class='fas fa-minus'></i> 삭제</button>").jqxButton();
                container.append(addButton);
                container.append(deleteButton);

                addButton.on('click', function () {
                    var linkName = "신속대응 등록";
                    var linkUrl = '/Qms/CreateQuickResponse';

                    TabPageLoad(linkUrl, linkName);
                });

                deleteButton.on('click', function () {

                });

                toolBar.append(container);
            }
        });

        initQuickResponseList();
    });

    function initQuickResponseList() {
        var param = {
            SearchOccurrenceLibOID: $("#SearchQuick_cbOccurrence").val(),
            SearchOccurrenceSDt: $("#SearchQuick_sDt").jqxDateTimeInput('val'),
            SearchOccurrenceEDt: $("#SearchQuick_eDt").jqxDateTimeInput('val'),
            SearchCreateSDt: $("#SearchQuick_CreateSDt").jqxDateTimeInput('val'),
            SearchCreateEDt: $("#SearchQuick_CreateEDt").jqxDateTimeInput('val'),
            SearchStatusOID: WebUtils.GetComboValue("SearchQuick_Status"),
            SearchItemGroup: WebUtils.GetComboValue("SearchQuick_ItemNo"),
            SearchOemNm: $("#SearchQuick_OEM").val(),
            SearchCarCode: $("#SearchQuick_CarCode").val(),
            SearchPartNo: $("#SearchQuick_PartNo").val(),
            SearchPartNm: $("#SearchQuick_PartNm").val(),
            SearchCreateUsNm: $("#SearchQuick_CreateUsNm").val(),
            SearchPlanUsNm : $("#SearchQuick_PlanUsNm").val(),
        }

        RequestData("/Qms/SelQuickResponseGridList", param, function (res) {
            PrintJqxGrid(QuickResponseSource, $("#SearchQuickResponse_Grid"), res);
        })
    }
</script>