@{
    Layout = null;
}

<div id="listView">
    <div style="width:100%; margin-right:20px;">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;신속대응 검색</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div style="transform:translateY(-20px);">구분</div>
                    <div>
                        <div id="SearchDocument_DocType" style="margin-left:5px;"></div>
                    </div>
                </div>
                <div class="searchData">
                    <div>품번</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchDocument_Name" />
                    </div>
                </div>
                <div class="searchData">
                    <div>제목</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchDocument_Title" />
                    </div>
                </div>
                <div class="searchData">
                    <div>EO NO</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchDocument_Eo_No" />
                    </div>
                </div>

                <div class="searchData">
                    <div>작성자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchDocument_CreatUs" />
                    </div>
                </div>
                <div class="searchButton">
                    <button id="SearchDocument_btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                </div>
            </div>         
        </div>
    </div>
    <div id="SearchQuickResponse_Grid"></div>
</div>

<script type="text/javascript">
    var QuickResponseSource =
    {
        dataType: "json",
        dataFields: [
            { name: 'OID', type: 'number' },
            { name: 'Name', type: 'string' },
            { name: 'Title', type: 'string' },
            { name: 'OccurrenceDt', type: 'date' },
            { name: 'OccurrenceNm', type: 'string' },
            { name: 'PartNo', type: 'string' },
            { name: 'PartNm', type: 'string' },
            { name: 'CarCode', type: 'string' },
            { name: 'PartGrpNm', type: 'string' },
            { name: 'Summary', type: 'string' },
            { name: 'CreateUsNm', type: 'string' },
            { name: 'PlanUserNm', type: 'string' },
            { name: 'FinishDt', type: 'date' },
            
            { name: 'ModuleBlockadeOID', type: 'number' },
            { name: 'ModuleBlockadeStatusNm', type: 'string' },
            { name: 'ModuleBlockadeFl', type: 'bool' },
            { name: 'ModuleBlockadeChargeUserOID', type: 'number' },
            { name: 'ModuleBlockadeChargeUserNm', type: 'string' },
            { name: 'ModuleBlockadeEstEndDt', type: 'string' },
            
            { name: 'ModuleOccurrenceCauseOID', type: 'number' },
            { name: 'ModuleOccurrenceCauseStatusNm', type: 'string' },
            { name: 'ModuleOccurrenceCauseFl', type: 'bool' },
            { name: 'ModuleOccurrenceCauseChargeUserOID', type: 'number' },
            { name: 'ModuleOccurrenceCauseChargeUserNm', type: 'string' },
            { name: 'ModuleOccurrenceCauseEstEndDt', type: 'string' },
            
            { name: 'ModuleImproveCountermeasureOID', type: 'number' },
            { name: 'ModuleImproveCountermeasureStatusNm', type: 'string' },
            { name: 'ModuleImproveCountermeasureFl', type: 'bool' },
            { name: 'ModuleImproveCountermeasureChargeUserOID', type: 'number' },
            { name: 'ModuleImproveCountermeasureChargeUserNm', type: 'string' },
            { name: 'ModuleImproveCountermeasureEstEndDt', type: 'string' },
            
            { name: 'ModuleErrorProofOID', type: 'number' },
            { name: 'ModuleErrorProofStatusNm', type: 'string' },
            { name: 'ModuleErrorProofFl', type: 'bool' },
            { name: 'ModuleErrorProofChargeUserOID', type: 'number' },
            { name: 'ModuleErrorProofChargeUserNm', type: 'string' },
            { name: 'ModuleErrorProofEstEndDt', type: 'string' },
            
            { name: 'ModuleLpaOID', type: 'number' },
            { name: 'ModuleLpaStatusNm', type: 'string' },
            { name: 'ModuleLpaFl', type: 'bool' },
            { name: 'ModuleLpaChargeUserOID', type: 'number' },
            { name: 'ModuleLpaChargeUserNm', type: 'string' },
            { name: 'ModuleLpaEstEndDt', type: 'string' },
            
            { name: 'ModuleCheckOID', type: 'number' },
            { name: 'ModuleCheckStatusNm', type: 'string' },
            { name: 'ModuleCheckFl', type: 'bool' },
            { name: 'ModuleCheckChargeUserOID', type: 'number' },
            { name: 'ModuleCheckChargeUserNm', type: 'string' },
            { name: 'ModuleCheckEstEndDt', type: 'string' },
            
            { name: 'ModuleStandardOID', type: 'number' },
            { name: 'ModuleStandardStatusNm', type: 'string' },
            { name: 'ModuleStandardFl', type: 'bool' },
            { name: 'ModuleStandardChargeUserOID', type: 'number' },
            { name: 'ModuleStandardChargeUserNm', type: 'string' },
            { name: 'ModuleStandardEstEndDt', type: 'string' },
            
            { name: 'ModuleWorkerEduOID', type: 'number' },
            { name: 'ModuleWorkerEduStatusNm', type: 'string' },
            { name: 'ModuleWorkerEduFl', type: 'bool' },
            { name: 'ModuleWorkerEduChargeUserOID', type: 'number' },
            { name: 'ModuleWorkerEduChargeUserNm', type: 'string' },
            { name: 'ModuleWorkerEduEstEndDt', type: 'string' }
          
        ],
        type: "POST",
        url : "/Qms/SelQuickResponseGridList"
    };

    
    var nowDate = new Date();

    $(document).ready(function () {
        var aa = "aaaaasd";
        var quickResponseList$ = $('#SearchQuickResponse_Grid');
        quickResponseList$.jqxGrid({
            theme: "kdnc",
            width: '100%',
            height: 600,
            rowsheight: 40,
            columnsheight: 30,
            source :  new $.jqx.dataAdapter(QuickResponseSource),
            sortable: false,
            pageable: false,
            selectionmode: 'singlerow',
            showtoolbar: true,
            toolbarheight: 45,
            columns: [
                {
                    text: 'NO', dataField: 'NO', width: '2.5%', cellsalign: 'center', columntype: 'number', align: 'center', pinned:true,
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                {
                    text: '신속대응NO', dataField: 'Name', width: '11%', align: 'center', cellsalign: 'center', pinned: true,
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        return "<div style='display:flex;align-items:center;width:100%;height:100%;'><div style='width:calc(100%- 10px);margin-left:5px;'><a href='javascript:OpenQuickResonse(" + rowData.uid + ")'>" + (value) + "</a></div></div>";
                    }
                },
                { text: '발생일자', dataField: 'OccurrenceDt', width: '6%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', pinned:true },
                { text: '발생유형', dataField: 'OccurrenceNm', width: '6%', align: 'center', cellsalign: 'center', pinned:true },
                { text: '품번', dataField: 'PartNo', width: '8%', align: 'center', cellsalign: 'center', pinned:true },                
                { text: '품명', dataField: 'PartNm', width: '8%', align: 'center', cellsalign: 'center', pinned:true },
                { text: '차종', dataField: 'CarCode', width: '6%', align: 'center', cellsalign: 'center' },
                { text: '문제내용', dataField: 'Summary', width: '15%', align: 'center', cellsalign: 'center' },
                { text: '신속대응등록자', dataField: 'CreateUsNm', width: '7%', align: 'center', cellsalign: 'center' },          
                { text: '일정계획담당자', dataField: 'PlanUserNm', width: '7%', align: 'center', cellsalign: 'center' },
                { text: '종결일자', dataField: 'FinishDt', width: '6%', align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd' },                         
                {
                    text: '', dataField: '', width: '80px', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                        var btnHistory = "<div><button id='btnPlanDate' class='btnGridBtn' style='width:77px;height:38px;text-align:center;line-height:0.5;padding:4px 5px;' title='일정관리' onclick='javascript:OpenDlgQuickResponsePlan(" + rowData.OID + ");'>일정관리</button></div>";
                      
                        return "<div style='width:auto;display:flex;flex-direction:column;justify-content:center;align-content:center;padding:0px;margin-top:1px;margin-left:2px;'>" + btnHistory + "</div>";
                    }
                },
                {
                    text: '봉쇄조치(24H)', dataField: 'Blockade', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {
                        if (rowData.ModuleBlockadeOID === null || rowData.ModuleBlockadeEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleBlockadeFl, rowData.ModuleBlockadeStatusNm, rowData.ModuleBlockadeEstEndDt, rowData.ModuleBlockadeChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenBlockade(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '원인분석(7D)', dataField: 'OccurrenceCause', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                       if (rowData.ModuleOccurrenceCauseOID === null || rowData.ModuleOccurrenceCauseEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleOccurrenceCauseFl, rowData.ModuleOccurrenceCauseStatusNm, rowData.ModuleOccurrenceCauseEstEndDt, rowData.ModuleOccurrenceCauseChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenOccurrenceCause(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '개선대책(14D)', dataField: 'ImproveCountermeasure', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                        if (rowData.ModuleImproveCountermeasureOID === null || rowData.ModuleImproveCountermeasureEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleImproveCountermeasureFl, rowData.ModuleImproveCountermeasureStatusNm, rowData.ModuleImproveCountermeasureEstEndDt, rowData.ModuleImproveCountermeasureChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenImproveCountermeasure(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: 'Error Proof', dataField: 'ErrorProof', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                        if (rowData.ModuleErrorProofOID === null || rowData.ModuleErrorProofEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleErrorProofFl, rowData.ModuleErrorProofStatusNm, rowData.ModuleErrorProofEstEndDt, rowData.ModuleErrorProofChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenErrorProof(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: 'LPA 감사', dataField: 'LpaUnfit', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                        if (rowData.ModuleLpaOID === null || rowData.ModuleLpaEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleLpaFl, rowData.ModuleLpaStatusNm, rowData.ModuleLpaEstEndDt, rowData.ModuleLpaChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenLpaUnfit(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '유효성 검증(34D)', dataField: 'Check', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                       if (rowData.ModuleCheckOID === null || rowData.ModuleCheckEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleCheckFl, rowData.ModuleCheckStatusNm, rowData.ModuleCheckEstEndDt, rowData.ModuleCheckChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenQuickValidation(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '표준F/U(35D)', dataField: 'Standard', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                        if (rowData.ModuleStandardOID === null || rowData.ModuleStandardEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleStandardFl, rowData.ModuleStandardStatusNm, rowData.ModuleStandardEstEndDt, rowData.ModuleStandardChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenStandardFollowUp(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },
                {
                    text: '작업자교육(40D)', dataField: 'WorkerEdu', width: '8%', align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, columnfield, value, defaulthtml, columnproperties, rowData) {                 
                        if (rowData.ModuleWorkerEduOID === null || rowData.ModuleWorkerEduEstEndDt === null) {
                            var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;'><a href='javascript:alert(\"" + aa + "\")'></a></div>";
                            var wrapChargerUser = "<div style='width:100%;text-align:center;'></div>";
                            return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                        }

                        var status = GridStatus(rowData.ModuleWorkerEduFl, rowData.ModuleWorkerEduStatusNm, rowData.ModuleWorkerEduEstEndDt, rowData.ModuleWorkerEduChargeUserNm);

                        var wrapPlanDate = "<div style='width:100%;text-align:center;border-bottom:1px dotted #9D9292;background-color:" + status.BackgroundColor + "'><a href='javascript:OpenWorkerEducation(" + rowData.uid + ");'>"+ status.EstDt + "</a></div>";
                        var wrapChargerUser = "<div style='width:100%;text-align:center;'>" + status.ChargeUserText + "</div>";
                        return "<div>" + wrapPlanDate + wrapChargerUser + "</div>";
                    }
                },                       
                { text: '상태', dataField: 'StatusNm', width: '5%', align: 'center', cellsalign: 'center' },
            ],
            rendertoolbar: function (toolBar) {
                var container = $("<div class='lGridComponent' ></div>");
                var addButton = $("<button class='custom-button'><i class='fas fa-plus'></i> 추가</button>").jqxButton();
                var deleteButton = $("<button class='custom-button'><i class='fas fa-minus'></i> 삭제</button>").jqxButton();
                container.append(addButton);
                container.append(deleteButton);

                addButton.on('click', function () {
                    var linkName = "신속대응 등록";
                    var linkUrl = '/Qms/CreateQuickResponse';

                    TabPageLoad(linkUrl, linkName);
                });

                deleteButton.on('click', function () {
                   
                });

                toolBar.append(container);
            }
        });
    });

    var GridStatus = function (ModuleFl, BPolicyNm, EstEndDt, ChargeUserNm) {
        var retJson = {};
        var BackgroundColor = "white";
        var ChargeUserText = ModuleFl ? ChargeUserNm : "N/A";
        var milli = EstEndDt.replace(/\/Date\((-?\d+)\)\//, '$1');
        var EstDate = new Date(parseInt(milli));
        var CompareEstDate = addDays(EstDate, 1);
        var nowDate = new Date();

        if (!ModuleFl) {
            BackgroundColor = "lightgreen";
        } else if (BPolicyNm === "Compleated") {
            BackgroundColor = "lightgreen";
            ChargeUserText = "(완료) " + ChargeUserText;
        } else if (BPolicyNm === "Started" && CompareEstDate >= nowDate) {
            BackgroundColor = "Yellow";
            ChargeUserText = "(실행전) " + ChargeUserText;
        } else if (BPolicyNm === "Prepare" && CompareEstDate >= nowDate) {
            BackgroundColor = "white";
        } else {
            BackgroundColor = "red";
            ChargeUserText = "(실행전) " + ChargeUserText;
        }

        //else if (BPolicyNm === "Started" && EstDate <= nowDate) {
        //    BackgroundColor = "yellow";
        //    ChargeUserText = "(실행전) " + ChargeUserText;
        //} 
        
        retJson.BackgroundColor = BackgroundColor;
        retJson.ChargeUserText = ChargeUserText;
        var sYear = EstDate.getFullYear();
        var sMonth = (EstDate.getMonth() + 1) <= 9 ? "0" + (EstDate.getMonth() + 1).toString() : (EstDate.getMonth() + 1).toString();
        var sDate = EstDate.getDate() <= 9 ? "0" + EstDate.getDate().toString() : EstDate.getDate().toString();
        retJson.EstDt = sYear + "-" + sMonth + "-" + sDate;
        return retJson;
    }

    function OpenQuickResonse(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = rowData.Title;
        var linkUrl = '/Qms/InfoQuickResponse?OID=' + rowData.OID;

        TabPageLoad(linkUrl, linkName);
    }

    function OpenBlockade(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] 봉쇄조치" ;
        var linkUrl = '/Qms/InfoBlockade?OID=' + rowData.ModuleBlockadeOID;

        TabPageLoad(linkUrl, linkName);
    }

    function OpenOccurrenceCause(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] 원인분석";
        var linkUrl = '/Qms/InfoOccurrenceCause?OID=' + rowData.ModuleOccurrenceCauseOID;

        TabPageLoad(linkUrl, linkName);
    }

    function OpenImproveCountermeasure(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] 개선대책";
        var linkUrl = '/Qms/InfoImproveCountermeasure?OID=' + rowData.ModuleImproveCountermeasureOID;

        TabPageLoad(linkUrl, linkName);
    }
    
    function OpenErrorProof(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] Error Prrof";
        var linkUrl = '/Qms/InfoErrorProof?OID=' + rowData.ModuleErrorProofOID;

        TabPageLoad(linkUrl, linkName);
    }

        
    function OpenLpaUnfit(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] LPA 감사";
        var linkUrl = '/Qms/InfoLpaUnfit?OID=' + rowData.ModuleLpaOID;

        TabPageLoad(linkUrl, linkName);
    }

    /**
     * 유효성 상세화면
     */
    function OpenQuickValidation(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] 유효성 검증";
        var linkUrl = '/Qms/InfoQuickValidation?OID=' + rowData.ModuleCheckOID;

        TabPageLoad(linkUrl, linkName);
    }

    /**
     * 표준화 상세화면
     */
    function OpenStandardFollowUp(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] 표준화";
        var linkUrl = '/Qms/InfoStandardFollowUp?OID=' + rowData.ModuleStandardOID;

        TabPageLoad(linkUrl, linkName);
    }

    /**
     * 작업자교육 상세화면
     */
    function OpenWorkerEducation(uid) {
        var rowData = $('#SearchQuickResponse_Grid').jqxGrid("getrowdata", uid);
        var linkName = "[" + rowData.Title + "] 작업자 교육";
        var linkUrl = '/Qms/InfoWorkerEducation?OID=' + rowData.ModuleWorkerEduOID;

        TabPageLoad(linkUrl, linkName);
    }


    function OpenDlgQuickResponse(QuickResponseOID) {
        var popTitle = "";
        if (QuickResponseOID === null) {
            popTitle = "신규 신속대응 등록";
        } else {
            popTitle = "선택 신속대응 수정";
        }

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditQuickResponse";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = QuickResponseOID;

        $(dlgDivView).load("/Qms/EditQuickResponse", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();            

            var posX = (winWidth / 2) - (1100/ 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({ width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgQuickResponse() {
        $("#dlgEditQuickResponse").jqxWindow("close");
    }

    function OpenDlgQuickResponsePlan(QuickResponseOID) {
        var popTitle = "신속대응 일정수립";     

        var dlgDivWrap = document.createElement("div");

        dlgDivWrap.id = "dlgEditQuickResponsePlan";
        var dlgDivTitle = document.createElement("div");
        var dlgDivView = document.createElement("div");

        dlgDivWrap.appendChild(dlgDivTitle);
        dlgDivWrap.appendChild(dlgDivView);

        var param = {};
        param.OID = QuickResponseOID;

        $(dlgDivView).load("/Qms/EditQuickResponsePlan", param, function () {
            var winHeight = $(window).height();
            var winWidth = $(window).width();            

            var posX = (winWidth / 2) - (1100/ 2) + $(window).scrollLeft();
            var posY = (winHeight / 2) - (900 / 2) + $(window).scrollTop();

            $(dlgDivWrap).jqxWindow({ width: 1100, height: 900, minWidth: 1100, minHeight: 900, draggable: true, resizable: true, isModal: true, autoOpen: false, modalOpacity: 0.5, showCloseButton: true, position: { x: posX, y: posY },
                initContent: function () {

                }
            });
            $(dlgDivWrap).jqxWindow('setTitle', popTitle);
            $(dlgDivWrap).jqxWindow("show");
        });

        $(dlgDivWrap).on('close', function (event) {
            //_DlgAttributeItem();
            $(dlgDivWrap).jqxWindow('modalDestory');
            //GetAttributeItemList();
        });
    }

    function CloseDlgQuickResponsePlan() {
        $("#dlgEditQuickResponsePlan").jqxWindow("close");
    }
</script>