@{
    Layout = null;
}
<div id="AssessListLibrary_ParentGrid" style="float:left;margin-right:0.9%;"></div>

<div id="AssessListLibrary_ChildGrid" style="float:left;"></div>

<script>
    var param = {};
    var Data;
    var mkey; //메인idx
    var subkey; //서브idx
    $(function () {
        var AssessListParentsource =
        {
            dataType: "json",
            dataFields: [
                { name: 'OID', type: 'number' },
                { name: 'Name', type: 'string' },
                { name: 'KorNm', type: 'string' },
                { name: 'Ord', type: 'number' },
                { name: 'isMove', type: 'string' },
                { name: 'Cdata', type: 'array' },
                { name: 'isChange', type: 'string' },
                { name: 'Revision', type: 'string' },
                { name: 'isParentMove', type: 'string' },
                { name: 'isDelete', type: 'string' },
                ],
            addrow: function (rowid, rowdata, position, commit) {
                // synchronize with the server - send insert command
                // call commit with parameter true if the synchronization with the server is successful
                //and with parameter false if the synchronization failed.
                Data.push(rowdata);
                AssessListParentGrd$.jqxGrid('setcellvalue', rowid, "isChange", "Y");
                commit(true);
            },
            updaterow: function (rowid, rowdata, commit) {
                // synchronize with the server - send update command
                // call commit with parameter true if the synchronization with the server is successful
                // and with parameter false if the synchronization failder.
                if (Data[mkey].Name != rowdata.Name) {
                    rowdata.isChange = "Y";
                }
                if (rowdata.isChange == "Y") {
                    AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isChange", "Y");
                    Data[mkey] = rowdata;

                }
                commit(true);
            },
            deleterow: function (rowid, commit) {
                console.log(Data[mkey]);
                Data[mkey].isDelete = 'Y';
                AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isChange", null);
                AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isMove", null);
                AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isDelete", "Y");
                commit(true);
            }
        };
        var initialized = false;
        const AssessListParentGrd$ = $('#AssessListLibrary_ParentGrid');
        AssessListParentGrd$.jqxGrid(
            {
                width: "49.4%",
                height: 800,
                theme: "kdnc",
                selectionmode: 'checkbox',
                //      source: dataAdapter,
                sortable: true,
                ready: function () {
                    initialized = true;

                },
                columns: [
                    { text: 'OID', datafield: 'OID', type: 'number', align: 'center', hidden: true },
                    { text: 'isChange', datafield: 'isChange', type: 'string', align: 'center', hidden: true },
                    { text: 'isMove', datafield: 'isMove', type: 'string', align: 'center', hidden: true },
                    { text: 'isDelete', datafield: 'isDelete', type: 'string', align: 'center', hidden: true },
                    { text: 'isParentMove', datafield: 'isParentMove', type: 'string', align: 'center', hidden: true },
                    {

                        text: 'NO', width: "10%", cellsalign: 'center', columntype: 'number', align: 'center',
                        cellsrenderer: function (row, column, value) {
                            return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: '내용', datafield: 'Name', type: 'string', width: '86.8%',
                        cellsrenderer: function (row, column, value) {
                            var item = AssessListParentGrd$.jqxGrid('getrowdata', row);
                            if (item.isChange == "Y") {
                                return "<div class='modifyTag' style='text-align:center;vertical-align:middle;'></div><p style='line-height:32px;text-indent:4px;'>" + value + "</p>";
                            } else {
                                return "<div style='width:100%;height:100%;text-indent:4px;vertical-align:middle;line-height:32px;'>" + value + "</div>";
                            }
                        }
                    },
                    // { text: '생성일', datafield: 'CreateDt', type: 'date', align: 'center', },
                    // { text: '생성자', datafield: 'CreateUsNm', type: 'string', align: 'center', },
                ],
                editable: true,
                editmode: 'dblclick',
                showToolbar: true,
                toolbarHeight: 45,

                 renderToolbar: function (statusbar) {

                    var container$ = $('<div class="lGridComponent"></div>');
                    var  AssessListParentAddBtn$ = $('<button class="custom-button"><i class="fas fa-plus-square"></i> 추가</button>').jqxButton();
                     var AssessListParentdelBtn$ = $('<button class="custom-button"><i class="fas fa-window-close"></i> 삭제</button>').jqxButton();
                     var AssessListParentUpBtn$ = $('<button class="custom-button"><i class="fas fa-caret-square-up"></i> 위로</button>').jqxButton();
                     var AssessListParentDownBtn$ = $('<button class="custom-button"><i class="fas fa-caret-square-down"></i> 아래로</button>').jqxButton();

                     container$.append(AssessListParentAddBtn$);
                     container$.append(AssessListParentdelBtn$);
                     container$.append(AssessListParentUpBtn$);
                     container$.append(AssessListParentDownBtn$);
                    statusbar.append(container$);
                    //행 추가
                    AssessListParentAddBtn$.on('click', function (e) {
                        AssessListParentGrd$.jqxGrid('addrow', null, {
                            'Name' : null,
                            'KorNm' : null,
                            'Ord' : null, 
                            'isMove': null,
                            'Cdata' : [],
                            'isChange': "Y",
                            'isParentMove':null

                        });
                    });
                     AssessListParentdelBtn$.on('click', function (e) {
                         var rowindex = AssessListParentGrd$.jqxGrid('selectedrowindexes');
                         rowindex.sort();
                         if (rowindex == null || rowindex == undefined || rowindex.length <=0) {
                             alert('삭제할 행을 선택하여 주세요');
                         } else {
                             if (confirm('삭제하시겠습니까?')) {
                                 for (var i = rowindex.length - 1; i >= 0; i--) {
                                     var id = AssessListParentGrd$.jqxGrid('getrowid', rowindex[i]);
                                     AssessListParentGrd$.jqxGrid('deleterow', id);
                                 }
                             }
                             AssessListParentGrd$.jqxGrid('clearselection');

                         }
                     });
                     AssessListParentUpBtn$.on('click', function (e) {
                         //var datarowIdx = AssessListChildGrd$.jqxGrid('getselectedrowindex');

                         var row = AssessListParentGrd$.jqxGrid('getrowdata', mkey);
                         var idx = row.boundindex - 1;
                         if (row.uid == 1) {
                             return;
                         }
                         const parentDataSource = AssessListParentGrd$.jqxGrid("source").loadedData;
                         fMoveGridRecusive(parentDataSource, row.OID, 'UP');
                         AssessListParentGrd$.jqxGrid('updatebounddata');
                         //AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isMove", "Y");
                         Data[0].isParentMove = "Y";
                         AssessListParentGrd$.jqxGrid('clearselection');
                         if (idx >= 0) {
                             AssessListParentGrd$.jqxGrid('selectrow', idx);
                         } else {
                             AssessListParentGrd$.jqxGrid('selectrow', 0);
                         }
                     });
                     AssessListParentDownBtn$.on('click', function (e) {
                         //  var datarowIdx = AssessListChildGrd$.jqxGrid('getselectedrowindexes');
                         var row = AssessListParentGrd$.jqxGrid('getrowdata', mkey);
                         var idx = row.boundindex + 1;
                         var maxLength = AssessListParentGrd$.jqxGrid('getrows').length;
                         if (row.uid == maxLength) {
                             return;
                         }
                         const parentDataSource = AssessListParentGrd$.jqxGrid("source").loadedData;
                         var midx = parentDataSource.length - 1;
                         fMoveGridRecusive(parentDataSource, row.OID, 'DOWN');
                         AssessListParentGrd$.jqxGrid('updatebounddata');
                         // AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isMove", "Y");
                         Data[0].isParentMove = "Y";
                         AssessListParentGrd$.jqxGrid('clearselection');
                         if (idx <= midx) {
                             AssessListParentGrd$.jqxGrid('selectrow', idx);
                         } else {
                             AssessListParentGrd$.jqxGrid('selectrow', midx);
                         }
                     });
                }
            });
        getAssessList(AssessListParentsource, AssessListParentGrd$, param);

        var AssessListChildsource =
        {
            dataType: "json",
            dataFields: [
                { name: 'OID', type: 'number' },
                { name: 'Name', type: 'string' },
                { name: 'KorNm', type: 'string' },
                { name: 'Ord', type: 'number' },
                { name: 'IsUse', type: 'string' },
                { name: 'isChange', type: 'string' },
            ],
            addrow: function (rowid, rowdata, position, commit) {
                // synchronize with the server - send insert command
                // call commit with parameter true if the synchronization with the server is successful
                //and with parameter false if the synchronization failed.
                Data[mkey].Cdata.push(rowdata);
                AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isChange", "Y");
                commit(true);
            },
            updaterow: function (rowid, rowdata, commit) {
                // synchronize with the server - send update command
                // call commit with parameter true if the synchronization with the server is successful
                // and with parameter false if the synchronization failder.
                if (Data[mkey].Cdata[rowid].Name != rowdata.Name) {
                    rowdata.isChange = "Y";
                }
                if (rowdata.isChange == "Y") {
                    AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isChange", "Y");
                    Data[mkey].Cdata[rowid] = rowdata;

                }
                commit(true);
            },
            deleterow: function (rowid, commit) {
                Data[mkey].Cdata.splice(rowid,1);
                AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isChange", "Y");
                commit(true);
            }
        };

        var initialized = false;
        const AssessListChildGrd$ = $('#AssessListLibrary_ChildGrid');
        AssessListChildGrd$.jqxGrid('refreshdata');
        AssessListChildGrd$.jqxGrid(
            {
                width: "49.4%",
                height: 800,
                theme: "kdnc",
                //      source: dataAdapter,
                selectionmode: 'checkbox',
                sortable: true,
                ready: function () {
                    initialized = true;

                },
                columns: [
                    { text: 'OID', datafield: 'OID', type: 'number', cellsalign: 'center', hidden: true },
                    {

                        text: 'NO', width: "10%", cellsalign: 'center', columntype: 'number', align: 'center',
                        cellsrenderer: function (row, column, value) {
                            return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                        }
                    },
                    {
                        text: '내용', width: '86.8%', datafield: 'Name', type: 'string', cellsrenderer: function (row, column, value) {
                            var item = AssessListChildGrd$.jqxGrid('getrowdata', row);
                            if (item.isChange == "Y") {
                                return "<div class='modifyTag' style='text-align:center;vertical-align:middle;'></div><p style='line-height:32px;text-indent:4px;'>" + value + "</p>";
                            } else {
                                return "<div style='width:100%;height:100%;text-indent:4px;vertical-align:middle;line-height:32px;'>" + value + "</div>";
                            }
                        },
                    },

                    // { text: '생성일', datafield: 'CreateDt', type: 'date', align: 'center', },
                    // { text: '생성자', datafield: 'CreateUsNm', type: 'string', align: 'center', },
                ],
                editable: true,
                editmode: 'dblclick',
                showToolbar: true,
                toolbarHeight: 45,
                renderToolbar: function (statusbar) {

                    var container$ = $('<div class="lGridComponent"></div>');
                    var AssessListChildAddBtn$ = $('<button class="custom-button"><i class="fas fa-plus-square"></i> 추가</button>').jqxButton();
                    var AssessListChilddelBtn$ = $('<button class="custom-button"><i class="fas fa-window-close"></i> 삭제</button>').jqxButton();
                    var AssessListChildUpBtn$ = $('<button class="custom-button"><i class="fas fa-caret-square-up"></i> 위로</button>').jqxButton();
                    var AssessListChildDownBtn$ = $('<button class="custom-button"><i class="fas fa-caret-square-down"></i> 아래로</button>').jqxButton();
                    var AssessListChildSaveBtn$ = $('<button class="custom-button"><i class="fas fa-check"></i>저장</button>').jqxButton();

                    container$.append(AssessListChildAddBtn$);
                    container$.append(AssessListChilddelBtn$);
                    container$.append(AssessListChildUpBtn$);
                    container$.append(AssessListChildDownBtn$);
                    container$.append(AssessListChildSaveBtn$);
                    statusbar.append(container$);
                    //행 추가
                    AssessListChildAddBtn$.on('click', function (e) {
                        var datarow = {};
                        datarow.isChange = "Y"
                        AssessListChildGrd$.jqxGrid('addrow', null, datarow);
                    });
                    AssessListChilddelBtn$.on('click', function (e) {
                        var rowindex = AssessListChildGrd$.jqxGrid('selectedrowindexes');
                        rowindex.sort();
                        if (rowindex == null || rowindex == undefined || rowindex.length <= 0) {
                            alert('삭제할 행을 선택하여 주세요');
                        } else {
                            if (confirm('삭제하시겠습니까?')) {
                                for (var i = rowindex.length - 1; i >= 0; i--) {
                                    var id = AssessListChildGrd$.jqxGrid('getrowid', rowindex[i]);
                                    AssessListChildGrd$.jqxGrid('deleterow', id);
                                }
                            }

                        }
                    });
                    AssessListChildUpBtn$.on('click', function (e) {
                        //var datarowIdx = AssessListChildGrd$.jqxGrid('getselectedrowindex');

                        var row = AssessListChildGrd$.jqxGrid('getrowdata', subkey);
                        var idx = row.boundindex - 1;
                        console.log(row);
                        if (row.uid == 0) {
                            return;
                        }
                        const childDataSource = AssessListChildGrd$.jqxGrid("source").loadedData;
                        fMoveGridRecusive(childDataSource, row.OID, 'UP');
                        AssessListChildGrd$.jqxGrid('updatebounddata');
                        //AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isMove", "Y");
                        Data[mkey].isMove = "Y";
                        AssessListChildGrd$.jqxGrid('clearselection');
                        if (idx >= 0) {
                            AssessListChildGrd$.jqxGrid('selectrow', idx);
                        } else {
                            AssessListChildGrd$.jqxGrid('selectrow', 0);
                        }
                    });
                    AssessListChildDownBtn$.on('click', function (e) {
                        //  var datarowIdx = AssessListChildGrd$.jqxGrid('getselectedrowindexes');
                        var row = AssessListChildGrd$.jqxGrid('getrowdata', subkey);
                        var idx = row.boundindex + 1;
                        var maxLength = AssessListChildGrd$.jqxGrid('getrows').length;
                        if (row.uid == maxLength) {
                            return;
                        }
                        const childDataSource = AssessListChildGrd$.jqxGrid("source").loadedData;
                        var midx = childDataSource.length - 1;
                        fMoveGridRecusive(childDataSource, row.OID, 'DOWN');
                        AssessListChildGrd$.jqxGrid('updatebounddata');
                       // AssessListParentGrd$.jqxGrid('setcellvalue', mkey, "isMove", "Y");
                        Data[mkey].isMove = "Y";
                        AssessListChildGrd$.jqxGrid('clearselection');
                        if (idx <= midx) {
                            AssessListChildGrd$.jqxGrid('selectrow', idx);
                        } else {
                            AssessListChildGrd$.jqxGrid('selectrow', midx);
                        }
                    });

                    AssessListChildSaveBtn$.on('click', function (e) {
                        if (confirm("저장하시겠습니까?")) {
                            RequestData('/Manage/updateAssessLibrary',{ _param: Data }, function (response) {
                                if (response.isError) {
                                    alert(response.resultMessage);
                                    return;
                                }
                                alert("저장되었습니다.");
                                AssessListParentGrd$.jqxGrid('clearselection');
                                AssessListChildGrd$.jqxGrid('clearselection');
                                getAssessList(AssessListParentsource, AssessListParentGrd$, param);
                                PrintJqxGrid(AssessListChildsource, AssessListChildGrd$, null);
                            });
                        }
                    });
                }

            });
        AssessListParentGrd$.on('rowselect', function (event) {
            var args = event.args;
            mkey = args.rowindex;
            var item = AssessListParentGrd$.jqxGrid('getrowdata', args.rowindex);
            AssessListChildGrd$.jqxGrid('clearselection');
           // PrintJqxGrid(AssessListChildsource, AssessListChildGrd$, Data[args.rowindex].Cdata);
        });
        AssessListParentGrd$.on('cellclick', function (event) {
            var args = event.args;
            mkey = args.rowindex;
            var item = AssessListParentGrd$.jqxGrid('getrowdata', args.rowindex);
            AssessListChildGrd$.jqxGrid('clearselection');
            PrintJqxGrid(AssessListChildsource, AssessListChildGrd$, Data[args.rowindex].Cdata);
        });

        AssessListChildGrd$.on('rowselect', function (event) {
            var args = event.args;
            subkey = args.rowindex;
            var item = AssessListChildGrd$.jqxGrid('getrowdata', args.rowindex);
           // console.log(Data[args.rowindex].Cdata);
        });
    });
    function getAssessList(_Source, _Grid$, _param) {
        RequestData("/Manage/SelAssessLibrary", _param, function (res) {
            Data = res;
            PrintJqxGrid(_Source, _Grid$, Data);
        });
    }
</script>