@{
    Layout = null;
}

<div id="CustomerScheduleTemplate_ParentGrid" style="float:left;margin-right:0.9%;"></div>
<div id="CustomerScheduleTemplate_ChildGrid" style="float:left;"></div>

<script>
    $(function () {
        
    });
    
</script>