
@{
    Layout = null;
}
<div class="searchBox">
    <div class="searchTitle">
        <label><i class="fas fa-folder-open"></i> &nbsp;문서분류체계</label>
    </div>
    <div class="searchContent">
        <div class="searchData">
            <div>분류</div>
            <div>
                <input type="text" class="txtBox" id="dlgDocClassName" />
            </div>
        </div>
        <div class="searchButton">
            <button id="dlgDocClassSearchBtn" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
        </div>
    </div>
</div>
<div id="dlgDocClassSearchGrid"></div>

<script>
    //TODO: 문서 분류 검색
</script>